{% if reg_archivos %}
{% for archivo in reg_archivos %}
<h2>{{ archivo.nombre }}</h2>
<p>{{ archivo.ruta }}</p>
<p>{{ archivo.creacion }}</p>
<br>
{% endfor %}
{% else %}
<p>Sin datos</p>
{% endif %}

