{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<html lang="es-ES">
    <head>
        {% include 'meta.html' %}
        {% include 'head.html' %}

        <style type="text/css">
            #txt_asunto{
                width: 100%;
            }
        </style>
    </head>

    <body class="page page-template-default custom-background waves-pagebuilder menu-fixed header-logo_left theme-full">

		<div id="theme-layout">
            {% include 'header.html' %}

			<!-- Start Main -->
			<section id="main">
			<div id="page">
            	<!--Start Content Connectus-->
                <!--Start Page Header-->
                	<div id="PageHeader">
                    	<div class="container">
                        	<div class="waves-breadcrumbs">
								<div id="crumbs" class="">
								<span class="crumb-item"><a href="/">Homepage</a></span><span class="crumb-item current">Contacto</span>
                                </div>
                            </div>
                        	<div class="col-md-6"><img src="{% static 'img/contact-header-image.png' %}" /></div>
                            <div class="col-md-6">
                                <div id="PageData"><br /><div id="PageTitle">COMUNÍCATE CON NOSOTROS</div><br />
                                Nuestros ejecutivos se pondrán en contacto<br>
                                contigo durante el transcurso del día.
								</div>
							</div>
                        </div>
                    </div>
                <!--End Page Header-->
                <!--Start Form-->
                	<div id="PortWhy">
                        <!--Start Contact Content-->
                        	<div class="row-container light bg-scroll" style="">
								<div class="waves-container container">
									<div class="row">
										<div class="col-md-12">
											<!--Start Form Title-->
                      			<div class="row">
                                        <div id="respuesta"></div>
                                        <br>
												<div id="SectionTitleBlue">
													Déjanos tu mensaje
												</div>
											</div>
                                			<!--End Form Title-->
										<div class="row">

											<div class="tw-element col-md-12" style="">
												<div role="form" class="wpcf7" id="wpcf7-f335-p581-o1" lang="en-US" dir="ltr">
													<div class="screen-reader-response">
													</div>

   							<form method="POST">
                                                        {% csrf_token %}

                                                        <div class="row">
                                                            
                                                            <span class="wpcf7-form-control-wrap your-name">
                                                                <input type="text"  id="name" name="name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Nombre completo"/>
                                                            </span>

                                                            <span class="wpcf7-form-control-wrap your-email">
                                                                <input type="text" name="mail" id="mail" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email"/>
                                                            </span>

                                                            <span class="wpcf7-form-control-wrap your-fono">
                                                                <input type="text" name="fono" id="fono"  value="" size="40" class="wpcf7-form-control wpcf7-text " aria-required="true" aria-invalid="false" placeholder="Teléfono"/>
                                                            </span>
                                                        </div>

                                                        <div class="row">
                                                                <input id='txt_asunto' type="text" name="website"  value=""  class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Asunto"/>
                                                      
                                                        </div>
            											
                                                        <div class="row">
                                                            <p>
                                                                <span class="wpcf7-form-control-wrap your-message">
                                                                <textarea  name="comment" id="comment" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Escribe aquí tu mensaje"></textarea></span>
                                                            </p>

                                                            <p>
                                                                <input type="submit" onclick="onclickenviar()" value="ENVIAR">
                                                                
                                                            </p>


                                                        </div>
                                                            
    												</form>
												</div>
											</div>
										</div>
									</div>
									</div>
								</div>
							</div>
                            <!--End Contact Content-->
                    </div>
                <!--End Form-->



                <!--End Content Connectus-->
			</div>
			</section>
			<!-- End Main -->

            {% include 'footer.html' %}


        </div>
            {% include 'javascript.html' %}

<script>

var params = {};

if (location.search) {
    var parts = location.search.substring(1).split('&');

    for (var i = 0; i < parts.length; i++) {
        var nv = parts[i].split('=');
        if (!nv[0]) continue;
        params[nv[0]] = nv[1] || true;
    }
}

if(params.resp == "error"){
var data = '<div class="alert alert-danger"><strong>Error, faltan datos para poder enviar el correo</strong></div>';
}
if(params.resp == "ok"){
var data = '<div class="alert alert-success"><strong>Correo enviado exitosamente</strong></div>';
}
if(data !="")
jQuery("#respuesta").html(data);

//alert(params.resp);
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
    }
  }
  return cookieValue;
}            

function onclickenviar(){
var cookie = getCookie('csrftoken');
        jQuery.ajax({
            type: "POST",
            url: '/contacto/',
            data: {
                csrfmiddlewaretoken: cookie,
                name : jQuery("#name").text(),
                mail : jQuery("#mail").text(),
                fono : jQuery("#fono").text(),
                website : jQuery("#txt_asunto").text(),
                comment : jQuery("#comment").text(),
             },
            success: function(data) {
//                if(data.info !== 'error'){
//                    $this.parents('form').find('input[type=text],textarea,select').filter(':visible').val('');
//                    message.hide().removeClass('success').removeClass('error').addClass('success').html(data.msg).fadeIn('slow').delay(5000).fadeOut('slow');
//                } else {
//                    message.hide().removeClass('success').removeClass('error').addClass('error').html(data.msg).fadeIn('slow').delay(5000).fadeOut('slow');
//                }
            }
        });
}
</script>
    </body>
</html>
