{% load staticfiles %}

<div id="bottom">
    <!-- Start Container-->
    <div class="container">

        <div class="row">

            <div class='col-md-4'></div>

            <div class="col-md-4 center">
                <aside class="widget flickr_widget" id="contactinfo-2">
                <div id="FooterLogo"><img src="{% static 'img/logo-blank.png' %}" /></div>
                <div id="FooterMn">
                    <a href="sms.html">sms</a> | <a href="email.html">e-mail</a> | ivr | whatsapp
                </div>
                <div id="FooterData">Santa Beatriz Nº 100, Oficina 501 - Providencia<br /><i class="fa fa-phone-square"></i> +569 8449 2882</div>
                </aside>
            </div>

            <div class="col-md-4 center">
                <aside class="widget flickr_widget" id="contactinfo-2">
                <div id="FooterLogo2"><img src="{% static 'img/subtel-logo.jpg' %}" /></div>
                </aside>
            </div>

        </div>
    </div>
    <!-- End Container -->

   
</div>