{% load staticfiles %}

<link rel="shortcut icon" href="{% static  'img/favicon.png' %}" type="image/png" />

<link rel='stylesheet' href="{% static 'css/mmenu.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/bootstrap-datetimepicker.min.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/settings.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/prettyPhoto.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/animate.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/tw_woocommerce.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/twentytwenty.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/responsive.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/connectus.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/blue_skin.css' %}" type='text/css' media='all' />


<link rel="shortcut icon" href="{% static '/img/favicon.png' %}" type="image/x-icon" />    
<!--[if IE]><link rel="SHORTCUT ICON" href="images/favicon.ico"/><![endif]--><!-- Internet Explorer-->
<link rel='apple-touch-icon' type='images/png' href="{% static '/img/icon.57.png' %}"> <!-- iPhone -->
<link rel='apple-touch-icon' type='images/png' sizes='72x72' href="{% static '/img/icon.72.png' %}"> <!-- iPad -->
<link rel='apple-touch-icon' type='images/png' sizes='114x114' href="{% static '/img/icon.114.png' %}"> <!-- iPhone4 -->

<link rel="shortcut icon" href="{% static '/img/favicon.png' %}" type="image/x-icon" />    
<!--[if IE]><link rel="SHORTCUT ICON" href="images/favicon.ico"/><![endif]--><!-- Internet Explorer-->
<link rel='apple-touch-icon' type='images/png' href="{% static '/img/icon.57.png' %}"> <!-- iPhone -->
<link rel='apple-touch-icon' type='images/png' sizes='72x72' href="{% static '/img/icon.72.png' %}"> <!-- iPad -->
<link rel='apple-touch-icon' type='images/png' sizes='114x114' href="{% static '/img/icon.114.png' %}"> <!-- iPhone4 -->

<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,700,800,900' rel='stylesheet' type='text/css'>
