<!-- Start Header -->
{% load staticfiles %}

<div class="header-container">
    <header id="header" class="header-large">


        <div class="container">
            <div class="header row">
                <div class="div_top_left col-xs-6 ">
                    <span><i class="fa fa-phone-square"></i> +569 8449 2882</span>
                </div>

                <div class=" col-xs-7 col-xs-6 push_right">
                    <div class="tw-top-widget">
                        <span class="top-widget-title widgettitle">
                            <div id="BotAccount">
                                <a href="/registro" hreflang="es" class="AccountLink">crea tu cuenta gratuita</a>
                            </div>
                        </span>
                    </div>

                    <div class="tw-top-widget" id="wysija-2">
                        <span class="top-widget-title widgettitle">
                            <div id="UserLog">
                                <a href="/login" hreflang="es"  target="_blank">Ingreso Usuarios</a>
                            </div>
                        </span>
                    </div>
                </div>  


            </div>

            <div class="show-mobile-menu clearfix">
                <a href="#" class="mobile-menu-icon">
                <span></span><span></span><span></span><span></span>
                </a>
            </div>
            <div class="row header">
                <div class="col-md-3">
                    <div class="tw-logo">
                        <a class="logo" href="/" hreflang="es" ><img class="logo-img" src="{% static 'img/logo.png' %}" title="Connectus"/></a>
                    </div>
                </div>
                <div class="col-md-9">
                    <nav class="menu-container clearfix">
                        <div class="tw-menu-container">
                            <!--<a id="tw-nav-toggle" href="#"><span></span></a>-->
                            <ul id="menu" class="sf-menu">
                                <li class="menu-item current-menu-ancestor"><a href="/" hreflang="es" >Homepage</a></li>
                                <li  class="menu-item  menu-item-has-children"><a href="#" hreflang="es" >Servicios</a>
                                    <ul class="sub-menu">
                                        <li  class="menu-item"><a href="/sms-masivo" hreflang="es" >SMS</a></li>
                                        <li  class="menu-item"><a href="/mail-masivo" hreflang="es" >E-mail</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a  href="/plataforma" hreflang="es" >Plataforma</a></li>
                                <li class="menu-item"><a href="/contacto" hreflang="es" >Contacto</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <nav id="mobile-menu">
            <ul id="menu-menu-1" class="clearfix">
                <li class="menu-item  current-menu-ancestor"><a href="/" hreflang="es" >Homepage</a></li>
                
                <li class="menu-item  menu-item-has-children"><a href="#" hreflang="es" >Servicios</a>
                    <ul class="sub-menu">
                        <li class="menu-item "><a href="/sms-masivo" hreflang="es" >SMS</a></li>
                        <li class="menu-item "><a href="/mail-masivo" hreflang="es" >E-mail</a></li>
                    </ul>
                </li>
                
                <li class="menu-item"><a href="/plataforma" hreflang="es" >Plataforma</a></li>
                <li class="menu-item"><a href="/contacto" hreflang="es" >Contacto</a></li>
            </ul>
        </nav>

        <div class="header-dropshadow"></div>
        
    </header>
    
    <div class="header-clone"></div>
</div>
<!-- End Header -->