<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
{% load staticfiles %}

<link rel='stylesheet' href="{% static 'css/mmenu.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/settings.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/prettyPhoto.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/animate.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/font-awesome.min.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/tw_woocommerce.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/twentytwenty.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/responsive.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/connectus.css' %}" type='text/css' media='all' />
<link rel='stylesheet' href="{% static 'css/blue_skin.css' %}" type='text/css' media='all' />



<html lang="es-ES">
    <head>
    {% include 'meta.html' %}
    {% include 'head.html' %}
	</head>

<body class="page page-template-default custom-background waves-pagebuilder menu-fixed header-logo_left theme-full">

		<div id="theme-layout">

            {% include 'header.html' %}
			{% include 'slider.html' %}
			
			
            <!-- Start Main -->
			<section id="main">
			<div id="page">
            	<!--Start Content Connectus-->
                <!--Start New Services Responsive-->
                <div id="MainServices">
                	<div class="col-md-12">
                    	<div class="row">
                            <div class="col-md-12">
                				<div class="row">
            						<div id="MainTitle">
                                    	NUESTROS SERVICIOS | <span class="MainSubtitle">Envíos masivos de SMS y E-mail</span>
                                    </div>
                    			</div>
                			</div>
                        </div>
                    </div>
                    <div class="row-container light bg-scroll" style="">
					<div class="waves-container container">
						<div class="row">
							<div class="col-md-12 ">
								<div class="row">
									<div class="tw-element carousel-container col-md-12" style="">
										<div class="waves-carousel-post list_carousel carousel-anim" data-autoplay="false" data-items="4">
											<div class="waves-carousel">
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/icon-sms.png' %}"/><br />
                                                        <div id="ServicesTitle">SMS</div>
                                                        <p class="pServices">Llega a tus contactos de forma instantánea, donde quiera que estén e independientemente de si están usando un smartphone o un teléfono regular.</p><br />
                                                        <div id="MyBtnplace">
                                                        	<div id="MyBtn">
                                                        		<a href="sms-masivo" class="TextBlank" title="Ver Más">Ver más</a>
                                                        	</div>
                                                     	</div>
													</div>
												</div>
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/icon-email.png' %}" /><br />
                                                        <div id="ServicesTitle">
                                                        	E-mail
                                                        </div>
                                                        <p class="pServices">Envía mensajes sin límites de contenido y fáciles de compartir a través de uno de los medios de marketing mas costo-efectivo que existe.</p><br />
                                                        <div id="MyBtnplace">
                                                        	<div id="MyBtn">
                                                        	<a href="mail-masivo" class="TextBlank" title="Ver Más">Ver más</a>
                                                        	</div>
                                                        </div>
													</div>
												</div>
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/icon-ivr.png' %}" /><br />
                                                        <div id="ServicesTitle">
                                                        	IVR
                                                        </div>
                                                        <p class="pServices">Genera diálogos con textos, imágenes, audios y videos, y sin límites de caracteres a través del servicio de mensajería instantánea por excelencia.</p><br />
                                                        <div id="MyBtnplace">
                                                        	<div id="MyBtnInactive">
                                                        		próximamente
                                                        	</div>
                                                        </div>
													</div>
												</div>
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/icon-whatsapp.png' %}" /><br />
                                                        <div id="ServicesTitle">
                                                        	Whatsapp
                                                        </div>
                                                        <p class="pServices">Diminuye los costos operacionales de tu empresa e incrementa los niveles de eficiencia y satisfacción en la atención a clientes.</p><br />
                                                        <div id="MyBtnplace">
                                                        	<div id="MyBtnInactive">
                                                        		Próximamente
                                                        	</div>
                                                        </div>
													</div>
												</div>
											</div>
											<div class="clearfix">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                </div>
                <!--End New Services Responsive-->
                <!--Start New Plataform Responsive-->
                <div id="MainPlataform">
                	<div class="col-md-12">
						<div class="row">
                        	<div id="SectionTitle">
                            	Nuestra Plataforma
                            </div>
                        </div>
                    </div>
                    <div class="row-container light bg-scroll" style="">
					<div class="waves-container container">
						<div class="row">
							<div class="col-md-12 ">
								<div class="row">
									<div class="tw-element carousel-container col-md-12" style="">
										<div class="waves-carousel-post list_carousel carousel-anim" data-autoplay="false" data-items="6">
											<div class="waves-carousel">
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/icon-responsiva.png' %}" /><br />
                                                        <div id="PlataformTitle">Web & Responsive</div>
                                                        <p class="pPlataform">Accede a nuestra plataforma desde tu PC, celular o tablet, donde quiera que estés.</p>
													</div>
												</div>
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/icon-autogestion.png' %}" /><br />
                                                        <div id="PlataformTitle">Autogestionable</div>
                                                        <p class="pPlataform">Es simple e intuitiva. Gestiona tus campañas sin la necesidad de intermediarios.</p>
													</div>
												</div>
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/icon-soporte.png' %}" /><br />
                                                        <div id="PlataformTitle">Soporte</div>
                                                        <p class="pPlataform">Nuestros ejecutivos están disponibles para ayudarte cuando así lo necesites.</p>
													</div>
												</div>
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/icon-reportes.png' %}" /><br />
                                                        <div id="PlataformTitle">Reportes en Línea</div>
                                    <p class="pPlataform">Reportes en tiempo real y herramientas en linea para la toma de decisiones.</p>
													</div>
												</div>
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/icon-integracion.png' %}" /><br />
                                                        <div id="PlataformTitle">Integración vía API</div>
                                                        <p class="pPlataform">Integra tu sistema de gestión utilizando nuestra API en forma rápida y segura.</p>
													</div>
												</div>
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/icon-ready.png' %}" /><br />
                                                        <div id="PlataformTitle">Ready to work</div>
                                                        <p class="pPlataform">Prueba la demo gratis, compra créditos vía webpay y envía tus campañas.</p>
													</div>
												</div>
											</div>
											<div class="clearfix">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                </div>
                <!--End New Plataform Responsive-->
                <!--Start Callout-->
				<div id="MyCallOut">
					<div class="waves-container container">
						<div class="row">
                        	<div class="col-md-6">
                            	<div id="CallOutText">
                                	<p>Empieza hoy a usar Connectus</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                            	<div id="CallOutMobile">
                                <div id="CallOutBtn">
                                    <a href="/registro" target="_blank" class="CallOutBot">Prueba ahora nuestra plataforma</a>
                                </div>
                                </div>
                            </div>
                            <!--Start Older Callout
							<div class="col-md-12 ">
								<div class="row">

									<div class="tw-element waves-callout with-button style2 col-md-12">

										<div class="callout-container">

                                            <div class="callout-text clearfix">
												<p>Empieza hoy a usar Connectus</p>
												<a href="#" target="_blank" class="btn btn-callout btn-flat" style="border-color:#3B5998;background-color:#3B5998">Prueba ahora nuestra plataforma</a>
											</div>
                                            -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                <!--End Callout-->
                <!--End Content Connectus-->
			</div>
			<!-- End Main -->
			{% include 'footer.html' %}

		</div>

		{% include 'javascript.html' %}

    </body>
</html>