{% load staticfiles %}


{%include "admin/head.html" %}
<header id="header" class="navbar navbar-static-top">
  <div class="navbar-header">
    <a href="#" class="navbar-brand">  <img class="nav_logo_login" src="{% static 'img/logo_black.png' %}" alt="Connectus" title="Connectus" data-pin-nopin="true"></a></div>
  </header>

<div id="content">
  <div class="container-fluid"><br />
    <br />
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><i class="fa fa-lock"></i>  Introduzca sus datos de acceso.</h1>
          </div>
          <div class="panel-body">
          
            {% if resp == 1 %}
            <div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> Felicitaciones, su usuario ha sido confirmado correctamente <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}
            {% if resp == 2 %}
            <div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> Se le ha enviado un e-mail para poder activar su cuenta<button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}
            {% if resp == 3 %}
            <div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> Su nuevo password es {{passwd}}<button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}

            {% if form.errors %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> Su nombre de usuario y password no coinciden. Por favor intentelo de nuevo <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            
            {% elif user.is_authenticated %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> Ud ya se encuentra ingresado<br>
             <a href="/perfil/">Ingrese aqui</a>
              <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}
            

            <form id="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% csrf_token %}
              <div class="form-group">
                <label for="id_username">Nombre de Usuario</label>
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-user"></i></span>
                  <input id="id_username" name="username" placeholder="Ingrese Usuario" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label for="id_password">Contraseña</label>
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock"></i></span>
                  <input id="id_password" name="password" type="password" class="form-control" placeholder="Ingrese Password" />
                </div>
            
              </div>
              <div class="text-right">
                <button type="submit" class="btn btn-primary"><i class="fa fa-key"></i> Entrar</button>
                <br><br>
                <a href="/recuperar">Recuperar Contraseña</a>

              </div>
            </form>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="footer"><a href="/">Connectus</a> © 2015-2016 Todos los Derechos Reservados<br><br></footer>
