{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<html lang="es-ES">
    <head>
    {% include 'meta.html' %}
    {% include 'head.html' %}
    </head>

    <body class="page page-template-default custom-background waves-pagebuilder menu-fixed header-logo_left theme-full">

		<div id="theme-layout">

        {% include 'header.html' %}
			
			<!-- Start Main -->
			<section id="main">
			<div id="page">
            	<!--Start Content Connectus-->
                <!--Start Page Header-->
                	<div id="PageHeader">
                    	<div class="container">
                        	<div class="waves-breadcrumbs">
								<div id="crumbs" class="">
								<span class="crumb-item"><a href="/">Homepage</a></span><span class="crumb-item current">E-Mail</span>
                                </div>
                            </div>
                        	<div class="col-md-6"><img src="{% static 'img/email-header-image.png' %}" /></div>
                            <div class="col-md-6">
                                <div id="PageData"><div id="PageTitle">ENVÍOS MASIVOS DE CORREOS ELECTRÓNICOS</div><br />
                                Envíos sin límites de contenido y fáciles de compartir mediante<br>
                                uno de los medios de marketing más costo-efectivo que existe.
								</div>
							</div>
                        </div>
                    </div>
                <!--End Page Header-->
                <!--Start Why-->
                	<div id="PortWhy">
                    	<div class="container">
                        	<div class="row">
                            <div class="col-md-12">
                            	<div id="SectionTitleBlue">¿Por qué enviar E-Mail?</div>
                            </div>
                            </div>
                    		<div class="row">
                            <div class="col-md-6">
                        		<div id="TipsContainer">
                                <p class="TipsData">Para muchos, el contenido lo es todo, y con el e-mail marketing no hay grandes límites en cuanto al uso de carácteres, imágenes o al diseño en general.<br><br>Ademas, no hay muchas formas de marketing tan fáciles de compartir como el e-mail. Con un simple click, tus ofertas o novedades pueden ser compartidas con amigos, colegas o clientes, aumentando tu exposición y credibilidad de forma instantánea, marca o producto, de forma instantánea.</p>
                            	<p class="TipsData">Por otro lado, quizas el aspecto mas atractivo del e-mail marketing se relaciona con su rentabilidad. De acuerdo a la Asociación de Marketing Directo, el e-mail marketing genera aproximadamente $45 USD por cada $1 USD gastado.</p>
                                </div>
                        	</div>
                        	<div class="col-md-6">
                            <div class="col-md-4">
                            	<img src="{% static 'img/icon-email-description-01.png' %}" /><br />
                                <p class="TipsText">Sin límites de contenido</p>
                            </div>
                        	<div class="col-md-4">
                            	<img src="{% static 'img/icon-email-description-02.png' %}" /><br />
                                <p class="TipsText">Fácil de<br>
                                compartir</p>
                            </div>
                        	<div class="col-md-4">
                            	<img src="{% static 'img/icon-email-description-03.png' %}" /><br />
                                <p class="TipsText">Mejores tasas de retorno</p>
                            </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                        		<hr />
                        	</div>
                            </div>
                    	</div>
                    </div>
                <!--End Why-->
                <!--Start Works-->
                	<div id="PortWhy">
                    	<div class="container">
                        	<div class="row">
                            <div class="col-md-12">
                            	<div id="SectionTitleBlue">¿Cómo funciona?</div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                            	<img src="{% static 'img/email-como-funciona.jpg' %}" />
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                            	<hr />
                            </div>
                            </div>
                        </div>
                    </div>
                <!--End Works-->
                <!--Start Prices-->
                	<div id="PortWhy">
                    	<div class="container">
                        	<div class="row">
                            <div class="col-md-6">
                        		<div id="SectionTitleBlueLeft">Valores</div>
                            	<p class="TipsData">En Connectus buscamos ofrecer la solución más simple, confiable y económica. No tenemos cláusulas de permanencia, complejos contratos, ni costos escondidos, y cualquier persona puede registrarse y probar nuestra plataforma antes de tomar la decisión de compra.</p>
                            	<p class="TipsData">Prueba ahora de forma gratuita y despues carga créditos desde nuestra plataforma via webpay con tarjeta de crédito o débito. Ademas, si necesitas una cotización personalizada contacta a nuestros ejecutivos, quienes te responderán durante el transcurso del día.</p>
                        	</div>
                        	<div class="col-md-6">
                            	<table class="PriceTable">
                                	<tr>
                                    	<td class="TdTitle1">Rango</td>
                                        <td class="TdTitle2">Valor Unitario*</td>
                                    </tr>
                                    <tr>
                                    	<td class="PriceTd1">5.000 a 10.000</td>
                                        <td class="PriceTd2">$4,3 c/u</td>
                                    </tr>
                                    <tr>
                                    	<td class="PriceTd3">10.001 a 20.000</td>
                                        <td class="PriceTd4">$3,0 c/u</td>
                                    </tr>
                                	<tr>
                                    	<td class="PriceTd1">20.001 a 30.000</td>
                                        <td class="PriceTd2">$2,1 c/u</td>
                                    </tr>
                                    <tr>
                                    	<td class="PriceTd3">30.001 a 50.000</td>
                                        <td class="PriceTd4">$1,7 c/u</td>
                                    </tr>
                                	<tr>
                                    	<td class="PriceTd1">50.001 a 100.000</td>
                                        <td class="PriceTd2">$1,4 c/u</td>
                                    </tr>
                                    <tr>
                                    	<td class="PriceTd3">100.001 a 200.000</td>
                                        <td class="PriceTd4">$1,1 c/u</td>
                                    </tr>
                                    <tr>
                                    	<td class="PriceTd1">200.001 a 300.000</td>
                                        <td class="PriceTd2">$0,9 c/u</td>
                                    </tr>
                                </table>
                                <span class="TableInfo">* Valores no incluyen IVA.</span>
                            </div>
                            </div>
                            <div class="row">
                        	<div class="col-md-12">
                            	<hr />
                            </div>
                            </div>
                        </div>
                    </div>
                <!--End Prices-->
                <!--Start Testimonial-->
                	<div id="PortWhy">
                    	<div class="container">
                        	<div class="row">
                            <div class="col-md-12">
                            	<!--start insert testimonial-->
                                <div class="tw-element carousel-container col-md-12" style="">
										<div class="waves-carousel-testimonial list_carousel clearfix style_3" data-duration="1500" data-autoplay="true" data-timeout="300">
											<div class="waves-carousel">
												<div class="testimonial-item clearfix">
													<div class="testimonial-content">
														<p>"7 de cada 10 personas dice que siempre abre los correos de sus compañías favoritas"</p>
													</div>
													<div class="testimonial-title-sep">
													</div>
													<span class="TestimonialAuthor">ExactTarget</span>
												</div>
												<div class="testimonial-item clearfix">
													<div class="testimonial-content">
														<p>"El e-mail es casi 40 veces mejor que Facebook y Twitter a la hora de adquirir nuevos consumidores"</p>
													</div>
													<div class="testimonial-title-sep">
													</div>
													<span class="TestimonialAuthor">McKinsey & Company</span>
												</div>
												<div class="testimonial-item clearfix">
													<div class="testimonial-content">
														<p>"Por cada $1 gastado en e-mail marketing, el retorno sobre la inversión promedio es de $44.25"</p>
													</div>
													<div class="testimonial-title-sep">
													</div>
													<span class="TestimonialAuthor">Experian</span>
												</div>
											</div>
										</div>
									</div>
                            </div>
                            <!--end insert testimonial-->
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                            	<hr />
                            </div>
                            </div>
                        </div>
                    </div>
                <!--End Testimonial-->
                <!--Start Clients-->
                	<div id="PortWhy">
                    	<div class="container">
                        	<div class="row">
                            <div id="SectionTitleBlue">Quienes han confiado en nosotros</div>
                            </div>
                            <!--Start Clients Carousel-->
                            	<div class="row-container light bg-scroll" style="">
					<div class="waves-container container">
						<div class="row">
							<div class="col-md-12 ">
								<div class="row">
									<div class="tw-element carousel-container col-md-12" style="">
										<div class="waves-carousel-post list_carousel carousel-anim" data-autoplay="false" data-items="2">
											<div class="waves-carousel">
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/logo-ruvix.jpg' %}" /><br />
                                                        <p class="ClientText">Ruvix envía campañas de marketing y de captación de nuevos clientes</p>
													</div>
												</div>
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/logo-atmosphere.jpg' %}" /><br />
                                                        <p class="ClientText">Atmosphere envía campañas promocionales a sus clientes actuales</p>
													</div>
												</div>
											</div>
											<div class="clearfix">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                        </div>
                    </div>
                <!--End Clients-->
                <!--Start Callout-->
				<div id="MyCallOut">
					<div class="waves-container container">
						<div class="row">
                        	<div class="col-md-6">
                            	<div id="CallOutText">
                                	<p>Empieza hoy a usar Connectus</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                            	<div id="CallOutMobile">
                                <div id="CallOutBtn">
                                    <a href="/registro" target="_blank" class="CallOutBot">Prueba ahora nuestra plataforma</a>
                                </div>
                                </div>
                            </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                <!--End Callout-->
                <!--End Content Connectus-->
			</div>
			</section>
			<!-- End Main -->

            {% include 'footer.html' %}

        </div>
            {% include 'javascript.html' %}
    </body>
</html>