<meta charset='utf-8'>

{% if request.get_full_path == "/" or request.get_full_path == "/index" %}
{% with titulo="Expertos en envíos de mail y sms masivos" desc="Envíos masivos de SMS y Mail, Prueba ahora nuestra plataforma web de forma gratuita y confía en nosotros tus futuras campañas." %}   
<title>{{titulo}} | Connectus</title>
<meta name="Description"    content="{{desc}}" />

{% endwith %}
{% endif %}

{% if request.get_full_path == "/sms/" %}
{% with titulo="SMS Masivo" desc="Envíos masivos de mensaje de textos, Llega a tus contactos de forma instantánea y efectiva donde quiera que estén." %}   
<title>{{titulo}} | Connectus</title>
<meta name="Description"    content="{{desc}}" />

{% endwith %}
{% endif %}

{% if request.get_full_path == "/email/" %}
{% with titulo="Mail Masivo" desc="Envíos masivos de Mail, sin limites de contenido y fáciles de compartir mediante uno de los medios de marketing más costo-efectivo que existe." %}   
<title>{{titulo}} | Connectus</title>
<meta name="Description"    content="{{desc}}" />

{% endwith %}
{% endif %}

{% if request.get_full_path == "/plataforma/" %}
{% with titulo="Administra tus envíos de Mail y SMS masivos de forma eficiente" desc="Administra tus envíos en un solo lugar, desarrollado con los más altos estándares de tecnología, facilitando la gestión de bases de datos, mensajes y reportes." %}   
<title>{{titulo}} | Connectus</title>
<meta name="Description"    content="{{desc}}" />

{% endwith %}
{% endif %}

{% if request.get_full_path == "/contacto/" %}
{% with titulo="Comunícate con nosotros" desc="Comunícate con nosotros, nuestros ejecutivos se pondrán en contacto contigo durante el transcurso del día." %}   
<title>{{titulo}} | Connectus</title>
<meta name="Description"    content="{{desc}}" />

{% endwith %}	
{% endif %}


<meta name="robots" content="index, follow" />
<meta name="Keywords" content="SMS, Email, Mail, Envíos, Masivos, Campañas, Chile, Marketing" />


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- META Verificación Sitio Google -->
<meta name="google-site-verification" content="vaLnG1S1lVkJ9z3DINwk93vP-zWbbApTfQDABdV8GUY" />
