{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  
  <div class="content-wrapper">
    <div class="box-body">
    <!--   {{ perfil.id_empresa }} -->

<!-- Aqui empieza el dashboard -->

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <h1>Panel de Control</h1>
      <ul class="breadcrumb">
        <li><a href="#">Panel de Control</a></li>
        <li><a href="/perfil">Inicio</a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid" align="center">
    
    {% if not user.is_staff and not user.is_superuser %}
    {% if cuenta_corriente == None %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> No tiene una cuenta asociada
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
<div class="alert btn-primary"><i class="fa fa-exclamation-circle"></i> Has entrado como el usuario  {{user_como}}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-6"> <!-- SMS  -->
        <div class="tile">
        <div class="tile-heading"><span class="pull-left">TOTAL DE SMS</span><span class="pull-right">Enviados / crédito</span><br></div>
        <div class="tile-body">
        <table>
        <tr>
        <td><i class="fa fa-comments"></i>&nbsp;&nbsp;&nbsp;</td>
        <td><h3 class="pull-right">&nbsp;&nbsp;&nbsp;{{ cuenta_corriente.consumidos_sms }}<span> / {{ cuenta_corriente.saldo_sms }}</span></h3>
        </td></tr></table>
        </div>
        <div class="tile-footer"><a href="/perfil/comprar/"><i class="fa fa-shopping-cart"></i>Comprar más créditos</a></div>
        </div>
        <!-- FIN SMS  -->
      </div>

    <div class="col-lg-4 col-md-3 col-sm-6"> <!-- email  -->
      <div class="tile">
      <div class="tile-heading"><span class="pull-left">TOTAL DE EMAILS</span> <span class="pull-right">Enviados / crédito</span><br></div>
      <div class="tile-body">
      <table><tr><td>
      <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;</td>
      <td><h3 class="pull-right">&nbsp;&nbsp;&nbsp; {{ cuenta_corriente.consumidos_mail }}<span > / {{ cuenta_corriente.saldo_mail }}</span></h3>
      </td></tr></table></div>
      <div class="tile-footer"><a href="/perfil/comprar/"><i class="fa fa-shopping-cart"></i>Comprar más créditos</a></div>
      </div>
      <!-- fin mail -->
    </div>

    <div class="col-lg-4 col-md-3 col-sm-6"> <!-- CONTACTOS -->
    <div class="tile">
    <div class="tile-heading"><span class="pull-left">CONTACTOS</span> <span class="pull-right">Bases de Datos / Registros</span><br></div>
    <div class="tile-body">
    <table>
      <tr>
      <td>
        <i class="fa fa-database"></i></td><td>
        <h3 class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;{{ cont_lista }}</h3>
      </td>
      <td>&nbsp;&nbsp;&nbsp;
        <i class="fa fa-users"></i></td><td>
        <h3 class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;{{ cont_cont }}</h3>
      </td>
      </tr>
    </table>
    </div>
    <div class="tile-footer"><a href="#">Ver más</a></div>
    </div>


       <!-- FIN CONTACTOS -->
       </div>
    </div>

    <div class="row">


      <div class="col-lg-12 col-md-12 col-sx-12 col-sm-12"> 

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar"></i> <i class="caret"></i></a>
      <ul id="range" class="dropdown-menu dropdown-menu-right">
        <li id="ranio"><a href="#">En el año</a></li>
        <li id="rmes"><a href="#">En el mes</a></li>
        <li id="rdia"><a href="#">En el día</a></li><!--  class="active" -->
        
      </ul>
    </div>
    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Gráfico de Envíos</h3>{{ contador_envios }}
  </div>
  <div class="panel-body">
    <div style="width:100%;">
<canvas id="anio" style="width:800px; display:none"></canvas>
<canvas id="mes" style="width:800px"></canvas>
<canvas id="dia" style="width:800px; display:none"></canvas>
</div>
</div>


    </div>
  </div>
</div>
</div>
{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

<script src="{% static 'plugins/chartjs/Chart.js' %}"></script>
<script src ="{% static 'js/Chart.bundle.min.js' %}"></script>
<script>

var ctx = document.getElementById("anio");

//iniciar eje x

var bac = [];
var boc = [];
var etiq= [];
var bac2 = [];
var boc2 = [];

var length = 12; // user defined length
var meses =["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];

for(var i = 0; i < length; i++) {
    bac.push('rgba(54, 162, 235, 0.2)');
    boc.push('rgba(54, 162, 235, 1)');
    etiq.push(meses[i]);

    bac2.push('rgba(255, 99, 132, 0.2)');
    boc2.push('rgba(255,99,132,1)');
     
}

var data = {{ contador_envios_aniosms }}; 
var data2 = {{ contador_envios_aniomail }}; 
var anio = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: etiq,
        datasets: [{
            label: '# de SMS',
            data: data,
            borderWidth: 1,
            backgroundColor: bac,
            borderColor: boc,
        },
        {
            label: '# de Mail',
            data: data2,
            borderWidth: 1,
            backgroundColor: bac2,
            borderColor: boc2,
        }
        ]
    },
    options: {
        scales: {

            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});






var ctx = document.getElementById("mes");

//iniciar eje x

var bac = [];
var boc = [];
var etiq= [];
var bac2 = [];
var boc2 = [];

var length = 31; // user defined length

for(var i = 0; i < length; i++) {
    bac.push('rgba(54, 162, 235, 0.2)');
    boc.push('rgba(54, 162, 235, 1)');
    etiq.push(i+"°");

    bac2.push('rgba(255, 99, 132, 0.2)');
    boc2.push('rgba(255,99,132,1)');
 
}


var data = {{ contador_envios_messms }};
var data2 = {{ contador_envios_mesmail }};  

var mes = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: etiq,
        datasets: [{
            label: '# de SMS',
            data: data,
            borderWidth: 1,
            backgroundColor: bac,
            borderColor: boc,
        },
        {
            label: '# de Mail',
            data: data2,
            borderWidth: 1,
            backgroundColor: bac2,
            borderColor: boc2,
        }


        ]
    },
    options: {
        scales: {

            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});





var ctx = document.getElementById("dia");

//iniciar eje x

var bac = [];
var boc = [];
var etiq= [];
var bac2 = [];
var boc2 = [];

var length = 24; // user defined length

for(var i = 0; i < length; i++) {
    bac.push('rgba(54, 162, 235, 0.2)');
    boc.push('rgba(54, 162, 235, 1)');
    etiq.push(i+":00");

    bac2.push('rgba(255, 99, 132, 0.2)');
    boc2.push('rgba(255,99,132,1)');
}

var data = {{ contador_envios_diasms }}; 
var data2 = {{ contador_envios_diamail }}; 

var mes = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: etiq,
        datasets: [{
            label: '# de SMS',
            data: data,
            borderWidth: 1,
            backgroundColor: bac,
            borderColor: boc,
        },
        {
            label: '# de Mail',
            data: data2,
            borderWidth: 1,
            backgroundColor: bac2,
            borderColor: boc2,
        }

        ]
    },
    options: {
        scales: {

            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});


$("#ranio").click(function(){
  $("#anio").show();
  $("#mes").hide();
  $("#dia").hide();
  
});

$("#rmes").click(function(){
  $("#anio").hide();
  $("#mes").show();
  $("#dia").hide();
  
});

$("#rdia").click(function(){
  $("#anio").hide();
  $("#mes").hide();
  $("#dia").show();

});

</script>


{% elif user.is_staff or user.is_superuser %}
  {% if entrar_como and entrar_como != "0" %}
  <!-- inicio perfil de usuario entrando como adm -->
  <div class="alert btn-primary"><i class="fa fa-exclamation-circle"></i> Has entrado como el usuario  {{user_como}}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

  {% if resp %}
  <div class="alert btn-primary"><i class="fa fa-exclamation-circle"></i> El usuario no tiene cuenta
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

  {% endif %}
       
    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-6"> <!-- SMS  -->
        <div class="tile">
        <div class="tile-heading"><span class="pull-left">TOTAL DE SMS</span><span class="pull-right">Enviados / crédito</span><br></div>
        <div class="tile-body">
        <table>
	<tr>
	<td><i class="fa fa-comments"></i>&nbsp;&nbsp;&nbsp;</td>
        <td><h3 class="pull-right">&nbsp;&nbsp;&nbsp;{{ cuenta_corriente.consumidos_sms }}<span> / {{ cuenta_corriente.saldo_sms }}</span></h3></td>
        </tr></table>
        </div>
        <div class="tile-footer"><a href="/perfil/comprar"><i class="fa fa-shopping-cart"></i>   Comprar más créditos</a></div>
        </div>
        <!-- FIN SMS  -->
      </div>

    <div class="col-lg-4 col-md-3 col-sm-6"> <!-- email  -->
      <div class="tile">
      <div class="tile-heading"><span class="pull-left">TOTAL DE EMAILS</span> <span class="pull-right">Enviados / crédito</span><br></div>
      <div class="tile-body">
      <table><tr><td>
      <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;</td>
      <td><h3 class="pull-right">&nbsp;&nbsp;&nbsp;{{ cuenta_corriente.consumidos_mail }}<span> / {{ cuenta_corriente.saldo_mail }}</span></h3>
      </td></tr></table></div>
      <div class="tile-footer"><a href="/perfil/comprar"><i class="fa fa-shopping-cart"></i>   Comprar más créditos</a></div>
      </div>
      <!-- fin mail -->
    </div>
    
    <div class="col-lg-4 col-md-3 col-sm-6"> <!-- CONTACTOS -->
    <div class="tile">  
    <div class="tile-heading"><span class="pull-left">CONTACTOS</span> <span class="pull-right">Bases de Datos / Registros</span><br></div>
    <div class="tile-body">
    <table>
      <tr>
      <td>
        <i class="fa fa-database"></i></td><td>
        <h3 class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;{{ cont_lista }}</h3>
      </td>
      <td>&nbsp;&nbsp;&nbsp;
        <i class="fa fa-users"></i></td><td>
        <h3 class="pull-right">&nbsp;&nbsp;&nbsp;&nbsp;{{ cont_cont }}</h3>
      </td>
      </tr>
    </table>
    </div>
    <div class="tile-footer"><a href="#">Ver más</a></div>
    </div>


       <!-- FIN CONTACTOS --> 
       </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sx-12 col-sm-12"> 

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar"></i> <i class="caret"></i></a>
      <ul id="range" class="dropdown-menu dropdown-menu-right">
        <li id="ranio"><a href="#">En el año</a></li>
        <li id="rmes"><a href="#">En el mes</a></li>
        <li id="rdia"><a href="#">En el día</a></li><!--  class="active" -->
        
      </ul>
    </div>
    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Gráfico de Envíos</h3>
  </div>
  <div class="panel-body">
    <div style="width:100%;">
<canvas id="anio" style="width:800px; display:none"></canvas>
<canvas id="mes" style="width:800px"></canvas>
<canvas id="dia" style="width:800px; display:none"></canvas>
</div>
</div>

      </div>
    </div>
    <div class="row">
    </div>
  </div>
</div>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

<script src="{% static 'plugins/chartjs/Chart.js' %}"></script>
<script src ="{% static 'js/Chart.bundle.min.js' %}"></script>
<script>
/*
var ctx = document.getElementById("aanio");

//iniciar eje x

var bac = [];
var boc = [];
var etiq= [];

var length = 12; // user defined length

for(var i = 0; i < length; i++) {
    bac.push('rgba(54, 162, 235, 0.2)');
    boc.push('rgba(54, 162, 235, 1)');
    etiq.push(i+1);

//    bac2.push('rgba(255, 99, 132, 0.2)');
//    boc2.push('rgba(255,99,132,1)');
     
}

var data = "{{ envios_anio }}"; 
var anio = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: etiq,
        datasets: [{
            label: '# de mensajes',
            data: data,
            borderWidth: 1,
            backgroundColor: bac,
            borderColor: boc,
        },

        ]
    },
    options: {
        scales: {

            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
*/



//graficos perfil X
var ctx = document.getElementById("anio");

//iniciar eje x

var bac = [];
var boc = [];
var etiq= [];
var bac2 = [];
var boc2 = [];

var length = 12; // user defined length
var meses =["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];

for(var i = 0; i < length; i++) {
    bac.push('rgba(54, 162, 235, 0.2)');
    boc.push('rgba(54, 162, 235, 1)');
    etiq.push(meses[i]);

    bac2.push('rgba(255, 99, 132, 0.2)');
    boc2.push('rgba(255,99,132,1)');
     
}

var data = {{ contador_envios_aniosms }}; 
var data2 = {{ contador_envios_aniomail }}; 
var anio = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: etiq,
        datasets: [{
            label: '# de SMS',
            data: data,
            borderWidth: 1,
            backgroundColor: bac,
            borderColor: boc,
        },
        {
            label: '# de Mail',
            data: data2,
            borderWidth: 1,
            backgroundColor: bac2,
            borderColor: boc2,
        }
        ]
    },
    options: {
        scales: {

            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});






var ctx = document.getElementById("mes");

//iniciar eje x

var bac = [];
var boc = [];
var etiq= [];
var bac2 = [];
var boc2 = [];

var length = 31; // user defined length

for(var i = 0; i < length; i++) {
    bac.push('rgba(54, 162, 235, 0.2)');
    boc.push('rgba(54, 162, 235, 1)');
    etiq.push(i+"°");

    bac2.push('rgba(255, 99, 132, 0.2)');
    boc2.push('rgba(255,99,132,1)');
 
}


var data = {{ contador_envios_messms }};
var data2 = {{ contador_envios_mesmail }};  

var mes = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: etiq,
        datasets: [{
            label: '# de SMS',
            data: data,
            borderWidth: 1,
            backgroundColor: bac,
            borderColor: boc,
        },
        {
            label: '# de Mail',
            data: data2,
            borderWidth: 1,
            backgroundColor: bac2,
            borderColor: boc2,
        }


        ]
    },
    options: {
        scales: {

            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});





var ctx = document.getElementById("dia");

//iniciar eje x

var bac = [];
var boc = [];
var etiq= [];
var bac2 = [];
var boc2 = [];

var length = 24; // user defined length

for(var i = 0; i < length; i++) {
    bac.push('rgba(54, 162, 235, 0.2)');
    boc.push('rgba(54, 162, 235, 1)');
    etiq.push(i+":00");

    bac2.push('rgba(255, 99, 132, 0.2)');
    boc2.push('rgba(255,99,132,1)');
}

var data = {{ contador_envios_diasms }}; 
var data2 = {{ contador_envios_diamail }}; 

var mes = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: etiq,
        datasets: [{
            label: '# de SMS',
            data: data,
            borderWidth: 1,
            backgroundColor: bac,
            borderColor: boc,
        },
        {
            label: '# de Mail',
            data: data2,
            borderWidth: 1,
            backgroundColor: bac2,
            borderColor: boc2,
        }

        ]
    },
    options: {
        scales: {

            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});


$("#ranio").click(function(){
  $("#anio").show();
  $("#mes").hide();
  $("#dia").hide();
  
});

$("#rmes").click(function(){
  $("#anio").hide();
  $("#mes").show();
  $("#dia").hide();
  
});

$("#rdia").click(function(){
  $("#anio").hide();
  $("#mes").hide();
  $("#dia").show();

});
</script>






<!-- finerfil de ususario entrando como administrador -->
{% else %}
  {% if user.is_superuser and not user.is_staff %}

      <div class="col-lg-4 col-md-3 col-sm-6"><!-- ventas -->
      <div class="tile">
  <div class="tile-heading"> TOTAL DE CREDITOS <span class="pull-right">
   SMS/MAIL </span></div>
  <div class="tile-body"><i class="fa fa-shopping-cart"></i>
    <h2 class="pull-right"> {{ creditos }}</h2>
  </div>
  <div class="tile-footer"><a href="/perfil/cargar/">Ver más</a> / <a href="/perfil/comprar">Comprar créditos</a></div>
</div>
      </div><!-- fin ventas -->

      <div class="col-lg-4 col-md-3 col-sm-6"><!-- customers -->
      <div class="tile">
  <div class="tile-heading">TOTAL CLIENTES <span class="pull-right">
    </span></div>

  <div class="tile-body"><i class="fa fa-user"></i>
    <h2 class="pull-right"> {{ cust_cont }} </h2>
  </div>
  <div class="tile-footer"><a href="/perfil/cliente/">Ver más</a></div>

</div>

      </div><!-- fin customers-->

      <div class="col-lg-4 col-md-3 col-sm-6"><!-- online -->
      <div class="tile">
  <div class="tile-heading">USUARIOS ONLINE</div>
  <div class="tile-body"><i class="fa fa-eye"></i>
    <h2 class="pull-right">{{ user_online }}</h2>
  </div>
  <div class="tile-footer"><a id="online" style="cursor: pointer" >Ver más</a></div>
</div>

      </div><!--fin online-->
    </div>

  {% endif %}
  {% if user.is_staff %}

     <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6"><!-- ordenes -->
        <div class="tile">
  <div class="tile-heading">TOTAL DE PEDIDOS <span class="pull-right">
    </span></div>
  <div class="tile-body"><i class="fa fa-shopping-cart"></i>
    <h2 class="pull-right">{{ cont_pedido }}</h2>
  </div>
  <div class="tile-footer"><a href="/perfil/pedidos/">Ver más</a></div>
</div>

      </div><!-- fin ordenes-->

      <div class="col-lg-3 col-md-3 col-sm-6"><!-- ventas -->
      <div class="tile">
  <div class="tile-heading"> TOTAL DE VENTAS <span class="pull-right">
    </span></div>
  <div class="tile-body"><i class="fa fa-credit-card"></i>
    <h2 class="pull-right">{{ cont_compra }}</h2>
  </div>
  <div class="tile-footer"><a href="/perfil/movimientos/">Ver más</a></div>
</div>
      </div><!-- fin ventas -->

      <div class="col-lg-3 col-md-3 col-sm-6"><!-- customers -->
      <div class="tile">
  <div class="tile-heading">TOTAL CLIENTES <span class="pull-right">
    </span></div>

  <div class="tile-body"><i class="fa fa-user"></i>
    <h2 class="pull-right"> {{ cust_cont }} </h2>
  </div>
  <div class="tile-footer"><a href="/perfil/cliente/">Ver más</a></div>
  
</div>

      </div><!-- fin customers-->

      <div class="col-lg-3 col-md-3 col-sm-6"><!-- online -->
      <div class="tile">
  <div class="tile-heading">USUARIOS ONLINE</div>
  <div class="tile-body"><i class="fa fa-eye"></i>
    <h2 class="pull-right">{{ user_online }}</h2>
  </div>
  <div class="tile-footer"><a id="online" style="cursor:pointer" >Ver más</a></div>
</div>

      </div><!--fin online-->
    </div>

{% endif %}

<center>
<div class="row" id="usonline" style="display:none">
  {% if user_on_det %}
  <table width="50%" border=1 style="border: #cccccc;">
  <tr style="border-bottom: 2px solid #cccccc;"> <td width="50%"><b><a><center>Usuario</center></a></b></td><td width="50%"><b><a><center>Empresa</center></a></b></td> </tr>
  {% for uod in user_on_det %}
    <tr> <td><center>{{uod.0}}</center></td> <td><center>{{uod.1}}</center></td> </tr>
  {% endfor %}
  </table>
  <br>
  {% endif %}
</div>
</center>
<br>


    <div class="row">

<div class="col-lg-12 col-md-12 col-sx-12 col-sm-12"> 

 <div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-calendar"></i> <i class="caret"></i></a>
      <ul id="range" class="dropdown-menu dropdown-menu-right">
        <li id="ranio"><a href="#">En el año</a></li>
        <li id="rmes"><a href="#">En el mes</a></li>
        <li id="rdia"><a href="#">En el día</a></li><!--  class="active" -->
      </ul>
    </div>
    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Gráfico de Envíos</h3>
  </div>
  <div class="panel-body">
    <div style="width:100%;">
<canvas id="anio" style="width:800px"></canvas>
<canvas id="mes" style="width:800px;  display:none"></canvas>
<canvas id="dia" style="width:800px; display:none"></canvas>
</div>
</div>
</div>

      </div><!-- fin grafico -->
    </div>
</div>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

<script src="{% static 'plugins/chartjs/Chart.js' %}"></script>
<script src ="{% static 'js/Chart.bundle.min.js' %}"></script>
<script>

//$("#envios").html('{{envios}}');

 if (('{{grafico}}' == 'anio') || ('{{grafico}}' == 'None')){
var ctx = document.getElementById("anio");

//iniciar eje x

var bac = [];
var boc = [];
var etiq= [];
var bac2 = [];
var boc2 = [];

var length = 12; // user defined length
var meses =["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];

for(var i = 0; i < length; i++) {
    bac.push('rgba(54, 162, 235, 0.2)');
    boc.push('rgba(54, 162, 235, 1)');
    etiq.push(meses[i]);

    bac2.push('rgba(255, 99, 132, 0.2)');
    boc2.push('rgba(255,99,132,1)');
     
}

var data = {{ contador_envios_aniosms }}; 
var data2 = {{ contador_envios_aniomail }}; 
var anio = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: etiq,
        datasets: [{
            label: '# de SMS',
            data: data,
            borderWidth: 1,
            backgroundColor: bac,
            borderColor: boc,
        },
        {
            label: '# de Mail',
            data: data2,
            borderWidth: 1,
            backgroundColor: bac2,
            borderColor: boc2,
        }
        ]
    },
    options: {
        scales: {

            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

}//fin grafico anio


var ctx = document.getElementById("mes");

//iniciar eje x

var bac = [];
var boc = [];
var etiq= [];
var bac2 = [];
var boc2 = [];

var length = 31; // user defined length

for(var i = 0; i < length; i++) {
    bac.push('rgba(54, 162, 235, 0.2)');
    boc.push('rgba(54, 162, 235, 1)');
    etiq.push(i+"°");

    bac2.push('rgba(255, 99, 132, 0.2)');
    boc2.push('rgba(255,99,132,1)');
 
}


var data = {{ contador_envios_messms }};
var data2 = {{ contador_envios_mesmail }};  

var mes = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: etiq,
        datasets: [{
            label: '# de SMS',
            data: data,
            borderWidth: 1,
            backgroundColor: bac,
            borderColor: boc,
        },
        {
            label: '# de Mail',
            data: data2,
            borderWidth: 1,
            backgroundColor: bac2,
            borderColor: boc2,
        }


        ]
    },
    options: {
        scales: {

            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});



var ctx = document.getElementById("dia");

//iniciar eje x

var bac = [];
var boc = [];
var etiq= [];
var bac2 = [];
var boc2 = [];

var length = 24; // user defined length

for(var i = 0; i < length; i++) {
    bac.push('rgba(54, 162, 235, 0.2)');
    boc.push('rgba(54, 162, 235, 1)');
    etiq.push(i+":00");

    bac2.push('rgba(255, 99, 132, 0.2)');
    boc2.push('rgba(255,99,132,1)');
}

var data = {{ contador_envios_diasms }}; 
var data2 = {{ contador_envios_diamail }}; 

var mes = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: etiq,
        datasets: [{
            label: '# de SMS',
            data: data,
            borderWidth: 1,
            backgroundColor: bac,
            borderColor: boc,
        },
        {
            label: '# de Mail',
            data: data2,
            borderWidth: 1,
            backgroundColor: bac2,
            borderColor: boc2,
        }

        ]
    },
    options: {
        scales: {

            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

$("#ranio").click(function(){
  $("#anio").show();
  $("#mes").hide();
  $("#dia").hide();
  
});

$("#rmes").click(function(){
  $("#anio").hide();
  $("#mes").show();
  $("#dia").hide();
  
});

$("#rdia").click(function(){
  $("#anio").hide();
  $("#mes").hide();
  $("#dia").show();

});

$("a#online").click(function(){
  $("#usonline").toggle(1000);
  //alert("aparecen online");
});

</script>



  {% endif %}

{% else %}
  <p>Ud no tiene los permisos para acceder</p>

{% endif %} 

<!-- Aqui termina el dashboard -->

    </div>
  </div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>


</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
