{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<html lang="es-ES">
    <head>
    {% include 'meta.html' %}
    {% include 'head.html' %}
    </head>

    <body class="page page-template-default custom-background waves-pagebuilder menu-fixed header-logo_left theme-full">

		<div id="theme-layout">
        {% include 'header.html' %}

			<!-- Start Main -->
			<section id="main">
			<div id="page">
            	<!--Start Content Connectus-->
                <!--Start Page Header-->
                	<div id="PageHeader">
                    	<div class="container">
                        	<div class="waves-breadcrumbs">
								<div id="crumbs" class="">
								<span class="crumb-item"><a href="/">Homepage</a></span><span class="crumb-item current">Plataforma</span>
                                </div>
                            </div>
                        	<div class="col-md-6"><img src="{% static 'img/plataforma-header-image.png' %}" /></div>
                            <div class="col-md-6">
                                <div id="PageData"><div id="PageTitle">PLATAFORMA CONNECTUS</div><br />
                                La más potente herramienta del mercado.<br>
                                Maximiza el retorno sobre la inversión y<br>
                                mantente conectado con tus clientes.
                                </div>
							</div>
                        </div>
                    </div>
                <!--End Page Header-->
                <!--Start Why-->
                	<div id="PortWhy">
                    	<div class="container">
                        	<div class="row">
                            <div class="col-md-12">
                            	<div id="SectionTitleBlue">Administra tus comunicaciones en un solo lugar</div>
                                <p class="PlataformSubtitle">Hemos desarrollado una plataforma web propia, utilizando los más altos estándares de tecnología actuales,<br>
                                para facilitar la gestión de bases de datos, el envío de mensajes y la generación de reportes de nuestros clientes.</p>
                                <p><img src="{% static 'img/plataforma-img.jpg' %}" /></p>
                            </div>
                            <div class="col-md-12">
                           		<hr />
                            </div>
                            <!--Start New Description-->
                            <div class="col-md-12 ">
								<div class="row">
									<div class="tw-element carousel-container col-md-12" style="">
										<div class="waves-carousel-post list_carousel carousel-anim" data-autoplay="false" data-items="4">
											<div class="waves-carousel">
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/plataforma-description-01.png' %}" /><br />
                                                        <div class="TipsText">
                                                        	Seguridad
                                                        </div>
                                                        <p class="pServices">Altos estándares de seguridad para tus bases de datos mediante nuestro certificado SSL.</p>
													</div>
												</div>
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/plataforma-description-02.png' %}" /><br />
                                                        <div class="TipsText">
                                                        	Rapidez
                                                        </div>
                                                        <p class="pServices">Crea y programa tus campañas en solo unos minutos.</p>
													</div>
												</div>
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/plataforma-description-03.png' %}" /><br />
                                                        <div class="TipsText">
                                                        	Webpay
                                                        </div>
                                                        <p class="pServices">Compra tus créditos de manera autónoma y comienza a comunicarte con tus clientes.</p>
													</div>
												</div>
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/plataforma-description-04.png' %}" /><br />
                                                        <div class="TipsText">
                                                        	Amigable
                                                        </div>
                                                        <p class="pServices">Interfaz sencilla e intuitiva para ser usada por cualquiera.</p>
													</div>
												</div>
											</div>
											<div class="clearfix">
											</div>
										</div>
									</div>
								</div>
							</div>
                            <!--End New Description-->
                            <div class="col-md-4">
                            	<img src="{% static 'img/plataforma-screen-001.jpg' %}" />
                            </div>
                            <div class="col-md-4">
                            	<img src="{% static 'img/plataforma-screen-002.jpg' %}" />
                            </div>
                            <div class="col-md-4">
                            	<img src="{% static 'img/plataforma-screen-003.jpg' %}" />
                            </div>
                            <div class="col-md-12">
                            	<hr />
                            </div>
                            <div class="col-md-12">
                            	<div id="SectionTitleBlue">
                                	Documentos de nuestra plataforma
                                </div>
                                <p class="PlataformSubtitle">La integración es más fácil de lo que piensas.<br>
                                Descarga nuestra API y la documentación adjunta y comienza a probar nuestra plataforma.</p>
                            </div>
                            </div>
                            <div class="col-md-6">
                            	<div id="CallOutMobile">
                                	<div id="CallOutBtn">
                                    	<a href="/static/files/manual%20API%201.1.pdf" target="_blank" class="PlataformBot">Descarga nuestra API</a>
                                	</div>
                                </div>
                            </div>
                            <div class="col-md-6">
                            	<div id="CallOutMobile">
                                	<div id="CallOutBtn">
                                    	<a href="/static/files/manual%20de%20uso.pdf" target="_blank" class="PlataformBot">Descarga manual de uso</a>
                                	</div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                        	</div>
                            </div>
                    	</div>
                    </div>
                <!--End Why-->
                <!--Start Callout-->
				<div id="MyCallOut">
					<div class="waves-container container">
						<div class="row">
                        	<div class="col-md-6">
                            	<div id="CallOutText">
                                	<p>Empieza hoy a usar Connectus</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                            	<div id="CallOutMobile">
                                <div id="CallOutBtn">
                                    <a href="/registro" target="_blank" class="CallOutBot">Prueba ahora nuestra plataforma</a>
                                </div>
                                </div>
                            </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                <!--End Callout-->
                <!--End Content Connectus-->
			</div>
			</section>
			<!-- End Main -->
            {% include 'footer.html' %}


		</div>
            {% include 'javascript.html' %}
		
    </body>
</html>
