{% load staticfiles %}


{%include "admin/head.html" %}
<header id="header" class="navbar navbar-static-top">
  <div class="navbar-header">
        
    <a href="#" class="navbar-brand">  <img class="nav_logo_login" src="{% static 'img/logo_black.png' %}" alt="Connectus" title="Connectus" data-pin-nopin="true"></a></div>
  </header>


    
<div id="content">
  <div class="container-fluid"><br />
    <br />
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><i class="fa fa-lock"></i>  Introduzca sus datos de acceso.</h1>
          </div>
          <div class="panel-body">
          
            {% if resp == 1 %}
            <div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> Felicitaciones, su usuario ha sido confirmado correctamente <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}
            {% if resp == 2 %}
            <div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> Se le ha enviado un e-mail para poder activar su cuenta<button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
            {% endif %}
            

            <form id="login-form" method="post" action="#">
                {% csrf_token %}
              <div class="form-group">
                <label for="id_username">Ingrese su Email</label>
                <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                  <input id="id_email" name="email" placeholder="Ingrese Email" class="form-control" />
                </div>
              </div>
            
              </div>
              <div class="text-right">
                <button type="submit" class="btn btn-primary">Recuperar</button>

              </div>
            </form>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer id="footer"><a href="/">Connectus</a> © 2015-2016 Todos los Derechos Reservados<br><br></footer>
