{% load staticfiles %}
    <head>
    
        <meta charset='utf-8'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Connectus | Expertos en Servicios de Comunicación</title>

        <link rel="shortcut icon" href="{% static  'img/favicon.png' %}" type="image/png" />

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <style type="text/css">
        IMG.displayed { display: block; margin-left: auto; margin-right: auto; }
        #Logo { width: 100%; text-align: center; overflow: hidden; padding: 20px; background-color: #1f90d4; }
        #FormText { text-align: center; margin-bottom: 40px; margin-top: 40px; }
        #Footer { width: 100%; font-family: 'Open Sans', sans-serif; font-size: 11px; color: #ffffff; text-align: center; text-transform: uppercase; margin-top: 83px; background-color: #1f90d4; padding-top: 40px; padding-bottom: 40px; }
        #FooterLogo { margin-bottom: 20px; }
        .FooterLink { color: #ffffff; }
        .FooterLink:hover { color: #ffffff; }
        .btn { background-color: #1f90d4; color: #ffffff; text-transform: uppercase; }
        </style>
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/font-face.css' %}" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,600' rel='stylesheet' type='text/css'></head>
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>




        <div id="Logo"><a href="/"><img src=" {% static 'img/logo.png' %}" class="displayed" /></a></div>

{% block content %}
<!--ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li><a href="/logout/">Logout</a></li>
    {% else %}
    <li><a href="/login/">Login</a></li>
    <li><a href="" class="p-r-none">Sign Up</a></li>
    {% endif %}
    </ul-->
    

<div class="container">
	

<div id="content" class="colM">
	<div id="content-main">

    <!--form class="form-horizontal" id="login-form" method="post" action="{% url 'django.contrib.auth.views.login' %}"-->
    <form class="form-horizontal" id="login-form" method="post" action="/registro/">
                {% csrf_token %}
                
                <div id="FormText">Ingresa los datos solicitados para crear tu cuenta.
                        {% if alert %}
                        <p><div class="alert alert-danger"><strong>{{alert}}</strong></div></p>
                        {% endif %}
                 </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.username.id_for_label }}">Usuario *</label>  
                            <div class="col-md-4">
                                {{ form.username }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.username.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label"> Tipo de Cliente*</label>  
                            <div class="col-md-4">
                        <input type="checkbox" id="tipo" value="empresa" checked="true"> Empresa
                        </div></div>
                        <div id="hidden">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.razon_social.id_for_label }}">Razón Social *</label>  
                            <div class="col-md-4">
                                {{ form.razon_social }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.razon_social.errors }}
                        </center>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.rut.id_for_label }}">Rut *</label>
                            <div class="col-md-4">
                                {{ form.rut }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.rut.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.nombre.id_for_label }}">Nombre *</label>
                            <div class="col-md-4">
                                {{ form.nombre }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.nombre.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.apellido.id_for_label }}">Apellidos *</label>
                            <div class="col-md-4">
                                {{ form.apellidos }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.apellidos.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.fono.id_for_label }}">Telefono *</label>
                            <div class="col-md-4">
                                {{ form.fono }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.fono.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.email.id_for_label }}">Email *</label>
                            <div class="col-md-4">
                                {{ form.email }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.email.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.password.id_for_label }}">Contraseña *</label>
                            <div class="col-md-4">
                                {{ form.password }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.password.errors }}
                        </center>

                        <!-- Button -->
                        <div class="form-group">
                          <label class="col-md-4 control-label" for="submit_btn"></label>
                          <div class="col-md-4">
                            <button id="submit_btn" name="submit_btn" class="btn">
                                
                                <i class="glyphicon glyphicon-pencil"></i> Registrate
                                <!--input type="submit" value="Login" class="btn btn-primary pull-right" /-->
                            </button>
                          </div>
                        </div>

                    </form>
                
                <!--
                {% if form.errors %}
                    <p class=" label label-danger">
                        Su nombre de usuario y password no coinciden. Por favor intentelo de nuevo
                    </p>
                {% endif %}
                -->
                <!--input type="button" name="next" value="{{ next }}" /-->
            </form>
		</div>
	</div>
</div>

{% endblock content %}
<div id="Footer">
                <div id="FooterLogo"><img src=" {% static 'img/logo.png' %}" /><br /></div>
                <a href="/sms-masivo" class="FooterLink">sms</a> | <a href="/mail-masivo" class="FooterLink">e-mail</a>  | ivr | whatsapp<br />
                <br />
                Santa Beatriz Nº 100, Oficina 501 - Providencia<br /><i class="fa fa-phone-square"></i> +569 8449 2882
            </div>

<script src="{% static 'plugins/jQuery/jQuery-2.2.0.min.js' %}"></script>
<script>



$('#tipo').click( function() {
    if ($("#hidden").is(":visible")){
        $("#id_razon_social").text($("id_nombre").text() +" "+$("id_apellidos").text());
    } 

    $("#hidden").toggle();
    
});

    if ($("#hidden").is(":visible")){
    $("#id_nombre").keyup( function() {
        $("#id_razon_social").text($("id_nombre").text() +" "+$("id_apellidos").text());
    });
    $("#id_apellidos").keyup( function() {
        $("#id_razon_social").text($("id_nombre").text() +" "+$("id_apellidos").text());
    });

}

/*
        $(function() {
        $( document ).mousedown(function(event) {
    switch (event.which) {
        case 3:
            //alert('Accion no permitida.');
            return false;
            break;
      
        }
        });
    });

// With jQuery
$(document).on({
    "contextmenu": function(e) {
        console.log("ctx menu button:", e.which); 

        // Stop the context menu
        e.preventDefault();
    },
    "mousedown": function(e) { 
        console.log("normal mouse down:", e.which); 
    },
    "mouseup": function(e) { 
        console.log("normal mouse up:", e.which); 
    }
});
*/
</script>

