<!--Start Central Slider-->
{% load staticfiles %}

<div id="slider" class="one-pageslider">
    <div id="rev_slider_10_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#eeeeee;padding:0px;margin-top:0px;margin-bottom:0px;max-height:650px;">
        <!-- START REVOLUTION SLIDER 4.6.5 fullwidth mode -->
        <div id="rev_slider_10_1" class="rev_slider fullwidthabanner" style="display:none;max-height:650px;height:650px;">
            <ul>
                <!--Start Slide 01-->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" data-saveperformance="off">
                <!-- MAIN IMAGE -->
                <img src="{% static 'img/Slider-Home-01.jpg' %}" alt="Slider1" data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption TW_Home3 lfl tp-resizeme" data-x="center" data-hoffset="-3" data-y="center" data-voffset="255" data-speed="600" data-start="1300" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a href="/registro" target="_blank" class="btn btn-flat btn-l white-button" style="border-color:#fba61a;background-color:#fba61a; border-radius: 6px;"><span class="BtnSlider">empieza ahora</span></a>
                </div>
                </li>
                <!--End Slide 01-->
                <!--Start Slide 02-->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" data-saveperformance="off">
                <!-- MAIN IMAGE -->
                <img src="{% static 'img/Slider-Home-02.jpg' %}" alt="Slider2" data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption TW_Home3 lfl tp-resizeme" data-x="center" data-hoffset="-3" data-y="center" data-voffset="255" data-speed="600" data-start="1300" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a href="/registro" target="_blank" class="btn btn-flat btn-l white-button" style="border-color:#fba61a;background-color:#fba61a; border-radius: 6px;"><span class="BtnSlider">empieza ahora</span></a>
                </div>
                </li>
                <!--End Slide 02-->
                <!--Star Slide 03-->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" data-saveperformance="off">
                <!-- MAIN IMAGE -->
                <img src="{% static 'img/Slider-Home-03.jpg' %}" alt="Slider3" data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption TW_Home3 lfl tp-resizeme" data-x="center" data-hoffset="-3" data-y="center" data-voffset="255" data-speed="600" data-start="1300" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a href="/registro" target="_blank" class="btn btn-flat btn-l white-button" style="border-color:#fba61a;background-color:#fba61a; border-radius: 6px;"><span class="BtnSlider">empieza ahora</span></a>
                </div>
                </li>
                <!--End Slide 03-->
                <!--Start Slide 04-->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" data-saveperformance="off">
                <!-- MAIN IMAGE -->
                <img src="{% static 'img/Slider-Home-04.jpg' %}" alt="Slider4" data-bgposition="left top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption TW_Home3 lfl tp-resizeme" data-x="center" data-hoffset="-3" data-y="center" data-voffset="255" data-speed="600" data-start="1300" data-easing="Power4.easeOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
                    <a href="/registro" target="_blank" class="btn btn-flat btn-l white-button" style="border-color:#fba61a;background-color:#fba61a; border-radius: 6px;"><span class="BtnSlider">empieza ahora</span></a>
                </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom">
            </div>
        </div>
    </div>
    <!-- END REVOLUTION SLIDER -->
</div>
<!--End Central Slider-->