{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<html lang="es-ES">
    <head>
    {% include 'meta.html' %}
    {% include 'head.html' %}
    </head>

    <body class="page page-template-default custom-background waves-pagebuilder menu-fixed header-logo_left theme-full">

		<div id="theme-layout">
        
        {% include 'header.html' %}
			
			<!-- Start Main -->
			<section id="main">
			<div id="page">
            	<!--Start Content Connectus-->
                <!--Start Page Header-->
                	<div id="PageHeader">
                    	<div class="container">
                        	<div class="waves-breadcrumbs">
								<div id="crumbs" class="">
								<span class="crumb-item"><a href="/">Homepage</a></span><span class="crumb-item current">Sms</span>
                                </div>
                            </div>
                        	<div class="col-md-6"><img src="{% static 'img/sms-header-image.png' %}" /></div>
                            <div class="col-md-6">
                                <div id="PageData"><div id="PageTitle">ENVÍOS MASIVOS DE MENSAJES DE TEXTO</div><br />
                                Llega a tus contactos de forma instantánea y efectiva,<br>
                                donde quiera que estén e independientemente de si<br>
                                están usando un smartphone o un teléfono regular.
								</div>
							</div>
                        </div>
                    </div>
                <!--End Page Header-->
                <!--Start Why-->
                	<div id="PortWhy">
                    	<div class="container">
                        	<div class="row">
                            <div class="col-md-12">
                            	<div id="SectionTitleBlue">&iquest;Por qué enviar SMS?</div>
                            </div>
                            </div>
                    		<div class="row">
                            <div class="col-md-6">
                        		<div id="TipsContainer">
                                <p class="TipsData">¿Cuándo fue la última vez que revisaste tu celular?<br><br>Exacto! Con la importancia que los dispositivos móviles han adquirido en nuestra rutina diaria, no es casualidad que muy pocos medios puedan competir con el SMS cuando se trata de comunicación instantánea.</p>
                            	<p class="TipsData">Por otro lado, la inmediatez y facilidad con que las personas interactúan con un SMS, hacen que sus tasas de respuesta sean considerablemente mejores que las de otros medios de marketing alternativos.</p>
                                </div>
                        	</div>
                        	<div class="col-md-6">
                            <!--Start Old Icons-->
                            <div class="col-md-4">
                            	<img src="{% static 'img/icon-sms-description-01.png' %}" /><br />
                                <p class="TipsText">Comunicación<br/> instantánea</p>
                            </div>
                        	<div class="col-md-4">
                            	<img src="{% static 'img/icon-sms-description-03.png' %}" /><br />
                                <p class="TipsText">Mejores tasas de apertura</p>
                            </div>
                        	<div class="col-md-4">
                            	<img src="{% static 'img/icon-sms-description-04.png' %} " /><br />
                                <p class="TipsText">Llega a cualquier telefono celular</p>
                            </div>
                           <!--End Old Icons -->
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                        		<hr />
                        	</div>
                            </div>
                    	</div>
                    </div>
                <!--End Why-->
                <!--Start Works-->
                	<div id="PortWhy">
                    	<div class="container">
                        	<div class="row">
                            <div class="col-md-12">
                            	<div id="SectionTitleBlue">¿Cómo funciona?</div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                            	<img src="{% static 'img/sms-como-funciona.jpg' %}" />
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                            	<hr />
                            </div>
                            </div>
                        </div>
                    </div>
                <!--End Works-->
                <!--Start Prices-->
                	<div id="PortWhy">
                    	<div class="container">
                        	<div class="row">
                            <div class="col-md-6">
                        		<div id="SectionTitleBlueLeft">Valores</div>
                            	<p class="TipsData">En Connectus buscamos ofrecer la solución más simple, confiable y económica. No tenemos cláusulas de permanencia, complejos contratos, ni costos escondidos, y cualquier persona puede registrarse y probar nuestra plataforma antes de tomar la decisión de compra.</p>
                            	<p class="TipsData">Prueba ahora de forma gratuita y después carga créditos desde nuestra plataforma via webpay con tarjeta de crédito o débito. Ademas, si necesitas una cotización personalizada contacta a nuestros ejecutivos, quienes te responderán durante el transcurso del día.</p>
                        	</div>
                        	<div class="col-md-6">
                            	<table class="PriceTable">
                                	<tr>
                                    	<td class="TdTitle1">Rango</td>
                                        <td class="TdTitle2">Valor Unitario*</td>
                                    </tr>
                                    <tr>
                                    	<td class="PriceTd1">0 a 500</td>
                                        <td class="PriceTd2">$37 c/u</td>
                                    </tr>
                                    <tr>
                                    	<td class="PriceTd3">501 a 1.500</td>
                                        <td class="PriceTd4">$36 c/u</td>
                                    </tr>
                                	<tr>
                                    	<td class="PriceTd1">1.501 a 2.500</td>
                                        <td class="PriceTd2">$35 c/u</td>
                                    </tr>
                                    <tr>
                                    	<td class="PriceTd3">2.501 a 5.000</td>
                                        <td class="PriceTd4">$34 c/u</td>
                                    </tr>
                                	<tr>
                                    	<td class="PriceTd1">5.001 a 10.000</td>
                                        <td class="PriceTd2">$33 c/u</td>
                                    </tr>
                                    <tr>
                                    	<td class="PriceTd3">10.001 a 15.000</td>
                                        <td class="PriceTd4">$32 c/u</td>
                                    </tr>
                                    <tr>
                                    	<td class="PriceTd1">15.001 a 25.000</td>
                                        <td class="PriceTd2">$31 c/u</td>
                                    </tr>
                                </table>
                                <span class="TableInfo">* Valores no incluyen IVA.</span>
                            </div>
                            </div>
                            <div class="row">
                        	<div class="col-md-12">
                            	<hr />
                            </div>
                            </div>
                        </div>
                    </div>
                <!--End Prices-->
                <!--Start Testimonial-->
                	<div id="PortWhy">
                    	<div class="container">
                        	<div class="row">
                            <div class="col-md-12">
                            	<!--start insert testimonial-->
                                <div class="tw-element carousel-container col-md-12" style="">
										<div class="waves-carousel-testimonial list_carousel clearfix style_3" data-duration="1500" data-autoplay="true" data-timeout="300">
											<div class="waves-carousel">
												<div class="testimonial-item clearfix">
													<div class="testimonial-content">
														<p>"9 de cada 10 personas en Chile tiene un teléfono celular"</p>
													</div>
													<div class="testimonial-title-sep">
													</div>
													<span class="TestimonialAuthor">Pew Research Center</span>
												</div>
												<div class="testimonial-item clearfix">
													<div class="testimonial-content">
														<p>"La tasa promedio de apertura de un SMS es de aproximadamente un 95%"</p>
													</div>
													<div class="testimonial-title-sep">
													</div>
													<span class="TestimonialAuthor">smsmarketing.org</span>
												</div>
												<div class="testimonial-item clearfix">
													<div class="testimonial-content">
														<p>"90% de los SMS son leídos dentro de los primeros 3 minutos"</p>
													</div>
													<div class="testimonial-title-sep">
													</div>
													<span class="TestimonialAuthor">singlepoint.com</span>
												</div>
											</div>
										</div>
									</div>
                            </div>
                            <!--end insert testimonial-->
                            </div>
                            <div class="row">
                            <div class="col-md-12">
                            	<hr />
                            </div>
                            </div>
                        </div>
                    </div>
                <!--End Testimonial-->
                <!--Start Clients-->
                	<div id="PortWhy">
                    	<div class="container">
                        	<div class="row">
                            <div id="SectionTitleBlue">Quienes han confiado en nosotros</div>
                            </div>
                            <!--Start Carousel Clients-->
                            	<div class="row-container light bg-scroll" style="">
					<div class="waves-container container">
						<div class="row">
							<div class="col-md-12 ">
								<div class="row">
									<div class="tw-element carousel-container col-md-12" style="">
										<div class="waves-carousel-post list_carousel carousel-anim" data-autoplay="false" data-items="2">
											<div class="waves-carousel">
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/logo-uniacc.jpg' %}" /><br />
                                                        <p class="ClientText">Uniacc envía campañas de marketing, de admisión e información de becas</p>
													</div>
												</div>
												<div class="tw-owl-item">
													<div class="carousel-thumbnail waves-thumbnail">
														<img src="{% static 'img/logo-red-salud.jpg' %}" /><br />
                                                        <p class="ClientText">Red de Salud UC Christus envía notificaciones de vencimiento de pagos a clientes</p>
													</div>
												</div>
											</div>
											<div class="clearfix">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                            

                    </div>
                <!--End Clients-->


                <!--Start Callout-->
				<div id="MyCallOut">
					<div class="waves-container container">
						<div class="row">
                        	<div class="col-md-6">
                            	<div id="CallOutText">
                                	<p>Empieza hoy a usar Connectus</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                            	<div id="CallOutMobile">
                                <div id="CallOutBtn">
                                    <a href="/registro" target="_blank" class="CallOutBot">Prueba ahora nuestra plataforma</a>
                                </div>
                                </div>
                            </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
                <!--End Callout-->
                <!--End Content Connectus-->
			</div>
			</section>
			<!-- End Main -->
            {% include 'footer.html' %}

		</div>
            {% include 'javascript.html' %}

    </body>
</html>