
{% load staticfiles %}
{% if request.user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  <div class="content-wrapper">
    <div class="box-body">


{% block content %}
<!--ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li><a href="/logout/">Logout</a></li>
    {% else %}
    <li><a href="/login/">Login</a></li>
    <li><a href="" class="p-r-none">Sign Up</a></li>
    {% endif %}
    </ul-->

<form class="form-horizontal" id="login-form" method="post" action="/perfil/user/create/">
{% csrf_token %}

<div id="container" class="container">
  
<div class="page-header">
    <div class="container-fluid">

    <div class="pull-right">
    <button id="submit_btn" name="submit_btn" class="btn btn-primary">
        <i class="fa fa-save"></i> 
    </button>

      </div>

      <h1>Usuarios</h1>
      <ul class="breadcrumb">
        {% if entrar_como == None or entrar_como == 0 %}
        <li><a href="/perfil">Panel de Control</a></li>
        <li><a href="/perfil/user">Usuario</a></li>
        {% else %}
        <li><a href="/perfil/{{entrar_como}}/">Panel de Control</a></li>
        <li><a href="/perfil/user/_{{entrar_como}}/">Usuario</a></li>
        
        {% endif %}
      </ul>
    </div>
  </div>


<div id="content" class="colM">
  <div id="content-main">    
    {% if responses == 1%}
    <div  class="alert alert-success"><i class="fa fa-check-circle"></i> Se ha creado el usuario exitosamente 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
        {% endif %}

    <div class="panel panel-default">
          <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Crear Usuario</h3>
      </div>

                <div id="FormText"></div>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.username.id_for_label }}">Nombre de Usuario *</label>
                            <div class="col-md-4">
                                {{ form.username }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.username.errors }}
                        </center>
                        {% if request.user.is_staff or request.user.is_superuser %}
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.empresa.id_for_label }}">Empresa *</label>
                            <div class="col-md-4">
                            <select class="col-md-4 form-control input-md" id="id_empresa" name ="empresa">
                            {% for empresa in empresas %}
                            <option value="{{ empresa.customer_id }}"> {{ empresa.razon_social }}</option>
                            {% endfor %}
                            </select>
                            </div>
                            <!--div class="col-md-4">
                                {{ form.empresa }}
                            </div-->
                        </div>
                        <center style="color: red">
                        {{ form.empresa.errors }}
                        </center>
                        {% endif %}

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.first_name.id_for_label }}">Nombre *</label>
                            <div class="col-md-4">
                                {{ form.first_name }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.first_name.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.last_name.id_for_label }}">Apellido *</label>
                            <div class="col-md-4">
                                {{ form.last_name }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.last_name.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.email.id_for_label }}">Email *</label>
                            <div class="col-md-4">
                                {{ form.email }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.email.errors }}
                        </center>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.password.id_for_label }}">Password </label>
                            <div class="col-md-4">
                                {{ form.password }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.password.errors }}
                        </center>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.is_active.id_for_label }}">Activo </label>
                            <div class="col-md-4">
                                {{ form.is_active }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.is_active.errors }}
                        </center>

{{ form.errors }}
       </div>         
       </div>
  </div>
</div>

</form>
</div>
</div>
{% endblock content %}
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}


</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
