{% load staticfiles %}

  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  <div class="content-wrapper">
    <div class="box-body">

{% block content %}
<!--ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li><a href="/logout/">Logout</a></li>
    {% else %}
    <li><a href="/login/">Login</a></li>
    <li><a href="" class="p-r-none">Sign Up</a></li>
    {% endif %}
    </ul-->
<form class="form-horizontal" id="login-form" enctype="multipart/form-data" method="post" action="/perfil/user/editp/{{ id }}/">
{% csrf_token %}

<div id="container" class="container">
  
<div class="page-header">
    <div class="container-fluid">

    <div class="pull-right">
    <button id="submit_btn" name="submit_btn" class="btn btn-primary">
        <i class="fa fa-save"></i> 
    </button>

      </div>
      <h1>Clientes</h1>
      <ul class="breadcrumb">
        <li><a href="/perfil">Panel de Control</a></li>
        <li><a href="/perfil/cliente">Cliente</a></li>
      </ul>
    </div>
  </div>


<div id="content" class="colM">
  <div id="content-main">    
    <div class="panel panel-default">
          <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Editar datos Usuario #{{ id }}</h3>
      </div>


                
                <div id="FormText"></div>
<br><br>                
<!-- Text input-->
                        <div class="col-md-4" hidden>
                         {{ form.id_usuario }}
                       </div>
			{% if cust.foto %}
                        <center><img src="/static/{{ cust.foto }}" width="150px"></center>
			{% endif %}
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.foto.id_for_label }}">Foto de Perfil </label>
                            <div class="col-md-4">
                                {{ form.foto }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.foto.errors }}
                        </center>
			{% if cust.banner %}
			<center><img src="/static/{{ cust.banner }}" width="150px"></center>
			{% endif %}
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.foto_banner.id_for_label }}">Foto Banner </label>
                            <div class="col-md-4">
                                {{ form.foto_banner }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.foto_banner.errors }}
                        </center>
			{% if cust.foto_empresa %}
                        <center><img src="/static/{{ cust.foto_empresa }}" width="150px"></center>
                        {% endif %}
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.foto_empresa.id_for_label }}">Foto de empresa </label>
                            <div class="col-md-4">
                                {{ form.foto_empresa }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.foto_empresa.errors }}
                        </center>

{{ form.errors }}
       </div>         
       </div>
  </div>
</div>

</form>
</div>
</div>
{% endblock content %}
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}


</body>
</html>
