{% load staticfiles %}

  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  <div class="content-wrapper">
    <div class="box-body">

{% block content %}
<!--ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li><a href="/logout/">Logout</a></li>
    {% else %}
    <li><a href="/login/">Login</a></li>
    <li><a href="" class="p-r-none">Sign Up</a></li>
    {% endif %}
    </ul-->
{% if entrar_como == 0 or entrar_como == None %}
<form class="form-horizontal" id="login-form" method="post" action="/perfil/user/edit/{{ id }}/">
{% else %}
<form class="form-horizontal" id="login-form" method="post" action="/perfil/user/edit/{{ id }}/_{{entrar_como}}/">
{% endif %}
{% csrf_token %}

<div id="container" class="container">
  
<div class="page-header">
    <div class="">

    <div class="pull-right">
    <button id="submit_btn" name="submit_btn" class="btn btn-primary">
        <i class="fa fa-save"></i> 
    </button>

      </div>
      <h1>Usuario</h1>
      <ul class="breadcrumb">
        <li><a href="/perfil">Panel de Control</a></li>
        <li><a href="/perfil/user">Usuario</a></li>
      </ul>
    </div>
  </div>


<div id="content" class="colM">
  <div id="content-main">    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Editar datos Usuario #{{ id }}</h3>
      </div>
      <div id="FormText"><br></div>
                
<!-- Text input-->


                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.username.id_for_label }}">Nombre de Usuario *</label>
                            <div class="col-md-4">
                                {{ form.username }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.username.errors }}
                        </center>

                        <!--div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.empresa.id_for_label }}">Empresa *</label>
                            <div class="col-md-4">
                                {{ form.empresa }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.empresa.errors }}
                        </center-->

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.first_name.id_for_label }}">Nombre *</label>
                            <div class="col-md-4">
                                {{ form.first_name }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.first_name.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.last_name.id_for_label }}">Apellido *</label>
                            <div class="col-md-4">
                                {{ form.last_name }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.last_name.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.email.id_for_label }}">Email *</label>
                            <div class="col-md-4">
                                {{ form.email }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.email.errors }}
                        </center>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.password.id_for_label }}">Password </label>
                            <div class="col-md-4">
                                {{ form.password }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.password.errors }}
                        </center>                        

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.is_active.id_for_label }}">Activo </label>
                            <div class="col-md-4">
                                {{ form.is_active }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.is_active.errors }}
                        </center>


{{ form.errors }}
       </div>         
       </div>
  </div>
</div>

</form>
</div>
</div>
{% endblock content %}
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}


</body>
</html>
