{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  
  <div class="content-wrapper">
    <div class="box-body">
<!-- AQui empieza el content -->

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a href="create/" data-toggle="tooltip" title="Agregar Usuario" class="btn btn-primary"><i class="fa fa-plus"></i></a>
      </div>
      <h1>Usuarios</h1>
      <ul class="breadcrumb">
        {% if entrar_como == None or entrar_como == 0 %}
        <li><a href="/perfil">Panel de Control</a></li>
        {% else %}
        <li><a href="/perfil/{{entrar_como}}">Panel de Control</a></li>
        {% endif %}
        
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if responses == "2" %}
    <div  class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <!-- AQui va el error-->Ocurrio un error <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% elif responses == "1" %}
    <div  class="alert alert-success"><i class="fa fa-check-circle"></i> Se ha creado el usuario exitosamente 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% elif responses == "3" %}
    <div  class="alert alert-success"><i class="fa fa-check-circle"></i> Se ha modificado el usuario exitosamente 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% elif responses == "4" %}
    <div  class="alert alert-success"><i class="fa fa-check-circle"></i> Se ha borrado el usuario exitosamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Lista de Usuarios</h3>
      </div>
      <div class="panel-body">

      <div class="well table-responsive">
        <div>
            <div class="form" >
            <form action="#" method="GET" id="filter_cli">
                <div class="form">
                  <table width="100%"><tr>
                  <td style="width:30%">
                    <label class="control-label" for="input-name">Nombre</label><br>
                    {% if filter_user %}
                    <input type="text" name="filter_user" value="{{ filter_user }}" placeholder="" id="filter_user" class="input-text" />
                    {% else %}
                    <input type="text" name="filter_user" value="" placeholder="Nombre" id="filter_user" class="input-text" />
                    {% endif %}
                  </td>
                  <td style="30%">
                  <label class="control-label" for="input-name">Empresa</label><br>
                  {% if filter_empresa %}
                  <input type="text" id="filter_empresa" name="filter_empresa" value="{{ filter_empresa }}" placeholder="Empresa" class="input-text" />
                  {% else%}
                  <input type="text" id="filter_empresa" name="filter_empresa" value="" placeholder="Empresa" class="input-text" />
                  {% endif %}
                  </td>
                  <td style="width:35%">
                  <label class="control-label" for="input-name">Fecha</label><br>
                  {% if filter_fecha %}
                  <input type="date" id="filter_fecha" name="filter_fecha" value="{{ filter_fecha }}" placeholder="Fechaa" class="input-text" />
                  {% else%}
                  <input type="date" id="filter_fecha" name="filter_fecha" value="" placeholder="Fecha" class="input-text" />
                  {% endif %}
                  </td>
                  <td style="5%"><br>
                    <button id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i> </button>
                  </td></tr></table>
                </div>
              </form>
            </div>
        </div>
      </div>

          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left" width="20%">Nombre</td>
                  <td class="text-left" width="20%">Empresa</td>
                  <td class="text-left" width="20%">Estado</td>
                  <td class="text-left" width="20%">Fecha de ingreso</td>
                  <td class="text-left">Acciones</td>
                </tr>
              </thead>
              <tbody>
              {% if perfiles %}
              {% for p in perfiles %}
              {% if p.user.is_staff == 0 %}
                <tr>
                  <td class="text-left">{{ p.user.username }}</td>
                  <td class="text-left">{{ p.id_empresa.razon_social }}</td>
                  {% if p.user.is_active == 1%}                  
                  <td class="text-left">Activo</td>
                  {% else %}
                  <td class="text-left">Inactivo</td>
                  {% endif %}
                  <td class="text-left">{{ p.user.date_joined|date:"j F Y H:i" }}</td>
                  
                  <td class="text-center">
                    <table>
                    <tr>
                    <td>
                    {% if entrar_como == 0 or entrar_como == None %}
                    <a href="/perfil/user/edit/{{ p.user.id }}" data-toggle="tooltip" title="Editar Usuario" class="btn btn-primary"><i class="fa fa-pencil"></i></a>&nbsp;
                    <a href="/perfil/user/editp/{{ p.user.id }}" data-toggle="tooltip" title="Editar Perfil Usuario" class="btn btn-warning"><i class="fa fa-pencil"></i></a>&nbsp;
                    {% if user.is_staff %}
                    <a href="/perfil/user/delete/{{ p.user.id }}" onclick="return confirm('¿Esta seguro que quiere borrar este usuario?')" data-toggle="tooltip" title="Borrar Usuario" class="btn btn-danger"><i class="fa fa-trash"></i></a>&nbsp;
                    {% endif %}
                    {% else %}
                    <a href="/perfil/user/edit/{{ p.user.id }}/_{{entrar_como}}/" data-toggle="tooltip" title="Editar Usuario" class="btn btn-primary"><i class="fa fa-pencil"></i></a>&nbsp;
                    <a href="/perfil/user/editp/{{ p.user.id }}/_{{entrar_como}}/" data-toggle="tooltip" title="Editar Perfil Usuario" class="btn btn-warning"><i class="fa fa-pencil"></i></a>&nbsp;
                    {% if user.is_staff %}
                    <a href="/perfil/user/delete/{{ p.user.id }}/_{{entrar_como}}/" onclick="return confirm('¿Esta seguro que quiere borrar este usuario?')" data-toggle="tooltip" title="Borrar Usuario" class="btn btn-danger"><i class="fa fa-trash"></i></a>&nbsp;
                    {% endif %}

                    {% endif %}
                    </td>
                    <!--td>
                    <a href="/perfil/user/delete/{{ p.user.id }}" data-toggle="tooltip" title="Eliminar Usuario" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td-->
                    </tr>
                    </table>
                    </td>
                {% endif %}
                </tr>
                {% endfor %}
                {% else %}
                <tr><td class="text-center" colspan="5">SIn resultados</td></tr>                
                {% endif %}
              </tbody>
            </table>
          </div>
       
        <div class="row">
          <div>

        <div class="row">
          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_user or filter_empresa %}
                          <a href="?filter_user={{ filter_user }}&filter_empresa={{ filter_empresa }}&page={{ contacts.previous_page_number }}"><< </a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>

                      {% if contacts.has_next %}
                          {% if filter_user or filter_empresa %}
                          <a href="?filter_user={{ filter_user }}&filter_empresa={{ filter_empresa }}&page={{ contacts.next_page_number }}">>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>


          </div>
          <div class="col-sm-6 text-right">Total: {{ count }} Usuarios</div>
        </div>
      </div>
    </div>
  </div>

</div>
    <!-- AQui termina el content -->
    </div>
  </div>

</div>
</div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

<script>

$(document).keyup( function(e) {
   if(e && e.keyCode == 13) {
      $('#filter_cli').submit();  
   }
});
</script>
                                                                                                                                                              
</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
