{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
  tinymce.init({
  selector: 'textarea',
  height: 500,
  plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste imagetools"
    ],
    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
  
});
  </script>
  <div class="content-wrapper">
    <div class="box-body">

{% if entrar_como and entrar_como != 0 %}
   {% if id == None %}
   <form action="/perfil/templatemsg/agregar/_{{ entrar_como }}/" method="post" id="formenviar">
   {% else %}
   <form action="/perfil/templatemsg/agregar/{{ id }}/{{ entrar_como }}/" method="post" id="formenviar">
   {% endif %}

   {% else %}

   {% if id == None %}
   <form action="/perfil/templatemsg/agregar/" method="post" id="formenviar">
   {% else %}
   <form action="/perfil/templatemsg/agregar/{{ id }}/" method="post" id="formenviar">
   {% endif %}

{% endif %}

  {% csrf_token %}



<div id="content">
    <div class="page-header">
        <div class="container-fluid">
        <div class="pull-right">
        
    <button id="submit_btn" name="submit_btn" class="btn btn-primary">
        <i class="fa fa-save"></i> 
    </button>
        
       {% if entrar_como and entrar_como != 0 %}
        <a href="/perfil/templatemsg/{{ entrar_como }}/" data-toggle="tooltip" title="" class="btn btn-default"><i class="fa fa-reply"></i></a>
        {% else %}
        <a href="/perfil/templatemsg/" data-toggle="tooltip" title="" class="btn btn-default"><i class="fa fa-reply"></i></a>
        {% endif %} 
      </div>
            <h1>Agregar Plantilla Mail</h1>
            <ul class="breadcrumb">
                
                {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
                <li><a href="/perfil/template_msg/{{ entrar_como }}/">Plantillas</a></li>
                {% else %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/template_msg/{{ tipo.lower }}">Plantillas</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Agregar Plantilla Mail</h3>
            </div>
            <div class="panel-body">
                               
                        <div class="display-margin row">

                                <div class="col-sm-12">                                      
                                    <div class="form-group">
                                    <label class="control-label" for="{{ form.titulo.id_for_label }}">Titulo *</label>  
                                    <div>
                                        {{ form.titulo }}
                                    </div>
                                    </div>
                                    <center style="color: red">
                                    {{ form.titulo.errors }}
                                    </center>
                                    </div>
                                    <div class="col-sm-12">
                                    <div class="form-group">
                                    <label class="control-label" for="{{ form.cuerpo.id_for_label }}">Cuerpo *</label>  
                                    <div>
                                        {{ form.cuerpo }}
                                    </div>

                                    </div>
                                    <center style="color: red">
                                    {{ form.mensaje_a_enviar.errors }}
                                    </center>
                                    </div>
                                    
                                </div>                   
                    
                    
                    </div>                                
                    </div>
            </div>
        </div>
        </form>
    </div>
</div>


  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}


</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
