{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  
  <div class="content-wrapper">
    <div class="box-body">

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
    <div class="pull-right">
    {% if entrar_como and entrar_como != 0 %}
    <a href="/perfil/templatemsg/agregar/_{{entrar_como}}" id="submit_btn" name="submit_btn" class="btn btn-primary" data-toggle="tooltip" title="Agregar Plantilla">
        <i class="fa fa-plus"></i>
    </a>
    {% else %}
    <a href="/perfil/templatemsg/agregar/" id="submit_btn" name="submit_btn" class="btn btn-primary" data-toggle="tooltip" title="Agregar Plantilla">
        <i class="fa fa-plus"></i>
    </a>

    {% endif %}
      </div>


            <h1>Plantillas para  Mail</h1>
            <ul class="breadcrumb">
                {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
                <li><a href="/perfil/templatemsg/{{ entrar_como }}/">Plantillas</a></li>
                {% else %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/templatemgs">Plantillas</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="panel panel-default">

    {% if resp == "1" %}
   <div class="alert alert-success"><i class="fa fa-check-circle"></i> Se ha editado la plantilla de email correctamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if resp == "2" %}
   <div class="alert alert-success"><i class="fa fa-check-circle"></i> Se ha eliminado la plantilla de email correctamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if resp == "3" %}
   <div class="alert alert-success"><i class="fa fa-check-circle"></i> Se ha guardado la plantilla de email correctamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}



            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Lista de Plantillas</h3>
            </div>
            <div class="panel-body">
                <div class="well">
                    <div>
                        <div class="row" >
                         <form action="#" method="GET" id="filter_rep">
                            <div class="form-inline">
                                <label class="control-label" for="input-name">Nombre</label>
                                {% if  filter_name %}
                                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="Nombre" id="input-name" class="input-text" style="width:50%" />
                                {% else %}
                                  <input type="text" name="filter_name" placeholder="Nombre" id="input-name" class="input-text" style="width:50%">
                                {% endif %}
                                <button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-max-with">
                            <thead>
                            <tr>
                                <td class="text-left" style="width: 70%">Nombre </td>
                                <td class="text-left" style="width: 20%">Acciones</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if aux %}
                            {% for arch in aux %}
                            <tr>
                                <td class="text-left">{{ arch.asunto }}</td>
                                <td class="text-left">
                                <a href="#" data-toggle="modal" data-target='#modal_{{arch.id_templatemsg}}' title="Ver Plantilla" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                {% if entrar_como != 0 and entrar_como %}
                                    <a href="/perfil/templatemsg/edit/{{arch.id_templatemsg}}/{{entrar_como}}" data-toggle="tooltip" title="Editar Plantilla" class="btn btn-warning"><i class="fa fa-eye"></i></a>
                                    <a href="/perfil/templatemsg/delete/{{arch.id_templatemsg}}/{{entrar_como}}" onclick="return confirm('¿Esta seguro de eliminar la plantilla?')" data-toggle="tooltip" title="Eliminar Plantilla" class="btn btn-danger"><i class="fa fa-trash"></i></a>

                                {% else %}
                                    <a href="/perfil/templatemsg/edit/{{arch.id_templatemsg}}" data-toggle="tooltip" title="Editar Plantila" class="btn btn-warning"><i class="fa fa-eye"></i></a>
                                    <a href="/perfil/templatemsg/delete/{{arch.id_templatemsg}}" onclick="return confirm('¿ESta seguro de eliminar la plantilla?')"  data-toggle="tooltip" title="Eliminar Plantilla" class="btn btn-danger"><i class="fa fa-trash"></i></a>

                                {% endif %}
                                </td>
                            </tr>
                           

                                 <div class="modal fade" tabindex="-1" role="dialog" id='modal_{{arch.id_templatemsg}}'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{ arch.asunto}}</h4>
                </div>

                <div class="modal-body" id="modal_{{arch.id_templatemsg}}">
		{{arch.cuerpo|safe}}<br>
                </div>

                <div class="modal-footer">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="8">  No hay resultados </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>


        <div class="row">
          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_username or filter_email or filter_fecha %}
                          <a href="?filter_username={{ filter_username }}&filter_email={{ filter_email }}&filter_date_added={{ filter_fecha }}$
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>
                        {% if contacts.has_next %}
                          {% if filter_username or filter_email or filter_fecha %}
                          <a href="?filter_username={{ filter_username }}&filter_email={{ filter_email }}&filter_date_added={{ filter_fecha }}$
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>
</div>
</div>

        <div class="text-right">
        Total: {{ count }} Plantillas
        </div>
                </div>
            </div>
        </div>
    </div>


    </div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

<!--
     <div class="modal fade" tabindex="-1" role="dialog" id='modal_edit_driver'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Log</h4>
                </div>

                <div class="modal-body">
    		
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div><!-- /.modal -->




</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}

