{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  
  <div class="content-wrapper">
    <div class="box-body">

<div id="content">

    <div class="page-header">
        <div class="container-fluid">
            <h1>Enviar SMS</h1>
            <ul class="breadcrumb">
            {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
                <li><a href="/perfil/sms/{{ entrar_como }}/">SMS</a></li>
                {% else %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/sms">SMS</a></li>
                {% endif %}
            </ul>
        </div>
    </div>


    {% if responses == 1%}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> Ud no posee los permisos suficientes para acceder a esta lista
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% elif responses == 2%}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> Ud no posee los créditos suficientes
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% elif responses == 3%}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i>Se ha(n) enviado el(los) mensaje(s) correctamente
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

    {% endif %}


    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="/perfil/sms/{{entrar_como}}/" method="POST" id="form-download" class="form-horizontal">
                {% csrf_token %}

{{ form.errors }}
<div class="col-sm-10">
  
        <div class="paso-title pasos">
            <div class="alert info-paso" role="alert" style="background-color: #d9eef9; border-color: #baeaf4; color: #115376;">
                 <strong>&nbsp; &nbsp;Paso 1: </strong>¿A quién(es)?
            </div>
        </div>

        
            
        <div>
            <div class="divcenter">

                <div class="row">
                {% for choice in form.options %}
                    <label class="radio-inline">
                        {{ choice.tag }}
                        {{ choice.choice_label }}                
                        </label>
                    {% endfor %}

                </div>

            
                <div class="row margin1em" id='select_number'>
                    <div class='col-md-4 col-md-offset-2'>

                        <div class="col-xs-1 icono">
                            <i class="fa fa-globe fa-lg"></i> &nbsp;
                        </div>
                        
                        <div class='col-xs-11 col-md-10'>
                            <div class="form-group">
                            {{ form.lista_pais }}

                            </div>
                        </div>
                    </div>
                        
                    <div class='col-md-4'>
                        <div class="col-xs-1 icono2">
                            <i class="fa fa-mobile-phone fa-2x"></i>
                        </div>
                        
                        <div class="col-xs-11 col-md-10">                                        
                            <div class="form-group">
                                {{ form.numero }}

                                <!--input type="number" class="form-control" id="input_numero" name="numero" placeholder="Ingresa el numero de destino" min="10000000" max="99999999" value=""/-->
                            </div>
                        </div>
                    </div>
                </div>
                        

                <div class='row' id='txt_number'>
                    <p class="input-number" id='num_final'></p>

                    <input type='hidden' id='numero_final' name='numero_final' value=''>
                </div>



                <div class='row margin1em' hidden id='hiddrop'>

                    <div class="col-md-8 col-md-offset-2">

                        <div id="dropdown">


                            <div class="col-xs-1 icono">
                                <i class="fa fa-users fa-lg"></i>
                            </div>

                                
                            <div class="col-xs-11 col-md-10">  
                                <select class="form-control" id="sel1" name="entry_lista">
                                    <option value="sel_null" disabled selected>Selecciona una lista de contactos</option>
                                    {% for lc in lista%}
                                    <option value="{{ lc.id_lista }}"> {{ lc.nombre}} </option>
                                    {% endfor %}
                                </select>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>            


        <div class="paso-title pasos">
            <div class="alert info-paso" role="alert" style="background-color: #d9eef9; border-color: #baeaf4; color: #115376;">
                 <strong>&nbsp; &nbsp;Paso 2: </strong>¿Qué mensaje?
            </div>
        </div>

        <div class="divcenter">

                <div class="row">
                {% for choice in form.check_tipo_mensaje %}
                    <label class="radio-inline">
                        {{ choice.tag }}
                        {{ choice.choice_label }}                
                        </label>
                    {% endfor %}

                </div>


            <div class="row margin1em" hidden id='sms_predefinido'>
            
                <div class='col-xs-12 col-md-8 col-md-offset-2'>

                    <div class="col-xs-11 col-md-10 col-xs-offset-1">
                        <select class="form-control" id="select_predefinidos">
                            <option value="" disabled selected>Selecciona un mensaje predefinido</option>
                            {% for msj in mensajes %}
                            <option value="{{ msj.cuerpo }}"> {{ msj.titulo }} </option>
                            {% endfor %}
                        </select>
                    </div>

                </div>
                    
            </div>

                


        

            <div class="display-margin row">

                <div style="margin: auto; padding: 10px;" class="col-sm-2" >
                    <br>
                    <div id="campos" class="div_campos">
                      <label style="font: 15px;"> Campos </label>
                      <ul id="lista" class="ul" onclick="lang1(event);">

                      </ul>
                    </div>                                
                </div>

                <div class="col-sm-8">
                    
                    <div class="form-group">
                        <label style="float:left">Titulo envío</label>
                        {{ form.titulo }}
                    </div>

                    <div class="form-group">
                        {{ form.mensaje_a_enviar }}
                        <!--textarea maxlength="160" name="mensaje_a_enviar" id="mensaje-area" placeholder="Ingresa aqui tu mensaje" class="input-mensaje"></textarea-->
                        

                    </div>
                         
                    <div class="form-group">

                        <div class="checkbox">
                            {{ form.check_guardar_predefinido }} Guardar predefinido
                            
                        </div>
                    </div>

                    <div class="form-group" id="nombre_predefinido" hidden>
                        {{ form.nombre_predefinido }}
                        
                    </div>

                        
                </div>
                
                <div class="col-sm-2">
                    <br>
                    <div style="margin: auto; padding: 10px;" class="form-inline control-label">
                   
                        <label style="width:30px;" class="control-label" for="input-filename" ><div id="contador" style="display: inline;">0/160</div><span data-toggle='tooltip' data-original-title='Sobre 160 caracteres se enviará más de un SMS por contacto'></span></label>

                    </div>
                </div>

            </div>  

            
        </div>


        <div class="paso-title pasos">
            <div class="alert info-paso" role="alert" style="background-color: #d9eef9; border-color: #baeaf4; color: #115376;">
            
                 <strong>&nbsp; &nbsp;Paso 3: </strong>¿Con qué opciones?
            </div>
        </div>
               

            <div class="divcenter"> 
                    
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for='input_remitente' class='col-sm-2 col-md-offset-2 control-label'>Remitente</label>

                            <div class='col-sm-4'>
                                {{ form.remitente }}
                               
                            </div>                           
                        </div> 
                    </div>
                    

                  

                    <div>

                        <div class="form-group">
                            <label>¿Cuándo enviar?</label>
                        </div>

                        <div class="row">
                        {% for choice in form.tipo_envio %}
                            <label class="radio-inline">
                                {{ choice.tag }}
                                {{ choice.choice_label }}                
                                </label>
                            {% endfor %}

                        </div>
                <br>


                <div class='form-horizontal' hidden id="programado">                            
                    
                    <div class="form-group">
                        <label for='input_fecha' class='col-sm-2 col-md-offset-2 control-label'>Fecha</label>
                        <div class='col-sm-4'>
                            <input type="date" name="fecha_envio" value="<?php echo $fecha_envio ?>" id="input_fecha" class="form-control" />
                        </div>                             
                    </div>

                    <div class="form-group">
                        <label for='input_hora' class='col-sm-2 col-md-offset-2 control-label'>Hora</label>
                        <div class='col-sm-4'>
                            <input type="time" name="hora_envio"  id="input_hora" value="<?php echo $hora_envio ?>"  class="form-control" />   
                        </div>
                    </div>
                </div>

                        <div class="form-group">
                        
                        <button type="submit" id="save_btn" form="form-download" data-toggle="tooltip" class="btn btn-primary"> Enviar / Programar</button>

                            <div id="btn-enviar">
                                <span><button onclick="onclickEnviarSms()" style="width:100px" name="enviar" id="" class="btn btn-primary"/> Enviar </span>
                            </div>            
                        </div>

                    </div>
                           



                <!--div class="form-group">

                    <div hidden id="btn-programar">
                        <span><button onclick="onclickEnviarSms()" style="width:100px" id="programar" name="programar" id="programar" class="btn btn-primary"/> Programar </span>
                    </div>
                                        
                </div-->

                
            </div> 

    </div>
 </form>
            </div>
        </div>
    </div>

</div>

    </div>
  </div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

        <script type="text/javascript">

// using jQuery
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
    }
  }
  return cookieValue;
}

        function onclickEnviarSms() {

            $('#enviar').attr('disabled', true);

            var options = $('input[name=options]:checked').val();                      
            
            var x = document.getElementById("sel1").selectedIndex;
            var entry_lista = document.getElementById("sel1").options[x].value;

            var numero = document.getElementById("numero_final").value;

            var mensaje_a_enviar = document.getElementById("id_mensaje_a_enviar").value;
            var titulo_envio = document.getElementById("id_titulo").value;
             
            var check_predefinido = $("#id_check_guardar_predefinido").is(':checked');
            var nombre_mensaje_predefinido = document.getElementById("id_nombre_predefinido").value;
            
            var remitente = document.getElementById("id_remitente").value;

            var tipo_envio = $('input[name=tipo_envio]:checked').val();    
            var fecha_envio = document.getElementById("input_fecha").value;
            var hora_envio = document.getElementById("input_hora").value; 

            var csrftoken = getCookie('csrftoken');


                $.ajax(
                {
                    url: "/perfil/sms/{{entrar_como}}/",
                    type: "POST",
                    data: { csrfmiddlewaretoken: csrftoken, 
                            options: options,
                            entry_lista: entry_lista,
                            numero: numero,
                            mensaje_a_enviar: mensaje_a_enviar,
                            titulo : titulo_envio,
                            check_predefinido: check_predefinido,
                            nombre_mensaje_predefinido: nombre_mensaje_predefinido,
                            remitente: remitente,
                            tipo_envio: tipo_envio,
                            //fecha_envio: fecha_envio,
                            //hora_envio: hora_envio},               
                    success: function (data) {                                  
                        console.log(data);
                    }   
                }
                });
                
                //setTimeout(function(){
                 //   window.location.href = "/perfil/sms/enviar/{{entra_como}}";
                //}, 1000); 

        }

        document.getElementById("sel1").onchange = function () {
            var x = document.getElementById("sel1").selectedIndex;
            var y = document.getElementById("sel1").options[x].value;  
            
        };

        $(document).ready(function(){



            $('#campos').hide();
            //$('#campos_predefinidos').hide();
            $('#sms_predefinido').hide();


        });


                    $("#id_tipo_envio_0").change( function () {
                        $('#programado').hide();
                        $('#btn-enviar').show();
                        $('#btn-programar').hide();
                        
                    });

                    $("#id_tipo_envio_1").change( function () {
                        $('#programado').show();
                        $('#btn-enviar').hide();
                        $('#btn-programar').show();
                    });
                    
                    $("#id_lista_pais").change(function() {
                      $("#numero_final").val( $("#id_lista_pais").val()+$("#id_numero").val() )  
                      $("#num_final").html( "+"+$("#numero_final").val() )
                    });
                    
                    $("#id_numero").keyup(function() {
                      $("#numero_final").val( $("#id_lista_pais").val()+$("#id_numero").val() )  
                      $("#num_final").html( "+"+$("#numero_final").val() )
                    });

                    $("#id_options_0").change( function () {

                        $("#hiddrop").hide();

                        $("#txt_number").show();
                        $("#select_number").show();
                    });

                    $("#id_options_1").change( function () {
                        $("#hiddrop").show();
                        
                        $("#txt_number").hide();
                        $("#select_number").hide();
                    });

                    $("#id_check_tipo_mensaje_0").change ( function () {
                        $("#sms_predefinido").hide();
                    });
                    $("#id_check_tipo_mensaje_1").change ( function () {
                        $("#sms_predefinido").show();
                    });


                    $("#id_titulo").keyup(function () {
                        $("#id_nombre_predefinido").val( $("#id_titulo").val() );
                    });
                    

$("#id_mensaje_a_enviar").focusout(function(){
            var str = $("#id_mensaje_a_enviar").val();
            var message = str;
            
            message = message.replace(/á|à|ä|â|ª/gi, 'a'); 
            message = message.replace(/é|è|ë|ê/gi ,'e'); 
            message = message.replace(/í|ì|ï|î/gi, 'i'); 
            message = message.replace(/ó|ò|ö|ô/gi, 'o'); 
            message = message.replace(/ú|ù|ü|û/gi, 'u'); 
            message = message.replace(/ñ|Ñ/g, 'n');      
            
            message = message.replace("¡", "" );  
            message = message.replace("¿", "" );     
            message = message.replace("&", "y" );   

            $("#id_mensaje_a_enviar").val(message);
            $("#id_mensaje_a_enviar").html(message);
            });



                document.getElementById('id_check_guardar_predefinido').onclick = function() {
                    // access properties using this keyword
                    if ( this.checked ) {                                    
                        $('#nombre_predefinido').show();                                        
                    } else {
                        $('#nombre_predefinido').hide();    

                    }
                };

                document.getElementById("select_predefinidos").onchange = function () {
                   var x = document.getElementById("select_predefinidos").selectedIndex;
                   var y = document.getElementById("select_predefinidos").options[x].value;
                   var p = document.getElementById("select_predefinidos").options[x].text;
                   document.getElementById("id_mensaje_a_enviar").value = y;
                   document.getElementById("id_titulo").value = p;

                   document.getElementById("contador").innerHTML = document.getElementById("id_mensaje_a_enviar").value.length + "/" + "160";

                   if(document.getElementById("id_mensaje_a_enviar").value.length >= 160){
                        var d = document.getElementById("contador");
                        d.className = "text-danger";
                   }
                };

                

                function lang1(event) {
                   var target = event.target || event.srcElement;   
                   document.getElementById("id_mensaje_a_enviar").value += " %" + event.target.innerHTML + "%";
                   document.getElementById("contador").innerHTML = (document.getElementById("id_mensaje_a_enviar").value.length + "/" + "160" );
                   if(document.getElementById("id_mensaje_a_enviar").value.length >= 160){
                        var d = document.getElementById("contador");
                        d.className = "text-danger";
                   }                                                                                                        
                }

                document.getElementById("id_mensaje_a_enviar").onkeyup = function () {
                    document.getElementById("contador").innerHTML = this.value.length + "/" + "160";


                };    


                    </script>


</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}

