{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  <div class="content-wrapper">
    <div class="box-body">

{% if entrar_como and entrar_como != 0 %}
<form action="/perfil/blacklist/agregar/{{ entrar_como }}/" method="post" id="formenviar">
{% else %}
<form action="/perfil/blacklist/agregar/" method="post" id="formenviar">

{% endif %}

  {% csrf_token %}



<div id="content">
    <div class="page-header">
        <div class="container-fluid">
        <div class="pull-right">
        
    <button id="submit_btn" name="submit_btn" class="btn btn-primary">
        <i class="fa fa-save"></i> 
    </button>
        
       {% if entrar_como and entrar_como != 0 %}
        <a href="/perfil/blacklist/{{ entrar_como }}/" data-toggle="tooltip" title="" class="btn btn-default"><i class="fa fa-reply"></i></a>
        {% else %}
        <a href="/perfil/blacklist/" data-toggle="tooltip" title="" class="btn btn-default"><i class="fa fa-reply"></i></a>
        {% endif %} 
      </div>
            <h1>Crear Mail</h1>
            <ul class="breadcrumb">
                
                {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
                <li><a href="/perfil/blacklist/{{ entrar_como }}/">Lista Negra</a></li>
                {% else %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/blacklist/{{ tipo.lower }}">Lista Negra</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Crear Mail</h3>
            </div>
            <div class="panel-body">
                               
                        <div class="display-margin row">

                                <div class="col-sm-12">                                      
                                    <div class="form-group">
                                    <label class="control-label" for="{{ form.titulo.id_for_label }}">Email *</label>  
                                    <div>
                                        {{ form.titulo }}
                                    </div>
                                    </div>
                                    <center style="color: red">
                                    {{ form.titulo.errors }}
                                    </center>
                                    </div>
                       
                                    
                                </div>                   
                    
                    
                    </div>                                
                    </div>
            </div>
        </div>
        </form>
    </div>
</div>


  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}


</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
