{% load staticfiles %}
{% if request.user.is_staff or user.is_superuser %}

  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  <div class="content-wrapper">
    <div class="box-body">

{% block content %}
<!--ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li><a href="/logout/">Logout</a></li>
    {% else %}
    <li><a href="/login/">Login</a></li>
    <li><a href="" class="p-r-none">Sign Up</a></li>
    {% endif %}
    </ul-->
{% if entrar_como == 0 or entrar_como == None %}
<form class="form-horizontal" id="login-form" method="post" action="/perfil/cliente/create/">
{% else %}
<form class="form-horizontal" id="login-form" method="post" action="/perfil/cliente/create/{{entrar_como}}/">
{% endif %}
{% csrf_token %}

<div id="container" class="container">
  
<div class="page-header">
    <div class="container-fluid">

    <div class="pull-right">
    <button id="submit_btn" name="submit_btn" class="btn btn-primary">
        <i class="fa fa-save"></i> 
    </button>

      </div>
      <h1>Clientes</h1>
      <ul class="breadcrumb">
        {% if entrar_como == 0 or entrar_como == None %}
        <li><a href="/perfil">Panel de Control</a></li>
        <li><a href="/perfil/cliente">Cliente</a></li>
        {% else %}
        <li><a href="/perfil/{{entrar_como}}/">Panel de Control</a></li>
        <li><a href="/perfil/cliente/_{{entrar_como}}/">Cliente</a></li>
        {% endif %}
      </ul>
    </div>
  </div>


<div id="content" class="colM">
  <div id="content-main">    
    <div class="panel panel-default">
          <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Crear nueva Empresa</h3>
      </div>



                
                <div id="FormText"></div>
<br><br>                
<!-- Text input-->
                        <!-- Text input-->
                        {% if request.user.is_staff %}
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.reseller.id_for_label }}">Reseller </label>
                            <div class="col-md-4">
                        {{form.reseller}}
                            </div></div>
                        {% endif %}

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.username.id_for_label }}">Usuario *</label>  
                            <div class="col-md-4">
                                {{ form.username }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.username.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label"> Tipo de Cliente*</label>  
                            <div class="col-md-4">
                        <input type="checkbox" id="tipo" value="empresa" checked="true"> Empresa
                        </div></div>
                        <div id="hidden">
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.razon_social.id_for_label }}">Razón Social *</label>  
                            <div class="col-md-4">
                                {{ form.razon_social }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.razon_social.errors }}
                        </center>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.rut.id_for_label }}">Rut *</label>
                            <div class="col-md-4">
                                {{ form.rut }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.rut.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.nombre.id_for_label }}">Nombre *</label>
                            <div class="col-md-4">
                                {{ form.nombre }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.nombre.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.apellido.id_for_label }}">Apellidos *</label>
                            <div class="col-md-4">
                                {{ form.apellidos }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.apellidos.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.fono.id_for_label }}">Telefono *</label>
                            <div class="col-md-4">
                                {{ form.fono }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.fono.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.email.id_for_label }}">Email *</label>
                            <div class="col-md-4">
                                {{ form.email }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.email.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.password.id_for_label }}">Contraseña *</label>
                            <div class="col-md-4">
                                {{ form.password }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.password.errors }}
                        </center>

                        <!-- Button -->
                        
                    </form>
                
                <!--
                {% if form.errors %}
                    <p class=" label label-danger">
                        Su nombre de usuario y password no coinciden. Por favor intentelo de nuevo
                    </p>
                {% endif %}
                -->
                <!--input type="button" name="next" value="{{ next }}" /-->
            </form>
                
           
       </div>         
       </div>
  </div>
</div>

</form>
</div>
</div>
{% endblock content %}
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

<script>



$('#tipo').click( function() {
    if ($("#hidden").is(":visible")){
        $("#id_razon_social").text($("id_nombre").text() +" "+$("id_apellidos").text());
    } 

    $("#hidden").toggle();
    
});

    if ($("#hidden").is(":visible")){
    $("#id_nombre").keyup( function() {
        $("#id_razon_social").text($("id_nombre").text() +" "+$("id_apellidos").text());
    });
    $("#id_apellidos").keyup( function() {
        $("#id_razon_social").text($("id_nombre").text() +" "+$("id_apellidos").text());
    });

}

</script>



</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
