{% load staticfiles %}
{% if request.user.is_staff or request.user.is_superuser %}

  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  <div class="content-wrapper">
    <div class="box-body">

{% block content %}
<!--ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li><a href="/logout/">Logout</a></li>
    {% else %}
    <li><a href="/login/">Login</a></li>
    <li><a href="" class="p-r-none">Sign Up</a></li>
    {% endif %}
    </ul-->
{% if entrar_como == 0 or entrar_como == None %}
<form class="form-horizontal" id="login-form" method="post" action="/perfil/cliente/edit/{{ id }}/">
{% else %}
<form class="form-horizontal" id="login-form" method="post" action="/perfil/cliente/edit/{{ id }}/_{{ entrar_como }}/">
{% endif %}
{% csrf_token %}

<div id="container" class="container">
  
<div class="page-header">
    <div class="container-fluid">

    <div class="pull-right">
    <button id="submit_btn" name="submit_btn" class="btn btn-primary">
        <i class="fa fa-save"></i> 
    </button>

      </div>
      <h1>Clientes</h1>
      <ul class="breadcrumb">
        {% if entrar_como == 0 or entrar_como == None %}
        <li><a href="/perfil">Panel de Control</a></li>
        <li><a href="/perfil/cliente">Cliente</a></li>
        {% else %}
        <li><a href="/perfil/{{entrar_como}}">Panel de Control</a></li>
        <li><a href="/perfil/cliente/_{{entrar_como}}">Cliente</a></li>        
        {% endif %}
      </ul>
    </div>
  </div>


<div id="content" class="colM">
  <div id="content-main">    
    <div class="panel panel-default">
          <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Editar datos Cliente #{{ id }}</h3>
      </div>


                
                <div id="FormText"></div>
                
<!-- Text input-->

<br><br>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.username.id_for_label }}">Nombre Empresa *</label>
                            <div class="col-md-4">
                                {{ form.username }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.username.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.rut.id_for_label }}">Rut Empresa *</label>
                            <div class="col-md-4">
                                {{ form.rut }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.rut.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.fono.id_for_label }}">Telefono *</label>
                            <div class="col-md-4">
                                {{ form.fono }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.fono.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.email.id_for_label }}">Email *</label>
                            <div class="col-md-4">
                                {{ form.email }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.email.errors }}
                        </center>
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.direccion.id_for_label }}">Direccion *</label>
                            <div class="col-md-4">
                                {{ form.direccion }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.direccion.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.comuna.id_for_label }}">Comuna *</label>
                            <div class="col-md-4">
                                {{ form.comuna }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.comuna.errors }}
                        </center>

       </div>         
       </div>
  </div>
</div>

</form>
</div>
</div>
{% endblock content %}
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}


</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
