{% load staticfiles %}
{% if user.is_staff or user.is_superuser %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  
  <div class="content-wrapper">
    <div class="box-body">
<!-- AQui empieza el content -->

<div id="content">
  <div class="page-header">

    <div class="container-fluid">
      {% if entrar_como == 0 or entrar_como == None %}
      <div class="pull-right"><a href="/perfil/cliente/create/" data-toggle="tooltip" title="Agregar Cliente" class="btn btn-primary"><i class="fa fa-plus"></i></a>
      </div>
      {% else %}
      <div class="pull-right"><a href="/perfil/cliente/create/{{entrar_como}}/" data-toggle="tooltip" title="Agregar Cliente" class="btn btn-primary"><i class="fa fa-plus"></i></a>
      </div>
      {% endif %}
  
      <h1>Clientes</h1>
      <ul class="breadcrumb">
      {% if entrar_como == 0 or entrar_como == None %}
        <li><a href="/perfil">Panel de Control</a></li>
      {% else %}
      <li><a href="/perfil/{{entrar_como}}/">Panel de Control</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
  
  <div class="container-fluid">
    <div style="display: none" class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <!-- AQui va el error-->Ocurrio un error <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% if responses == "1" %}
    <div  display="none" class="alert alert-success"><i class="fa fa-check-circle"></i> Cliente editado exitosamente 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% elif responses == "2" %}
    <div  display="none" class="alert alert-success"><i class="fa fa-check-circle"></i> Cliente eliminado exitosamente 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% elif responses == "3" %}
    <div  display="none" class="alert alert-success"><i class="fa fa-check-circle"></i> Cliente creado exitosamente 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Lista de Clientes</h3>
      </div>
      <div class="panel-body">

      <div class="well table-responsive">
        <div>
            <div class= "form">
            <form action="#" method="GET" id="filter_cli">
                <div class="form">
                    <table width="100%"><tr>
                    <td style="width:30%">
                    <label class="control-label" for="input-name">Nombre</label><br>
                    {% if filter_username %}
                    <input type="text" name="filter_username" value="{{ filter_username }}" placeholder="" id="filter_username" class="input-text" />
                    {% else %}
                    <input type="text" name="filter_username" value="" placeholder="Nombre" id="filter_username" class="input-text" />
                    {% endif %}
                    </td>
                  <td style="width:30%">
                  <label class="control-label" for="input-date-added">Email</label><br>
                  {% if filter_email %}
                  <input type="text" id="filter_email" name="filter_email" value="{{ filter_email }}" placeholder="Email" class="input-text" />
                  {% else%}
                  <input type="text" id="filter_email" name="filter_email" value="" placeholder="Email" class="input-text" />
                  {% endif %}
                  </td>
                  <td style="width:35%">
                  <label class="control-label" for="input-date-added">Fecha de ingreso</label>
                  <br>
                  {% if filter_fecha %}
                  <input type="date" name="filter_date_added" value="{{ filter_fecha }}" placeholder="Fecha" data-date-format="YYYY-MM-DD" id="filter_date_added" class="input-text" />
                  {% else %}
                  <input type="date" name="filter_date_added" value="" placeholder="Fecha" data-date-format="YYYY-MM-DD" id="filter_date_added" class="input-text" />
                  {% endif %}
                  </td>
                  <td style="5%"><br>
                    <button onclick="$('#filter_cli').submit();" type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i> </button>
                </td></tr></table>
              </div>
              </form>
            </div>
        </div>
      </div>

          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left" width="25%"><a>Nombre</a></td>
                  <td class="text-left" width="25%"><a>Email</a></td>
                  <td class="text-left" width="25%"><a>Fecha de ingreso</a></td>
                  <td class="text-left">Acciones</td>
                </tr>
              </thead>
              <tbody>
              {% if customers %}
              {% for customer in customers %}
                <tr>
                  <td class="text-left">{{ customer.razon_social }}</td>
                  <td class="text-left">{{ customer.email }}</td>
                  <td class="text-left">{{ customer.date_added|date:"d F Y" }}</td>
                  <td class="text-left">
                  
                    <table>
                    <tr paddding="2">
                    <td style="padding: 2px;">
                    <a id='btn_edit_driver' data-id='{{ customer.customer_id }}' data-salt='{{customer.salt}}' data-toggle="modal" data-target='#modal_edit_driver' title="Editar conector" class="btn btn-warning" onclick='poblar_datos("{{ customer.salt.1 }}","{{customer.salt.0}}")' href="#modal_edit_driver"><i class="fa fa-cogs"></i></a>
                    </td>
                    <td style="padding: 2px;">
                    {% if entrar_como == 0 or entrar_como == None %}
                    <a href="/perfil/cliente/edit/{{ customer.customer_id }}" data-toggle="tooltip" title="Editar cliente" class="btn btn-primary"><i class="fa fa-pencil"></i></a> 
                    {% else %}
                    <a href="/perfil/cliente/edit/{{ customer.customer_id }}/_{{entrar_como}}/" data-toggle="tooltip" title="Editar cliente" class="btn btn-primary"><i class="fa fa-pencil"></i></a> 
                    {% endif %}
                    </td>
                    <td style="padding: 2px;">
                    <a href="/perfil/{{ customer.customer_id }}/" data-toggle="tooltip" title="Entrar como {{ customer.razon_social }}" class="btn btn-success"><i class="fa fa-home"></i></a>
                     </td>
                    <td style="padding: 2px;">
                    <a href="/perfil/cliente/delete/{{ customer.customer_id }}/" onclick="return confirm('¿Esta seguro que quiere deshabilitar al cliente? \n Esto eliminara a los usuarios y las listas asociadas al cliente')" data-toggle="tooltip" title="Deshabilitar Cliente" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                    </tr>
                    </table>
                    </td>

                </tr>
                {% endfor %}
                {% else %}
                <tr><td class="text-center" colspan="5">Sin resultados</td></tr>                
                {% endif %}
              </tbody>
            </table>
          </div>
       
        <div class="row">
          <div>

        <div class="row">
          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_username or filter_email or filter_fecha %}
                          <a href="?filter_username={{ filter_username }}&filter_email={{ filter_email }}&filter_date_added={{ filter_fecha }}&page={{ contacts.previous_page_number }}"><< </a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>

                      {% if contacts.has_next %}
                          {% if filter_username or filter_email or filter_fecha %}
                          <a href="?filter_username={{ filter_username }}&filter_email={{ filter_email }}&filter_date_added={{ filter_fecha }}&page={{ contacts.next_page_number }}">>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>


          </div>
          <div class="col-sm-6 text-right">Total: {{ count }} Clientes</div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      
    </script> 
</div>
    <!-- AQui termina el content -->
    </div>
  </div>
  

{% if customers %}
{% for customer in customers %}
     <div class="modal fade" tabindex="-1" role="dialog" id='modal_edit_driver'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id='nombre_cliente'></h4>
                </div>
                
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="id_cliente">
                        <label for="driver_mail">Conector envío MAIL</label>
                        <select id='driver_mail' class="form-control">
                            <option value='0'>Seleccione</option>
                            {% if conectores_mail %}
                              {% for conector in conectores_mail %}
                              <option value="{{ conector.id_conector }}">{{ conector.nombre }} - {{ conector.glosa }} </option>
                              {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    
                    <div class="form-group">	
                        <label for="driver_sms">Conector envío SMS</label>
                        <select id='driver_sms' class="form-control">
                            <option value='0'>Seleccione</option>
                            {% if conectores_sms %}
                              {% for conector2 in conectores_sms %}
                              <option value="{{ conector2.id_conector }}">{{ conector2.nombre }}</option>
                              {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" id='btn_update_driver' onclick="cambiar_conector()">Guardar cambios</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endfor %}
{% endif %}
<!--script type="text/javascript">
  
  document.getElementById("driver_mail").value = '{{customer.salt.1}}';
  alert(document.getElementById("driver_mail").value);
  document.getElementById("driver_sms").value = '{{customer.salt.0}}';
  console.log('{{customer.salt.1}}');
  //$("#driver_mail").val(salt[0]);
  //$("#driver_sms").val(salt[1]);
</script-->


</div>
</div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

<script>

function poblar_datos(salt0, salt1){
    //$("#salt1").val(salt0);
    //$("#salt2").val(salt1);
    $(".form-control#driver_mail").val(salt0);
    $(".form-control#driver_sms").val(salt1);
    //alert(String(salt0) + String(salt1));
}

$(".btn-warning").click( function () {

    //$(".modal-body#id_cliente").attr('id', "id_cliente_"+$(this).data('id'));
    $("#id_cliente").val($(this).data('id'));

    //$("driver_mail").val($(this).data('salt'));
    //alert($(this).data('id'));
    var salt = $(this).data('salt').split("-");

    //$("#driver_mail option:eq("+salt[0]+")");
  

    //$("#driver_sms option:eq("+salt[1]+")");
    //poblar_datos(salt[0], salt[1]);
    //alert(salt[0]);
    //alert(salt[1]);
});

function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
    }
  }
  return cookieValue;
}

        function cambiar_conector() {
            var entrar_como = '{{entrar_como}}';
            if((entrar_como != '') && (entrar_como != 0))
              ruta = '/perfil/cliente/1/_'+String(entrar_como);
            else
              ruta = '/perfil/cliente/1/';
            var mail = $("#driver_mail").val();
            var sms = $("#driver_sms").val();
            var id_empresa = $("#id_cliente").val();

            var csrftoken = getCookie('csrftoken');

                $.ajax(
                {
                    url: "/perfil/conector/guardar/",
                    type: "POST",
                    data: { csrfmiddlewaretoken: csrftoken, 
                            msil: mail,
                            sms: sms,
                            id_empresa: id_empresa,

                        },               
                    success: function (data) {                                  
                    window.location = ruta;
                    }            
                });
        }

$(document).keyup( function(e) {
   if(e && e.keyCode == 13) {
      $('#filter_cli').submit();  
   }
});
</script>

</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
{% endif %}
