{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  
  <div class="content-wrapper">
    <div class="box-body">

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
        <div class="pull-right">
        
      </div>
            <h1>Envios restantes</h1>
            <ul class="breadcrumb">
                {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
                <li><a href="/perfil/failover/{{ entrar_como }}/">Envios restantes</a></li>
                {% else %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/failover">Envios restantes</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Lista de Envios</h3>
            </div>
            <div class="panel-body">
                <div class="well">
                    <div>
                        <div class="row" >
                         <form action="#" method="GET" id="filter_rep">
                            <div class="form-inline">
                                <label class="control-label" for="input-name">Nombre</label>
                                {% if  filter_name %}
                                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="Nombre" id="input-name" class="input-text" style="width:50%" />
                                {% else %}
                                  <input type="text" name="filter_name" placeholder="Nombre" id="input-name" class="input-text" style="width:50%">
                                {% endif %}
                                <button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-max-with">
                            <thead>
                            <tr>
                                <td class="text-left" style="width: 20%">Id Envio</td>
                                <td class="text-left" style="width: 30%">Envio</td>
                                <td class="text-left" style="width: 30%">Empresa</td>
                                <td class="text-left" style="width: 30%">Cuando Enviar</td>
                                <td class="text-left" style="width: 20%">Acciones</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if envios %}
                            {% for env in envios %}
                            <tr>
                                <td class="text-left">{{ env.id_envio }}</td>
                                <td class="text-left">{{ env.nombre_envio }}  ({{ env.tipo_mensaje }} {{ env.tipo_envio }})</td>
                                <td class="text-left">{{ env.id_empresa }}</td>
                                <td class="text-left">{{ env.cuando_enviar }}</td>

                                <td class="text-left">
                                    <span class="label label-warning"> {{ env.failover }} </span>
                                </td>
                            </tr>
                           
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="8">  No hay resultados </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>


        <div class="row">
          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_name %}
                          <a href="?filter_name={{ filter_name }}page={{ contacts.next_page_number }}">>></a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>
                        {% if contacts.has_next %}
                          {% if filter_name %}
                          <a href="?filter_name={{ filter_name }}&page={{ contacts.next_page_number }}">>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>
</div>
</div>

        <div class="text-right">
        Total: {{ count }} Envios
        </div>
                </div>
            </div>
        </div>
    </div>


    </div>
  </div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

<!--
     <div class="modal fade" tabindex="-1" role="dialog" id='modal_edit_driver'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Log</h4>
                </div>

                <div class="modal-body">
    		
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div><!-- /.modal -->




</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}

