{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  
  <div class="content-wrapper">
    <div class="box-body">

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
        <div class="pull-right">
        
      </div>
            <h1>Control de Log</h1>
            <ul class="breadcrumb">
                {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
                <li><a href="/perfil/logs/{{ entrar_como }}/">Log</a></li>
                {% else %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/logs">Log</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Listas de Log</h3>
            </div>
            <div class="panel-body">
                <div class="well">
                    <div>
                        <div class="row" >
                         <form action="#" method="GET" id="filter_rep">
                            <div class="form-inline">
                                <label class="control-label" for="input-name">Nombre</label>
                                {% if  filter_name %}
                                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="Nombre" id="input-name" class="input-text" style="width:50%" />
                                {% else %}
                                  <input type="text" name="filter_name" placeholder="Nombre" id="input-name" class="input-text" style="width:50%">
                                {% endif %}
                                <button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-max-with">
                            <thead>
                            <tr>
                                <td class="text-left" style="width: 80%">Nombre </td>
                                <td class="text-left" style="width: 10%">Acciones</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if aux %}
                            {% for arch in aux %}
                            <tr>
                                <td class="text-left">{{ arch.0 }}</td>
                                <td class="text-left">
                                    {% if entrar_como and entrar_como != 0 %}
                                    <!--a href="#" data-toggle="modal" data-target='#modal_edit_driver_{{arch.0 |slice:":-4"}}'  title="Ver log" class="btn btn-primary"><i class="fa fa-eye"></i></a-->
                                    <a href="descargar/{{arch.0 |slice:"0:4"}}_{{arch.0 |slice:"5:7"}}_{{arch.0 |slice:"8:10"}}/" data-toggle="tooltip"  title="Descargar log" class="btn btn-warning"><i class="fa fa-download"></i></a>
                                    {% else %}
                                    <!--a href="#" data-toggle="modal" data-target='#modal_edit_driver_{{arch.0 |slice:":-4"}}' title="Ver log" class="btn btn-warning"><i class="fa fa-eye"></i></a-->
                                    <a href="descargar/{{arch.0 |slice:"0:4"}}_{{arch.0 |slice:"5:7"}}_{{arch.0 |slice:"8:10"}}/" data-toggle="tooltip"  title="Descargar log" class="btn btn-primary"><i class="fa fa-download"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                           

                                 <div class="modal fade" tabindex="-1" role="dialog" id='modal_edit_driver_{{arch.0 |slice:":-4"}}'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Log</h4>
                </div>

                <div class="modal-body" id="{{arch.0 |slice:":-4"}}">
		{% if arch.1 %}
                {% for l in  arch.1 %}
		{{l}}<br>
		{% endfor %}
		{% endif %}
                </div>

                <div class="modal-footer">
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="8">  No hay resultados </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>


        <div class="row">
          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_username or filter_email or filter_fecha %}
                          <a href="?filter_username={{ filter_username }}&filter_email={{ filter_email }}&filter_date_added={{ filter_fecha }}$
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>
                        {% if contacts.has_next %}
                          {% if filter_username or filter_email or filter_fecha %}
                          <a href="?filter_username={{ filter_username }}&filter_email={{ filter_email }}&filter_date_added={{ filter_fecha }}$
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>
</div>
</div>

        <div class="text-right">
        Total: {{ count }} Logs
        </div>
                </div>
            </div>
        </div>
    </div>


    </div>
  </div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

<!--
     <div class="modal fade" tabindex="-1" role="dialog" id='modal_edit_driver'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Log</h4>
                </div>

                <div class="modal-body">
    		
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div><!-- /.modal -->




</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}

