<script   src="http://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

<script type="text/javascript" language="javascript">
$(document).on("click","tr.fichero",function(){
  item_url = $(this).data("src");
  var args = top.tinymce.activeEditor.windowManager.getParams();
  win = (args.window);
  input = (args.input);
  win.document.getElementById(input).value = item_url;
  top.tinymce.activeEditor.windowManager.close();
});
</script>

<table width="100%" border=1 style="font-family: Arial">
	<tr>
	<td width="10%"><b>Imagen</b></td>
	<td width="60%"><b>Nombre Archivo</b></td>
	<td width="30%"><b>Fecha Subida</b></td>
	</tr>
{% for d in di %}
	<tr class='fichero' data-src='{{dominio}}/static/{{d.ruta_archivo}}'>
	<td width="10%"><img src= '{{dominio}}/static/{{d.ruta_archivo}}' style="height:30px;"></td>
	<td width="60%">{{d.nombre_archivo}}</td>
	<td width="30%">{{d.fecha_subida|date:'d-m-Y'}}</td>
	</tr>
{% endfor %}
</table>
