{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
  tinymce.init({
  selector: 'textarea',
  height: 500,
  plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste imagetools"
    ],
    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
  
});
  </script>

  <div class="content-wrapper">
    <div class="box-body">

{% if entrar_como and entrar_como != 0 %}
<form action="/perfil/bug2/responder/{{ id }}/{{ entrar_como }}/" method="post" id="formenviar">
{% else %}
<form action="/perfil/bug2/responder/{{ id }}/" method="post" id="formenviar">

{% endif %}

  {% csrf_token %}



<div id="content">
    <div class="page-header">
        <div class="container-fluid">
        <div class="pull-right">
        
    <button id="submit_btn" name="submit_btn" class="btn btn-primary">
        <i class="fa fa-save"></i> 
    </button>
        
       {% if entrar_como and entrar_como != 0 %}
        <a href="/perfil/bug/{{entrar_como}}" data-toggle="tooltip" title="" class="btn btn-default"><i class="fa fa-reply"></i></a>
        {% else %}
        <a href="/perfil/bug/" data-toggle="tooltip" title="" class="btn btn-default"><i class="fa fa-reply"></i></a>
        {% endif %} 
      </div>
            <h1>Responder Bug</h1>
            <ul class="breadcrumb">
                
                {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
                <li><a href="/perfil/bug/{{ entrar_como }}">Bug</a></li>
                {% else %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/bug/">Bug</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> {{aux.titulo}} </h3>
            </div>
            <div class="panel-body">
                               
                        <div class="display-margin row">

                                    <div>
                                    <div class="col-sm-6 form-group">
                                    <div class="alert alert-success">
                                        {{ aux.descripcion.contenido|safe }}
                                    </div>
					<span class="pull-right"> {{ aux.descripcion.tmpstamp }}</span>
                                    </div>
                                    </div>
                                    <br>



                                    <div class="pull-right">
                                    <div class="col-sm-12 form-group">
                                    <div class="speech-bubble-right alert alert-info" style="margin-bottom: 0px">
                                        {{ form.respuesta}}
                                    </div>
                                    </div>
                                    </div>



                    </div>                    
                    </div>                                
                    </div>
            </div>
        </div>
        </form>
    </div>
</div>


  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}


</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
