{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

<style>
.speech-bubble-right:after {
   content: "";
   position: absolute;
   top: 100%;
   right: 20px;
   border-top: 20px solid black;
   border-top-color: inherit;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent; 
}


.speech-bubble:after {
   content: "";
   position: absolute;
   top: 100%;
   left: 20px;
   border-top: 20px solid black;
   border-top-color: inherit; 
   border-left: 20px solid transparent;
   border-right: 20px solid transparent; 
}
</style>


  <div class="content-wrapper">
    <div class="box-body">

{% if entrar_como and entrar_como != 0 %}
<form action="/perfil/bug/responder/{{ id }}/{{ entrar_como }}/" method="post" id="formenviar">
{% else %}
<form action="/perfil/bug/responder/{{ id }}/" method="post" id="formenviar">

{% endif %}

  {% csrf_token %}



<div id="content">
    <div class="page-header">
        <div class="container-fluid">
        <div class="pull-right">
        
        
       {% if entrar_como and entrar_como != 0 %}
        <a href="/perfil/bug/{{entrar_como}}" data-toggle="tooltip" title="" class="btn btn-default"><i class="fa fa-reply"></i></a>
        {% else %}
        <a href="/perfil/bug/" data-toggle="tooltip" title="" class="btn btn-default"><i class="fa fa-reply"></i></a>
        {% endif %} 
      </div>
            <h1>Responder Bug</h1>
            <ul class="breadcrumb">
                
                {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
                <li><a href="/perfil/bug/">Bug</a></li>
                {% else %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/bug/">Bug</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> {{aux.titulo}}</h3>
            </div>
            <div class="panel-body">
                               
                        <div class="display-margin row">

                                <div class="col-sm-12">                                      
                                    <div class="form-group">
                                    </div>
                                    </div>

                                    <div>
                                    <div class="col-sm-6 form-group">
                                    <div class="speech-bubble alert alert-success" style="margin-bottom: 0px">
                                        {{ aux.descripcion|safe }}
                                    </div>

                                    </div>
                                    </div>
                                    <br><br><br>
				    {% if aux.respuesta or aux.respuesta == 0 %}
		                    <div class="pull-right">
                                    <div class="col-sm-12 form-group">
                                    <div class="speech-bubble-right alert alert-info" style="margin-bottom: 0px">
                                        {{ aux.respuesta|safe }}
                                    </div>
                                    </div>
                                    </div>
				    {% endif %}
                    </div>                    
                    </div>                                
                    </div>
            </div>
        </div>
        </form>
    </div>
</div>


  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}


</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
