{% load staticfiles %}

  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  <div class="content-wrapper">
    <div class="box-body">

<!--ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li><a href="/logout/">Logout</a></li>
    {% else %}
    <li><a href="/login/">Login</a></li>
    <li><a href="" class="p-r-none">Sign Up</a></li>
    {% endif %}
    </ul-->
{% if entrar_como == 0 or entrar_como == None %}
<form class="form-horizontal" id="login-form" method="post" enctype='multipart/form-data' action="/perfil/uploads/create/">
{% else %}
<form class="form-horizontal" id="login-form" method="post" enctype='multipart/form-data' action="/perfil/uploads/create/{{entrar_como}}/">
{% endif %}
{% csrf_token %}

<div id="container" class="container">
  
<div class="page-header">
    <div class="container-fluid">

    <div class="pull-right">
    <button id="submit_btn" name="submit_btn" class="btn btn-primary">
        <i class="fa fa-save"></i> 
    </button>

      </div>
      <h1>Archivos</h1>
      <ul class="breadcrumb">
        <li><a href="/perfil">Panel de Control</a></li>
        <li><a href="/perfil/subir_archivos">Subir Archivos</a></li>
      </ul>
    </div>
  </div>


<div id="content" class="colM">
  <div id="content-main">    
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Subir Archivos</h3>
      </div>
      <div id="FormText"></div>
                
<!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.nombre_archivo.id_for_label }}">Nombre de Archivo *</label>
                            <div class="col-md-4">
                                {{ form.nombre_archivo }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.nombre.errors }}
                        </center>


                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.archivo.id_for_label }}">Archivo *</label>
                            <div class="col-md-4">
                                {{ form.archivo }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.archivo.errors }}
                        </center>
                                

{{ form.errors }}
       </div>         
       </div>
  </div>
</div>

</form>
</div>
</div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}


</body>
</html>
