{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  
  <div class="content-wrapper">
    <div class="box-body">
<!-- AQui empieza el content -->

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      {% if entrar_como == 0 or entrar_como == None %}
      <div class="pull-right"><a href="/perfil/uploads/create/" data-toggle="tooltip" title="Subir Archivo" class="btn btn-primary"><i class="fa fa-plus"></i></a>
      </div>
      {% else %}
      <div class="pull-right"><a href="/perfil/uploads/create/{{entrar_como}}/" data-toggle="tooltip" title="Subir Archivo" class="btn btn-primary"><i class="fa fa-plus"></i></a>
      </div>
      {% endif %}

      <h1>Archivos</h1>
      <ul class="breadcrumb">
      {% if entrar_como and entrar_como != 0 %}
        <li><a href="/perfil/{{entrar_como}}">Panel de Control</a></li>
      {% else %}
        <li><a href="/perfil">Panel de Control</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
  {% if resp == "1" %}
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> Archivo creado exitosamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>    
  {% elif resp == "2" %}
    <div class="container-fluid">
    <div  class="alert alert-success"><i class="fa fa-check-circle"></i>
    Archivo eliminado exitosamente <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% elif resp == "3" %}
    <div class="container-fluid">
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>
    Ocurrio un error, el archivo no pudo ser eliminado <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Lista de Archivos</h3>
      </div>
      <div class="panel-body">

      <div class="well">
        <div>
            <div class="row" >
                <form action="#" method="GET" id="filter_rep">
                <div class="form-inline">
                    <label class="control-label" for="input-name">Nombre</label>
                    {% if filter_name %}
                    <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="" id="filter_name" class="input-text" style="width:50%"/>
                    {% else %}
                    <input type="text" name="filter_name" value="" placeholder="Nombre" id="filter_name" class="input-text" style="width:50%" />
                    {% endif %}
                    <button onclick="$('#filter_rep').submit();" type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i> </button>
                </div>
                </form>
            </div>
        </div>
      </div>

          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left">Nombre</td>

                    {% if user.is_staff %}
                    <td><label>Empresa</label></td>                    
                    {% endif %}
                    
                  <td class="text-left">Ubicacion</td>
                  <td class="text-left">Fecha de Creacion</td>
                  <td class="text-right">Acciones</td>
                </tr>
              </thead>
              <tbody>
              {% if reg_archivos %}
              {% for archivo in reg_archivos %}
                <tr>
                  {% if archivo.nombre_archivo|length > 25  %}
                  <td class="text-left">{{ archivo.nombre_archivo|slice:":25" }}</td>
                  {% else %}
                  <td class="text-left">{{ archivo.nombre_archivo }}</td>
                  {% endif %}
                  
                  {% if user.is_staff %}
                  <td class="text-left">{{ archivo.id_empresa }}</td>                  
                  {% endif %}
                  <td class="text-left">{{ archivo.ruta_archivo }}</td>
                  <td class="text-left">{{ archivo.fecha_subida|date:'j F Y H:i' }}</td>
                  <td class="text-right">
                  <a onclick= aparecer("/static/{{ archivo.ruta_archivo }}") id='btn_edit_driver' data-target='#modal_edit_driver' data-toggle="modal" title="Ver Archivo" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                  
                  <a onclick="return confirm('Está seguro de borrar este Archivo?')" href="/perfil/archivo/delete/{{ archivo.id_uploads }}/{{entrar_como}}" data-toggle="tooltip" title="Eliminar Archivo" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                  </form>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td class="text-center" colspan="5">Sin resultados</td></tr>                
                {% endif %}
              </tbody>
            </table>
          </div>
       
        <div class="row">
          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_username or filter_email or filter_fecha %}
                          <a href="?filter_name={{ filter_name }}&page={{ contacts.previous_page_number }}"><< </a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>

                      {% if contacts.has_next %}
                          {% if filter_username or filter_email or filter_fecha %}
                          <a href="?filter_name={{ filter_name }}&page={{ contacts.next_page_number }}">>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>


          </div>
          <div class="col-sm-6 text-right">{{ count }} Archivos</div>
        </div>
      </div>
    </div>
  </div>
    <!-- AQui termina el content -->
    </div>
  </div>
  
     <div class="modal fade" tabindex="-1" role="dialog" id='modal_edit_driver'>
        <input type='hidden' id='cliente_seleccionado'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <center>
                <div class="modal-body">

                </div>
                </center>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

  <script type="text/javascript">
      function aparecer(str){
        $(".modal-body").html('<img width="60%" src="'+str+'">');
      }
    </script> 


</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}

