{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  
  <div class="content-wrapper">
    <div class="box-body">
<!-- AQui empieza el content -->

<div id="content">
  <div class="page-header">
    <div class="container-fluid">
 <div class="pull-right">
        {% if user.is_staff %}
        {% if entrar_como and entrar_como != 0 %}
        <a href="/perfil/reporte/solicitar/{{entrar_como}}" data-toggle="tooltip" title="Crear reporte mensual" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        {% else %}        
        <a href="/perfil/reporte/solicitar/" data-toggle="tooltip" title="Crear reporte mensual" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        {% endif %}
        {% endif %}
      </div>

      <h1>Reportes</h1>
      <ul class="breadcrumb">
      {% if entrar_como and entrar_como != 0 %}
        <li><a href="/perfil/{{entrar_como}}">Panel de Control</a></li>
      {% else %}
        <li><a href="/perfil">Panel de Control</a></li>
      {% endif %}
      </ul>
    </div>
  </div>
  {% if responses == "1" %}
  <div class="alert alert-success"><i class="fa fa-check-circle"></i> Archivo eliminado exitosamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>    
  {% elif responses == "2" %}
    <div class="container-fluid">
    <div  class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>
    Ocurrio un error, el archivo no corresponde a su empresa <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% elif responses == "3" %}
    <div class="container-fluid">
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>
    Ocurrio un error Ud. no esta registrado <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
  {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Lista de Reportes</h3>
      </div>
      <div class="panel-body">

      <div class="well">
	        <div>
            <div class="row" >
                <form action="#" method="GET" id="filter_rep">
                <div class="form-inline">
                    <label class="control-label" for="input-name">Nombre</label>
                    {% if filter_name %}
                    <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="" id="filter_name" class="input-text" style="width:50%" />
                    {% else %}
                    <input type="text" name="filter_name" value="" placeholder="Nombre" id="filter_name" class="input-text" style="width:50%" />
                    {% endif %}
                    <button onclick="$('#filter_rep').submit();" type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i> </button>
                </div>
                </form>
            </div>
        </div>
      </div>

          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td class="text-left">Nombre</td>

                    {% if user.is_staff %}
                    <td><label>Empresa</label></td>                    
                    {% endif %}
                    
                  <td class="text-left">Ubicacion</td>
                  <td class="text-left">Fecha de Creacion</td>
                  <td class="text-right">Acciones</td>
                </tr>
              </thead>
              <tbody>
              {% if reg_archivos %}
              {% for archivo in reg_archivos %}
                <tr>
               {% if archivo.nombre|length > 25%}
                  <td class="text-left">{{ archivo.nombre | slice:":25"}}... </td>
               {% else %}
                  <td class="text-left">{{ archivo.nombre }}</td>
               {% endif %}
                  {% if user.is_staff %}
                  <td class="text-left">{{ archivo.tipo }}</td>                  
                  {% endif %}
                  <td class="text-left">{{ archivo.ruta }}</td>
                  <td class="text-left">{{ archivo.creacion|date:'j F Y H:i' }}</td>
                  <td class="text-right">
                  <a href="{% static 'files/'%}{{ archivo.ruta }}" data-toggle="tooltip" title="Descargar Reporte" class="btn btn-primary"><i class="fa fa-download"></i></a>
                  {% if entrar_como and entrar_como != 0 %}
                  <a onclick="return confirm('Está seguro de borrar este reporte?')" href="/perfil/reporte/delete/{{ archivo.id_archivo }}/{{ entrar_como }}/" data-toggle="tooltip" title="Eliminar Reporte" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                  {% else %}
                  <a onclick="return confirm('Está seguro de borrar este reporte?')" href="/perfil/reporte/delete/{{ archivo.id_archivo }}/"  data-toggle="tooltip" title="Eliminar Reporte" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                  {% endif %}
                  </form>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td class="text-center" colspan="5">Sin resultados</td></tr>                
                {% endif %}
              </tbody>
            </table>
          </div>
       
        <div class="row">
          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_username or filter_email or filter_fecha %}
                          <a href="?filter_name={{ filter_name }}&page={{ contacts.previous_page_number }}"><< </a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>

                      {% if contacts.has_next %}
                          {% if filter_username or filter_email or filter_fecha %}
                          <a href="?filter_name={{ filter_name }}&page={{ contacts.next_page_number }}">>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>


          </div>
          <div class="col-sm-6 text-right">{{ count }} reportes</div>
        </div>
      </div>
    </div>
</div>
    <!-- AQui termina el content -->
    </div>
  </div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}

