{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  <div class="content-wrapper">
    <div class="box-body">



<div id="content">
    <div class="page-header">
        <div class="container-fluid">
        <div class="pull-right">        
        <!--a href="<?php echo $full_excel; ?>" data-toggle="tooltip" title="<?php echo $button_export_excel_all; ?>" class="btn btn-success"><i class="fa fa-file-excel-o"></i></a>
        <!--<a href="<?php //echo $full_pdf; ?>" id="pdf" data-toggle="tooltip" title="<?php //echo $button_export_pdf_all; ?>" class="btn btn-warning"><i class="fa fa-file-pdf-o"></i></a>-->
        
      </div>
            <h1>Contactos a Desinscribir </h1>
            <ul class="breadcrumb">
             {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}"> Dashboard </a></li>
                <li><a href="/perfil/mail/desinscrito/{{ entrar_como }}"> Contactos a Desinscribir</a></li>
             {% else %}
                <li><a href="/perfil/"> Dashboard </a></li>
                <li><a href="/perfil/mail/desinscrito/"> Contactos a Desinscribir</a></li>
             
             {% endif %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Lista de Contactos a desinscribir</h3>
            </div>
            <div class="panel-body">
                <div class="well table-responsive">
            <form action="#" method="GET" id="filter_cli">
                <div class="form">
                <table width="100%"><tr>
                <td width="20%">
                <div class="col-sm-1 form-group">
                    <label class="control-label" for="input-name">Nombre</label>
                    {% if filter_name %}
                    <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="" id="filter_name" class="input-text" />
                    {% else %}
                    <input type="text" name="filter_name" value="" placeholder="Nombre" id="filter_name" class="input-text" />
                    {% endif %}
                </div>
                </td><td width="20%">
                <div class="col-sm-1 form-group">
                  <label class="control-label" for="input-date-added">Email</label>
                  {% if filter_email %}
                  <input type="text" id="filter_email" name="filter_email" value="{{ filter_email }}" placeholder="Email" class="form-control" style="width:200px" />
                  {% else%}
                  <input type="text" id="filter_email" name="filter_email" value="" placeholder="Email" class="form-control" style="width:200px" />
                  {% endif %}
                </div>
                </td><!--td width="20%">
                <div class="col-sm-1 form-group">
                  <label class="control-label" for="input-date-added">Fecha</label>
                  {% if filter_fecha %}
                  <input type="date" name="filter_fecha" value="{{ filter_fecha }}" placeholder="Fecha" data-date-format="YYYY-MM-DD" id="filter_fecha" class="form-control" style="width:200px" />
                  {% else %}
                  <input type="date" name="filter_fecha" value="" placeholder="Fecha" data-date-format="YYYY-MM-DD" id="filter_fecha" class="form-control" style="width:200px" />
                  {% endif %}
                </div>
                </td><td width="20%">
                <div class="col-sm-1 form-group">
                  <label class="control-label" for="input-date-added">Campaña</label>
                  {% if filter_camp %}
                  <input type="text" name="filter_camp" value="{{ filter_camp }}" placeholder="Fecha"  id="filter_camp" class="form-control" style="width:200px" />
                  {% else %}
                  <input type="text" name="filter_camp" value="" placeholder="Campaña" id="filter_camp" class="form-control" style="width:200px" />
                  {% endif %}
                 </td--><td width="10%">
                  <div class="col-sm-1">
                    <button onclick="$('#filter_cli').submit();" type="button" id="button-filter" class="btn btn-primary" style="margin-bottom:-5px"><i class="fa fa-search"></i> </button>
                  </div>
                 </td></tr></table>
                </div>
              </form>
                </div>
                
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>

                                <td class="text-left">Fecha </td>
                                <td class="text-left"> Nombre </td>
                                <td class="text-left">Email</td>
                                <td class="text-left">Campaña</td>
                                <td class="text-left">Desinscribir</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if contactos %}
                            {% for c in contactos %}
                            <tr>
                                <td class="text-left">{{ c.fecha_creacion|date:"d F Y H:i" }}</td>
                                <td class="text-left">  {{ c.nombre }} </td>
                                <td class="text-left"> {{ c.email }} </td>
                                <td class="text-left"> {{ c.campania }}</td>
                                {% if not entrar_como or entrar_como == 0%}
                                <td><a onclick="return confirm('¿Esta seguro?')" href="/perfil/mail/desinscrito/?id={{ c.id_contacto }}" data-toggle="tooltip" title="Desinscribir contacto" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td>
                                {% else%}
                                <td><a onclick="return confirm('¿Esta seguro?')" href="/perfil/mail/desinscrito/{{entrar_como}}/?id={{ c.id_contacto }}" data-toggle="tooltip" title="Desinscribir contacto" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="8"> No existen contactos asociados </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                
        <div class="row">
          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_username or filter_email or filter_fecha %}
                          <a href="?filter_username={{ filter_username }}&filter_email={{ filter_email }}&filter_date_added={{ filter_fecha }}&page={{ contacts.previous_page_number }}"><< </a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>

                      {% if contacts.has_next %}
                          {% if filter_username or filter_email or filter_fecha %}
                          <a href="?filter_username={{ filter_username }}&filter_email={{ filter_email }}&filter_date_added={{ filter_fecha }}&filter_email={{ filter_email }}page={{ contacts.next_page_number }}">>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>


          </div>
          <div class="col-lx-6 text-right">Total: {{ count }} Contactos </div>
        </div>
            </div>
        </div>
    </div>
</div>


  </div>
  </div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

<script>
$(document).keyup( function(e) {
   if(e && e.keyCode == 13) {
      $('#filter_cli').submit();  
   }
});
</script>


</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
