{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  
  <div class="content-wrapper">
    <div class="box-body">


<div id="content">

	<div class="page-header">
		<div class="container-fluid">	
		<div class="pull-right">
			<!--a href="/perfil/{{ tipo }}/reporte_historico/{{ id }}/{{ entrar_como }}" data-toggle="tooltip" title="Hacer reporte" class="btn btn-success"><i class="fa fa-file-excel-o"></i></a-->
        	
        	{% if tipo == 'SMS' %}
                <a href="/perfil/sms/reporte_historico/{{ id }}/{{ entrar_como }}" data-toggle="tooltip" title="Hacer reporte" class="btn btn-success"><i class="fa fa-file-excel-o"></i></a>
        	{% elif tipo == 'MAIL' %}
                <a href="/perfil/mail/reporte_historico/{{ id }}/{{ entrar_como }}" data-toggle="tooltip" title="Hacer reporte" class="btn btn-success"><i class="fa fa-file-excel-o"></i></a>

        	{% endif %}
        	{% if entrar_como and entrar_como != 0 %}
        	<a href ="/perfil/{{ tipo|lower }}/historico/{{ entrar_como }}" data-toggle="tooltip" title="Volver" class="btn btn-default"><i class="fa fa-reply"></i></a>
        	{% else %}
        	<a href ="/perfil/{{ tipo|lower }}/historico/" data-toggle="tooltip" title="Volver" class="btn btn-default"><i class="fa fa-replay"></i></a>
        	{% endif %}
            
		</div>

		
    		<h1>Estadisticas</h1>
    		<!--breadcrumbs de navegacion-->
	        <ul class="breadcrumb">
	        {% if entrar_como and entrar_como != 0 %}
            <li><a href="/perfil/{{ entrar_como }}">Panel de Control</a></li>
            <li><a href="/perfil/{{ tipo|lower }}/historico/{{ entrar_como }}">Historicos</a></li>
    	    {% else %}
            <li><a href="/perfil">Panel de Control</a></li>
            <li><a href="/perfil/{{ tipo|lower }}/historico">Historicos</a></li>
        	{% endif %}

		    </ul>
		</div>
	</div>

	<!--zona de mensaje de errores y confirmación de acciones-->
	<div class="container-fluid">
		<!--if -->
		{% if resp == "1" %}
		<div class="alert alert-success"><i class="fa fa-check-circle"></i> Se ha creado el reporte
	      <button type="button" class="close" data-dismiss="alert">&times;</button>
	    </div>
	    {% endif %}
	    {% if tipo == 'SMS' %}
	    <table style="width:100%; background-color:white">
	    <tr>
	    <td style="width:35%;">
		<canvas id="myChart" width="330px" height="330px"></canvas>
		
		</td>
                <td style="position: absolute;overflow-y: scroll;height: 300px;">
                <table class="table table-bordered table-hover">
                <tr class="blackground">
						<td>Carrier</td>
						<td>Confirmados</td>
						<td>No entregados</td>
						<td>Esperando</td>
						<td>Volumen</td>
						</tr>
                        
                    {% for row in data %}
                        <tr>
                        {% for cell in row %}
                            <td>
                                {{ cell }}
                            
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                  </table>
		</td>

		</tr>
		</table>

		<br>
		{% elif tipo == 'MAIL' %}
            
	    <table style="width:100%; background-color:white">
	    <tr>
	    <td style="width:35%;">
		<canvas id="myChart2" width="330px" height="330px"></canvas>
		</td>
		<td style="width:50%;position: absolute;">
                <table class="table table-bordered table-hover">
                <tr class="blackground">
						<td>Categoría</td>
						<td>Valor</td>
						</tr>
                        
                    {% for row in data %}
                        <tr>
                        {% for cell in row %}
                            <td>
                                {{ cell }}
                            
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                  </table>
		</td>

		</tr>
		</table>
		<br>
		{% endif %}

<p><table  style="width:100%">
<tr style="width:45%">
<td><b>ID Envio:</b> {{envio.id_envio}}</td>
<td><b>N° Lsta:</b> <a href="/perfil/lista/edit/{{envio.id_lista}}/{{entrar_como}}" target="_blank">{{envio.id_lista}}</td>
{% if tipo == 'MAIL' %}
</tr><tr style="width:45%">
<td><b>Remitente:</b> {{envio.correo_remitente}} </td>
{% endif %}
{% if tipo == 'SMS' %}
<td><b>Remitente:</b> {{envio.remitente}} </td>
{% endif%}

<td><b>Nombre envio:</b> {{envio.nombre_envio}} </td>
</tr>
</table>
</p>
	    <div class="panel panel-default">

	      <div class="panel-body"> 

		    <br/>
	        <form action="" method="post" enctype="multipart/form-data" id="form-category">
	          <div class="table-responsive">
	          {% if tipo == 'SMS' %}
	            <table class="table table-bordered table-hover" id="table_edit">
	              <thead>
	              	<tr>
	              	<td>ID</td>
	              	<td>Número</td>
	              	<td>Fecha Envío</td>
	              	<td>Compañía Telefónica</td>
	              	<td>Estado</td>
	              	<td>Mensaje</td>
	              	</tr>
	              </thead>
	              <tbody>	              
	              	{% if detalle_envio %}
	              		{% for de in detalle_envio %}
		              	<tr>
		              		<td> {{ de.id_detalle_envio }} </td>
		              		<td> {{ de.destinatario }}</td>
		              		<td> {{ de.fecha }} </td>
		              		<td> {{ de.empresa_telefono_receptor }}</td>
							{% if de.estado in estadosok or de.estado == "Confirmado" %}
							<td><span class="label label-success"> Confirmado </span></td>
							{% elif de.estado in estadoserror or de.estado == "No Entregado" %}
								{% if de.estado == "INVALID_DNS" or de.estado == "DNS INVALIDO" %}
								<td><span class="label label-danger"> DNS INVALIDO </span></td>
								{% else %}
								<td><span class="label label-danger"> No Entregado </span></td>
								{% endif %}
							{% else %}
							<td><span class="label label-grey"> Esperando confirmacion </span></td>

							{% endif %}
							<td>
							<a href="#" data-toggle="modal" data-target='#modal_{{de.id_detalle_envio}}' 
title="Ver mensaje" class="btn btn-primary mod"><i class="fa fa-eye"></i></a>
							<div class="modal fade" tabindex="-1" role="dialog" 
id='modal_{{de.id_detalle_envio}}' style="padding-top: 5%;">
							<center>
							<div class="modal-content" style="width:60%">
                  					<div class="modal-header" style="background: #4eaefa; color: white;
 font-weight: bold;">
                    					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">×</span></button>
                    					<h3 class="modal-title" id="myModalLabel"><b>{{ tipo }}</b></h3>
                  					</div>
                    					<div class="modal-body" id="showmessage">{{de.final}}</div>
                    					<div class="modal-footer">
                      					<button type="button" id="mcan" class="btn btn-primary" data-dismiss="modal">
Aceptar</button>
                    					
    							</div>
    							</center>
    							</div><!-- /.modal -->
							</td>

		              	</tr>
	              		{% endfor %}
	              	{% else %}
	              		<tr>
							<td class="text-center" colspan="12"> No hay resultados {{ envio }}</td>
						</tr>
	              	{% endif %}

	              </tbody>
	            </table>
	            {% endif %}
	            {% if tipo == 'MAIL' %}
	            

	            <table class="table table-bordered table-hover" id="table_edit">
	              <thead>
	              	<tr>
	              	<td>ID</td>
	              	<td>Destinatario</td>
	              	<td>Estado</td>
	              	<td>Abierto Total</td>
	              	<td>Click</td>
	              	<td>Spam</td>
	              	<td>Mensaje</td>
	              	</tr>
	              </thead>
	              <tbody>	              
	              	{% if detalle_envio %}
	              		{% for de in detalle_envio %}
		              	<tr>
		              		<td> {{ de.id_detalle_envio }} </td>
		              		<td> {{ de.destinatario }}</td>
		              		{% if de.estado in estadosok or de.estado == "Confirmado" %}
							<td><span class="label label-success"> Abierto </span></td>
							{% elif de.estado in estadoserror or de.estado == "No Entregado" %}
							<td><span class="label label-danger"> No Entregado </span></td>
							{% elif de.estado in estadosespera %}
							<td><span class="label label-danger"> Rebotado </span></td>
							{% else %}
							<td><span class="label label-grey"> Esperando confirmacion </span></td>
							{% endif %}
							<td> {{ de.estado_open }} </td>
							<td> {{ de.estado_click }} </td>
							<td> {{ de.estado_spam }} </td>
							<td>
<a href="#" data-toggle="modal" data-target='#modal_{{de.id_detalle_envio}}' 
title="Ver mensaje" class="btn btn-primary mod"><i class="fa fa-eye"></i></a>
                                                        <div class="modal fade" tabindex="-1" role="dialog" 
id='modal_{{de.id_detalle_envio}}' style="padding-top: 5%;">
                                                        <center>
                                                        <div class="modal-content" style="width:60%">
                                                        <div class="modal-header" style="background: #4eaefa; color: white;
 font-weight: bold;">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">×</span></button>
                                                        <h3 class="modal-title" id="myModalLabel"><b>{{ tipo }}</b></h3>
                                                        </div>
                                                        <div class="modal-body" id="showmessage">{{de.final|safe}}</div>
                                                        <div class="modal-footer">
                                                        <button type="button" id="mcan" class="btn btn-primary" data-dismiss="modal">
Aceptar</button>

                                                        </div>
                                                        </center>
                                                        </div><!-- /.modal -->

							</td>

		              	</tr>
	              		{% endfor %}
	              	{% else %}
	              		<tr>
							<td class="text-center" colspan="12"> No hay resultados {{ envio }}</td>
						</tr>
	              	{% endif %}

	              </tbody>
	            </table>
	            {% endif %}
	          </div>
	        </form>

          <div class="row">
          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_name  or filter_date %}
                          <a href="?filter_name={{ filter_name }}&filter_date={{ filter_date }}&filter_tipo={{ filter_tipo }}&page={{ contacts.previous_page_number }}"><< </a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>

                      {% if contacts.has_next %}
                          {% if filter_name  or filter_date %}
                          <a href="?filter_name={{ filter_name }}&filter_date={{ filter_date }}&filter_tipo={{ filter_tipo }}&page={{ contacts.next_page_number }}">>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>


          </div>
          <div class="col-sm-6 text-right">{{ count }} {{ tipo }}</div>
        </div>
	      </div>
    	</div>
	</div>


</div>
</div>

     <div class="modal fade" tabindex="-1" role="dialog" id='modal_edit_driver' style="padding-top: 5%;">
   <center>
   <div class="modal-content" style="width:60%">
                  <div class="modal-header" style="background: #4eaefa; color: white; font-weight: bold;">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h3 class="modal-title" id="myModalLabel"><b>{{ tipo }}</b></h3>
                  </div>
                    {% if tipo = "SMS" %}
                    <div class="modal-body" id="showmessage">{{envio.datos_envio_programado}}</div>
                    <!--/div-->
                    {% elif tipo = "MAIL" %}
                    <div class="modal-body" id="showmessage">{{envio.datos_envio_programado}}</div>

                    <!--div class="modal-body2" id="showmessage2">{{envio.datos_envio_programado}}</div-->
                    {% endif %}
                    <div class="modal-footer">
                      <button type="button" id="mcan" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
    </center>
    </div><!-- /.modal -->
   </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}


</div>

<script src="{% static 'plugins/chartjs/Chart.js' %}"></script>
<script src ="{% static 'js/Chart.bundle.min.js' %}"></script>

<script type="text/javascript">
var ctx = document.getElementById("myChart");




</script>
{% if tipo.upper == 'SMS' %}
<script type="text/javascript">


var myPieChart = new Chart(ctx,{
    type: 'pie',
    data : {
    labels: [
        "Confirmados",
        "No Entregados",
		"Esperando",
    ],
    datasets: [
        {
            data: {{ datos_tot }},
            backgroundColor: [
                "#248f24",
                "#e60000",
                "#595959"
            ],
            hoverBackgroundColor: [
                "#33cc33",
                "#ff8080",
                "#b3b3b3"
            ]
        }]
    },
    options: {
        tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var allData = data.datasets[tooltipItem.datasetIndex].data;
                    var tooltipLabel = data.labels[tooltipItem.index];
                    var tooltipData = allData[tooltipItem.index];
                    var total = 0;
                    for (var i in allData) {
                        total += allData[i];
                    }
                    var tooltipPercentage = Math.round((tooltipData / total) * 100);
                    return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)';
                }
            }
        }
    }  
});

//var myPieChart = new Chart(ctx,{
//    type: 'pie',
//    data: data
//});
</script>
{% endif %}
{% if tipo.upper == 'MAIL' %}
<script>
var ctx = document.getElementById("myChart2");
$( ".modal-body2" ).each(function() {
	var pjson= JSON.parse($(".modal-body2").html());
	msg = pjson['message'];
	
	$(".modal-body2").html(msg);
	
	});

var myPieChart = new Chart(ctx,{
    type: 'pie',
    data : {
    labels: [
        "Entregados",
        "Rebotes",
		"Malos",
		"En Espera",

    ],
    datasets: [
        {
            data: {{ dato }},
            backgroundColor: [
                "#248f24",
                "#ff751a",
                "#ff1a1a",
                "#595959",
            ],
            hoverBackgroundColor: [
                "#33cc33",
                "#ff9933",
                "#ff6666",
                "#b3b3b3",
 ]
        }]
    },
    options: {
        tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var allData = data.datasets[tooltipItem.datasetIndex].data;
                    var tooltipLabel = data.labels[tooltipItem.index];
                    var tooltipData = allData[tooltipItem.index];
                    var total = 0;
                    for (var i in allData) {
                        total += allData[i];
                    }
                    var tooltipPercentage = Math.round((tooltipData / total) * 100);
                    return tooltipLabel + ': ' + tooltipData + ' (' + tooltipPercentage + '%)';
                }
            }
        }
    }
});




</script>
{% endif %}


</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}

