{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

{% if tipo == 'mail'%}
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
  tinymce.init({
  selector: 'textarea',
  height: 500,
  plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste imagetools"
    ],
  file_browser_callback:
  function(field_name, url, type, win){
    var filebrowser = "/perfil/upload/";
    filebrowser += (filebrowser.indexOf("?") < 0) ? "?type=" + type : "&type=" + type;
    tinymce.activeEditor.windowManager.open({
    title : "Insertar fichero",
    width : 520,
    height : 400,
    url : filebrowser
    }, {
    window : win,
    input : field_name
    });
    return false;
    },
    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
  
});
    function myFileBrowser (field_name, url, type, win) {

    var cmsURL = window.location.pathname;     // your URL could look like "/scripts/my_file_browser.php"
    var searchString = window.location.search; // possible parameters
    if (searchString.length < 1) {
        searchString = "?";
    }

    // newer writing style of the TinyMCE developers for tinyMCE.openWindow

    tinyMCE.openWindow({
        file : cmsURL + searchString + "&type=" + type, // PHP session ID is now included if there is one at all
        title : "File Browser",
        width : 420,  // Your dimensions may differ - toy around with them!
        height : 400,
        close_previous : "no"
    }, {
        window : win,
        input : field_name,
        resizable : "yes",
        inline : "yes",  // This parameter only has an effect if you use the inlinepopups plugin!
        editor_id : tinyMCE.selectedInstance.editorId
    });
    return false;
  }

  </script>
{% endif %}  
  <div class="content-wrapper">
    <div class="box-body">
{% if entrar_como and entrar_como != 0 %}
<form action="/perfil/{{ tipo }}/edit/{{ id }}/{{ entrar_como }}/" method="post" id="formenviar">
{% else %}
<form action="/perfil/{{ tipo }}/edit/{{ id }}/" method="post" id="formenviar">
{% endif %}
{% csrf_token %}


<div id="content">
    <div class="page-header">
        <div class="container-fluid">
        <div class="pull-right">
        
    <button id="submit_btn" name="submit_btn" class="btn btn-primary">
        <i class="fa fa-save"></i> 
    </button>
        
       {% if entrar_como or entrar_como == 0 %}
        <a href="/perfil/{{ tipo }}/predefinido/{{ entrar_como }}" data-toggle="tooltip" title="" class="btn btn-default"><i class="fa fa-reply"></i></a> 
        {% else %}
        <a href="/perfil/{{ tipo }}/predefinido" data-toggle="tooltip" title="" class="btn btn-default"><i class="fa fa-reply"></i></a> 
        {% endif %}
        
      </div>
            {% if tipo == 'mail' %}
            <h1>Editar Mail</h1>
            {% elif tipo == 'sms' %}
            <h1>Editar SMS</h1>
            {% endif %}
            <ul class="breadcrumb">
              {% if not entrar_como or entrar_como == 0 %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/{{ tipo }}/predefinido">Predefinidos</a></li>
              {% else %}
                <li><a href="/perfil/{{ entrar_como }}">Panel de Control</a></li>
                <li><a href="/perfil/{{ tipo }}/predefinido/{{ entrar_como }}">Predefinidos</a></li>
              {% endif %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
            {% if tipo == 'mail' %}
                <h3 class="panel-title"><i class="fa fa-list"></i> Editar Mail</h3>
            {% elif tipo == 'sms' %}
                <h3 class="panel-title"><i class="fa fa-list"></i> Editar SMS</h3>
            {% endif %}

            </div>
            <div class="panel-body">
                
                         <div class="display-margin row">

                                
                                <div class="col-sm-12">                                      
                                    <div class="form-group">
                                    <label class="control-label" for="{{ form.titulo.id_for_label }}">Titulo *</label>  
                                    <div>
                                        {{ form.titulo }}
                                    </div>
                                    </div>
                                    <center style="color: red">
                                    {{ form.titulo.errors }}
                                    </center>
                                    </div>
                                    <div class="col-sm-12">
                                    {% if tipo == 'mail' %}
                                    <div class="form-group">
                                    <label class="control-label" for="{{ form.cuerpo.id_for_label }}">Cuerpo *</label>  
                                    <div>
                                        {{ form.cuerpo }}
                                    </div>
                                    </div>
                                    <center style="color: red">
                                    {{ form.cuerpo.errors }}
                                    </center>

                                    {% elif tipo == 'sms'%}

                                    <div class="form-group">
                                    <label class="control-label" for="{{ form.mensaje_a_enviar.id_for_label }}">Cuerpo *</label>  
                                    <div>
                                        {{ form.mensaje_a_enviar }}
                                    </div>
                                    </div>
                                    <center style="color: red">
                                    {{ form.mensaje_a_enviar.errors }}
                                    </center>

                                    <div class="col-sm-2">
                                    <div style="margin: auto; padding: 10px;" class="col-sm-20">
                                        <label id="contador">0/160</label>
                                    </div>
                                    </div>
                                    {% endif %}
                                    </div>
                                    
                                </div>                   
                    
                    
                    </div>                                
                    </div>
            </div>
        </div>
        </form>
    </div>
</div>


  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

{% if tipo == 'sms' %}
    <script type="text/javascript">

    function lang1(event) {
       var target = event.target || event.srcElement;   
       document.getElementById("id_mensaje_a_enviar").value += " %" + event.target.innerHTML + "%"; 
       document.getElementById("contador").innerHTML = (document.getElementById("id_mensaje_a_enviar").value.length + "/" + "160");                                                       
    }

 
    $("#id_mensaje_a_enviar").focusout(function(){
    var str = $("#id_mensaje_a_enviar").val();
    var message = str;
    
    message = message.replace(/á|à|ä|â|ª/gi, 'a'); 
    message = message.replace(/é|è|ë|ê/gi ,'e'); 
    message = message.replace(/í|ì|ï|î/gi, 'i'); 
    message = message.replace(/ó|ò|ö|ô/gi, 'o'); 
    message = message.replace(/ú|ù|ü|û/gi, 'u'); 
    message = message.replace(/ñ|Ñ/g, 'n');      
    
    message = message.replace("¡", "" );  
    message = message.replace("¿", "" );     
    message = message.replace("&", "y" );   
    
    $("#id_mensaje_a_enviar").val(message);
    $("#id_mensaje_a_enviar").html(message);
    });
                                        
    document.getElementById("id_mensaje_a_enviar").onkeyup = function () {
    document.getElementById("contador").innerHTML = (document.getElementById("id_mensaje_a_enviar").value.length + "/" + "160");
    if(this.value.length == 160){
        var d = document.getElementById("contador");
        d.className = "text-danger";
    }
    };

</script>
{% endif %}

</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
