{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  
  <div class="content-wrapper">
    <div class="box-body">


<div id="content">
  <div class="page-header">
    <div class="container-fluid"> 
    <div class="pull-right">
      {% if entrar_como and entrar_como != 0 %}
      <a href="/perfil/{{ tipo.lower }}/historico/excel/{{ entrar_como }}" data-toggle="tooltip" title="Exportar a Excel" class="btn btn-success"><i class="fa fa-file-excel-o"></i></a>
      <a href="/perfil/{{ tipo.lower }}/historico/{{ entrar_como }}" id="refresh" data-toggle="tooltip" title="Recargar" class="btn btn-default"><i id="spin" class="fa fa-refresh"></i></a>
      {% else %}
      <a href="/perfil/{{ tipo.lower }}/historico/excel/" data-toggle="tooltip" title="Exportar a Excel" class="btn btn-success"><i class="fa fa-file-excel-o"></i></a>
      <a href="/perfil/{{ tipo.lower }}/historico/" id="refresh" data-toggle="tooltip" title="Recargar" class="btn btn-default"><i id="spin" class="fa fa-refresh"></i></a>
      {% endif %}
    </div>    
        {% if tipo.lower == 'mail' %}
        <h1>Mail Historico</h1>
        {% elif tipo.lower == 'sms' %}
        <h1>{{ tipo }} Historico</h1>
        {% endif %}
        <!--breadcrumbs de navegacion-->
        <ul class="breadcrumb">
        {% if entrar_como and entrar_como != 0 %}
            <li><a href="/perfil/{{ entrar_como }}">Panel de Control</a></li>
            <li><a href="/perfil/{{ tipo }}/historico/{{ entrar_como }}">Historicos</a></li>
        {% else %}
            <li><a href="/perfil">Panel de Control</a></li>
            <li><a href="/perfil/{{ tipo }}/historico">Historicos</a></li>
        {% endif %}
        </ul>
    </div>
  </div>
  <!--zona de mensaje de errores y confirmación de acciones-->
  <div class="container-fluid">

      <div class="panel panel-default">
        <div class="panel-heading"> 

        {% if tipo.lower == 'mail' %}
        <h3 class="panel-title"><i class="fa fa-list"></i>Mail Historico</h3>        
        {% elif tipo.lower == 'sms' %}
        <h3 class="panel-title"><i class="fa fa-list"></i>{{ tipo }} Historico</h3>        
        {% endif %}
        </div>
        <div class="panel-body"> 
        <div class="row well table-responsive">
        <form action="#" method="GET" id="filter_msj">
        <table>
        <tr>
        <td width="35%">
            <div class="btn-group" style="margin-top: 10px" role="group" >
              
              <div class="" style="width:100%">
          <select class="form-control" id="filter_tipo" name="filter_tipo">
                      <option value="" selected disabled=""> Seleccione ...</option>
                        <option value=""> Todos</option>
                        <option value="masivo">Masivo</option>
                        <option value="unico">Unico</option>
                        <option value="API">API</option>
                    </select>
                   </div>
          </div>  
        </td>
        <td width="20%">
          <div class="col-sm-1">
                  <div class="form-group">
                    <label class="control-label" for="input-nombre"> Nombre </label>
                    {% if filter_name %}
                    <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="" id="filter_name" class="input-text" />
                    {% else %}
                    <input type="text" name="filter_name" value="" placeholder="Nombre" id="filter_name" class="input-text" />
                    {% endif %}
                  </div>                          
                </div>  
       </td>
       <td width="25%">
                <div class="col-sm-12">                          
                  <div class="form-group">
                    <label class="control-label" for="input-fecha"> Fecha Inicio</label><br>
          {% if filter_date %}
                    <input type="date" name="filter_date" value="{{ filter_date }}" placeholder="" id="filter_date" class="input-text" />
                    {% else %}
                    <input type="date" name="filter_date" value="" placeholder="Fecha" id="filter_date" class="input-text" />
                    {% endif %}
                    </div>
                </div> 
       </td>
       <td width="25%">  
                <div class="col-sm-12">
                  <div class="form-group">
                    <label class="control-label" for="input-fecha2"> Fecha Termino </label><br>
          {% if filter_date2 %}
                    <input type="date" name="filter_date2" value="{{ filter_date2 }}" placeholder="" id="filter_date2" class="input-text" />
	                    {% else %}
                    <input type="date" name="filter_date2" value="" placeholder="Fecha" id="filter_date2" class="input-text" />
                    {% endif %}
                    </div>
                </div>
        </td>
        <td width="5%">             
                <div class="col-sm-1"> 
                  <div> 
                    <br><button onclick="$('#filter_msj').submit()" type="button" style="margin-top: -10px" id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                </div>
        </td>
        </tr>
        </table>
        
        </div>
        </form>
        
        <br/>
          <form action="" method="post" enctype="multipart/form-data" id="form-category">
            <div class="table-responsive">
              <table class="table table-bordered table-hover" id="table_edit">
                <thead>
                 
                  
                 <td>Fecha</td>
                 <td>Nombre</td>
                 <td>Tipo Envio</td>
                 <td>Estado</td>
                 <td>Volumen</td>
                 <td>Confirmados</td>
                 <td>No Entregados</td>
                 <td>Error</td>
                 <td>Esperando</td>

                  <td>Estadisticas</td>
                  </tr>
                  </tr>
                </thead>
                <tbody>
                {% if data %}
                {% for e in data%}
                 <tr>
                 <td>{{ e.0|date:"d F Y H:i" }}</td>
                 <td>{{ e.1 }}</td>
                 <td>{{ e.2 }}</td>
                 {% if e.3.lower == "error" %}
                 <td><span class="label label-danger">&nbsp;{{ e.3|capfirst }}&nbsp;</span></td>
                 {% elif e.3.lower == "terminado" %}
                 <td><span class="label label-success">&nbsp;{{ e.3|capfirst  }}&nbsp;</span></td>
                 {% elif e.3.lower == "pendiente" or e.3.lower == "en proceso" %}
                 <td><span class="label label-warning">&nbsp;{{ e.3|capfirst  }}&nbsp;</span></td>
                 {% else %}
                 <td><span class="label">&nbsp;{{ e.3|capfirst  }}&nbsp;</span></td>
                 {% endif %}

                 {% if e.4 %}
                 <td>
                 {{ e.4 }}
                 </td>
                 {% else %}
                 <td> 0</td>
                 {% endif %}
                 <td>{{ e.5 }}</td>
                 <td>{{ e.6 }}</td>
                 <td>{{ e.7 }}</td>
                 <td>{{ e.8 }}</td>
                 <td>
                 {% if e.4 %}
                   {% if entrar_como and entrar_como != 0 %}
                   <a href="/perfil/{{ tipo.lower }}/detalle/{{ e.9 }}/{{ entrar_como}}/" data-toggle="tooltip" title="Ver envio" class="btn btn-primary"><i class="fa fa-bar-chart"></i></a>
                   {% else %}
                   <a href="/perfil/{{ tipo.lower }}/detalle/{{ e.9 }}/" data-toggle="tooltip" title="Ver envio" class="btn btn-primary"><i class="fa fa-bar-chart"></i></a>
                   {% endif %}
                 {% else %}
                   <a href="#" data-toggle="tooltip" title="Ver envio" class="btn btn-disabled"><i class="fa fa-bar-chart"></i></a>
                 {% endif %}

                 {% if user.is_staff %}
                   <a href="#" data="{{ e.9 }}"  data-toggle="tooltip" title="Refrescar Estadistica" class="btn btn-success" onclick=ref_estad({{ e.9 }}) ><i class="fa fa-refresh"></i></a>
                 {% endif %}
                 </td>
                 </tr>
                 {% endfor %}
                {% else %}
                <tr><td class="text-center" colspan="12">Sin resultados</td>
        {% endif %}
                
                </tbody>
              </table>
            </div>
          </form>

          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_name  or filter_date  or filter_date2 or filter_tipo %}
                          <a href="?filter_name={{ filter_name }}&filter_date={{ filter_date }}&filter_date2={{ filter_date2 }}&filter_tipo={{ filter_tipo }}&page={{ contacts.previous_page_number }}"><< </a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>

                      {% if contacts.has_next %}
                          {% if filter_name  or filter_date or filter_date2 or filter_tipo %}
                          <a href="?filter_name={{ filter_name }}&filter_date={{ filter_date }}&filter_date2={{ filter_date2 }}&filter_tipo={{ filter_tipo }}&page={{ contacts.next_page_number }}">>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
             </div>


          </div>
          <div class="col-sm-6 text-right">{{ count }} {{ tipo }}</div>
        </div>
</div>

<div class="modal fade" id='editsms' tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Editar Historico</h4>
      </div>

        
        
        <input id='idsms' type='hidden'>

        <div class="modal-body">

          <div class="form-group">
            <label for="input_titulo">Titulo envío</label>                                
            <input type="text" name="Titulo" id="input_titulo" class="form-control" disabled/>
          </div>
          

          <div class="form-group">
                      <label>Fecha</label>                                
                        <input type="date" name="fecha_envio" value="" id="input_fecha" class="input-text" />
                  </div>

                  <div class="form-group">
                      <label>Hora</label>
                          <input type="time" name="hora_envio"  id="input_hora" value=""  class="input-text" />   
                  </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id='btn-upd-sms'>Guardar</button>
        </div>

      
        

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>
</div>
</div>
</div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>


{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

<script>
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
    }
  }
  return cookieValue;
}


    function ref_estad(id){
    //alert(id);
    var cookie = getCookie('csrftoken');
        $.ajax({
        type: "POST",
        data: { csrfmiddlewaretoken: cookie,},
        url: '/perfil/ref_estad/'+id+'/',
        success: alert('estadisticas refrescadas'),
        });
    }

</script>

</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
