
{% load staticfiles %}

{% if user.is_authenticated %}

  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  
  <div class="content-wrapper">
    <div class="box-body">

  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
  tinymce.init({
  selector: 'textarea',
  height: 500,
  plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table contextmenu paste imagetools"
    ],
  file_browser_callback:
  function(field_name, url, type, win){
    var filebrowser = "/perfil/upload/";
    filebrowser += (filebrowser.indexOf("?") < 0) ? "?type=" + type : "&type=" + type;
    tinymce.activeEditor.windowManager.open({
    title : "Insertar fichero",
    width : 520,
    height : 400,
    url : filebrowser
    }, {
    window : win,
    input : field_name
    });
    return false;
    },
    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
  
});

    function myFileBrowser (field_name, url, type, win) {

    var cmsURL = window.location.pathname;     // your URL could look like "/scripts/my_file_browser.php"
    var searchString = window.location.search; // possible parameters
    if (searchString.length < 1) {
        searchString = "?";
    }

    // newer writing style of the TinyMCE developers for tinyMCE.openWindow

    tinyMCE.openWindow({
        file : cmsURL + searchString + "&type=" + type, // PHP session ID is now included if there is one at all
        title : "File Browser",
        width : 420,  // Your dimensions may differ - toy around with them!
        height : 400,
        close_previous : "no"
    }, {
        window : win,
        input : field_name,
        resizable : "yes",
        inline : "yes",  // This parameter only has an effect if you use the inlinepopups plugin!
        editor_id : tinyMCE.selectedInstance.editorId
    });
    return false;
  }
  </script>


<div id="content">

	<div class="page-header">
		<div class="container-fluid">


			<h1>Enviar Mail</h1>
			<ul class="breadcrumb">
			 <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/mail"> Enviar Mail </a></li>
            </ul>
		</div>
	</div>

    <div id="responses" style="color:white">{{response}}</div>

    {% if response == "0" %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>Ud no ha ingrresado un parámetro necesario
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% elif response == "1" %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> Ud no posee los permisos suficientes para acceder a esta lista o La lista no contiene email
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% elif response == "2" %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> Ud no posee los créditos suficientes<br>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% elif response == "3" %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i>Se ha(n) enviado el(los) mensaje(s) correctamente
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

    {% elif response == "4" %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> Ud ha seleccionado un envio unico pero no ingreso un email
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

    {% elif response == "5" %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>  Ud ha seleccionado un envio programado pero no ingreso una hecha y hora
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

    {% endif %}


    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
	
      <!--form action="/perfil/mail/{{entrar_como}}/" method="POST" id="form-download" class="form-horizontal">
      
      <form action="/perfil/mail/" method="POST" id="form-download" class="form-horizontal"-->
      
    {% csrf_token %}

            <div class="paso-title pasos">
                <div class="alert" role="alert" style="background-color: #d9eef9; border-color: #baeaf4; color: #115376;">
                     <strong>&nbsp; &nbsp;Paso 1: </strong>¿A quién(es)?
                </div>
            </div>

			<div class="divcenter">

             <div class="row">
                {% for choice in form.options %}
                    <label class="radio-inline">
                        {{ choice.tag }}
                        {{ choice.choice_label }}                
                        </label>
                    {% endfor %}

                </div>
			
            	<div id="input-email" class="row margin1em">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="col-xs-1 col-md-offset-2 icono">
                            <i class="fa fa-envelope-o fa-lg"></i>
                        </div>

    					<div class="col-xs-11 col-md-6 ">
        					{{ form.destinatario }}                            
                        </div>
                    </div>
                </div>

                

				<div hidden id="dropdown" class="row margin1em">

			<div class="col-md-8 col-md-offset-2">

                        <div class="col-xs-1 icono">
                            <i class="fa fa-users fa-lg"></i>
                        </div>

			<div class="col-xs-11 col-md-10 ">    
    			<select  class="form-control" id="sel1" name="entry_lista_contactos" >
    				<option value="0" selected>Selecciona una lista de contactos</option>
    				{% if lista %}
                                {% for l in lista %}
                                    <option value="{{ l.id_lista }}"> {{ l.nombre}} -- {{l.fecha_creacion|date:'d/m/Y H:i'}} </option>
                                {% endfor %}
                                {% endif %}
    						</select>
						</div>
					</div>                           
				</div>
			</div>        

            <div class="paso-title pasos">
                <div class="alert" role="alert" style="background-color: #d9eef9; border-color: #baeaf4; color: #115376;">
                    <strong>&nbsp; &nbsp;Paso 2: </strong>¿Qué mensaje?
                </div>
            </div>

            <div class="form-group col-md-8 col-md-offset-2 divcenter">
            <div class="row">
              {% for choice in form.check_tipo_mensaje %}
                    <label class="radio-inline">
                        {{ choice.tag }}
                        {{ choice.choice_label }}                
                        </label>
                    {% endfor %}

            </div>
            </div>
            

            <div hidden id="sms_predefinido" class="row margin1em">
                <div class='col-xs-12 col-md-8 col-md-offset-2' >

                    <div class="col-xs-11 col-md-10 col-xs-offset-1">

                        <select  class="form-control" id="select_predefinidos">
                            <option value="seleccione" selected>Selecciona el mensaje predefinido</option>
                            {% if mensajes %}
                            {% for msj in mensajes %}
                                {% if msj.nombre_predefinido %}
                                <option value="{{ msj.cuerpo }}" name="{{ msj.titulo }}"> {{ msj.nombre_predefinido }} -- {{msj.fecha_creacion|date:'d/m/Y H:i'}}</option>
                                {% else %}
                                <option value="{{ msj.cuerpo }}" name="{{ msj.titulo }}"> {{ msj.titulo }} -- {{msj.fecha_creacion|date:'d/m/Y H:i'}} </option>
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>

                    <br><br><br>
                </div>

            </div>


            
            <div class="row">
                <div class="form-group col-md-8 col-md-offset-2" >
                    <label>Nombre del envío</label>                                
                    {{ form.titulo }}
                    <span id="helpBlock" class="help-block">Este nombre será considerado para su identificación en reportes y estadisticas.</span>
                </div>
            </div>
            

            <div class="row">
            <center>
				<div class="col-sm-2" style="margin: initial;padding: 10px;padding-left: 3%;" >
					<div id="campos" class="div_campos">
                        <label>Campos</label>
                        <ul id="lista" class="ul">
                            

                        </ul>

					</div>
				</div>
				</center><br>
				<div class="col-sm-8" style="text-align:left">

					<div class="form-group">
                        <label>Asunto</label>
                        {{ form.asunto }}
                    </div>

					<div class="form-group">
                        <label for='input-message'>Mensaje</label>
                        {{ form.cuerpo }}
                        <!--textarea name="mensaje_a_enviar" id="input-message"  placeholder="Ingrese el Mensaje"></textarea-->
                    </div>
					

					
						
                    <!--div class="form-inline divcenter">

                        <div class="form-group">
                            <label for='uploadFile'>Adjuntar archivo</label>
                            <input name="uploadFile" id="uploadFile" placeholder="Seleccionar archivos" value="" readonly="true" class="form-control" />
                        </div>
                            
                        <div class="form-group">

                            <div class="fileUpload">
                                <div class='btn btn-primary'>
                                    <input  type="file" class="upload " name="file[]" id="filesToUpload" multiple/>Seleccionar
                                </div>
                            </div>

                        </div-->
                    </div>
		</div> 

            

            <div class="row margin1em divcenter">
                <div class='form-group col-md-8 col-md-offset-2 '>
                    <div class="checkbox">
                        <label>
                              {{ form.check_guardar_predefinido }} Guardar Mail Predefinido
                        </label>
                    </div>
                </div>
            </div>

            <div class="row" hidden id="nombre_predefinido" >
                <div class='form-group col-md-8 col-md-offset-2 '>

                    {{ form.nombre_predefinido }}


            </div>
            </div>

                        

            <div class="paso-title pasos">
                <div class="alert" role="alert" style="background-color: #d9eef9; border-color: #baeaf4; color: #115376;">
                    <strong>&nbsp; &nbsp;Paso 3: </strong>¿Con qué opciones?
                </div>
            </div>


                    
                

                <div class="divcenter"> 
                    
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for='input_remitente' class='col-sm-2 col-md-offset-2 control-label'>Nombre remitente</label>

                            <div class='col-sm-6'>
                            {{ form.remitente }}
                                <!--input type="text" name="nombre_remitente" id="input-lastname" value="" class="form-control" /-->
                            </div>                           
                        </div> 
                    </div>
                    

                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for='input_remitente' class='col-sm-2 col-md-offset-2 control-label'>Email remitente</label>

                            <div class='col-sm-6'>
                                <input type="text" name="email_remitente" id="email_remitente" value="" class="form-control" />
                            </div>                           
                        </div> 
                    </div>



			<div class="col-sm-12">
                    <div class="form-group">
                        <label>¿Cuándo enviar?</label>
                    </div>

                    <div class="row form-group">
                        {% for choice in form.tipo_envio %}
                            <label class="radio-inline">
                                {{ choice.tag }}
                                {{ choice.choice_label }}                
                                </label>
                            {% endfor %}  
                    </div></div>
                    <!--div class="form-group">
                        <div id="btn-enviar">
                            <span><button style="width:100px" type="submit" form="form-enviar" name="enviar" id="enviar" class="btn btn-primary"/> Enviar </span>
                        </div>            
                    </div-->

                    <div class='form-horizontal' hidden id="programado">                            
                
                        <div class="form-group">
                            <label for='input_fecha' class='col-sm-2 col-md-offset-2 control-label'>Fecha</label>
                            <div class='col-sm-4'>
                                {{form.fecha_envio}}
                            <input type="hidden" class="datepicker">
                            </div>                             
                        </div>

                        <div class="form-group">
                            <label for='input_hora' class='col-sm-2 col-md-offset-2 control-label'>Hora</label>
                            <div class='col-sm-4'>
                                {{form.hora_envio}}
                            </div>
                        </div>

                    </div>                                           
                        </div>    

                        <center>
                        <button type="" onclick="onclickenviar()" class="btn btn-primary"  data-toggle="modal" data-target="myModal" href="#myMmodal"> Enviar / Programar</button>
                        </center>
</div>
</div>
    </form>      
</div>


</div>

</div>
</div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}

{% include 'admin/js.html' %}


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
      <center>
      <p>Espere unos momentos su mensaje se está enviando</p>
<i class="fa fa-spin fa-4x fa-fw"><img src="/static/img/icon.57.png"></i>
<span class="sr-only"></span>
      </center>
      </div>
    </div>

  </div>
</div>


<!--muestra el nombre del mensaje a guardar en caso de estar ckecked-->


<script type="text/javascript">

            var is_chrome = /chrome/i.test( navigator.userAgent );
            //alert(is_chrome);
            if(is_chrome == false){

                $( "#id_fecha_envio" ).attr("type", "hidden");
                $( ".datepicker" ).attr("type", "text");
                $( ".datepicker" ).attr("class", "datepicker form-control input-md");

                $( '.datepicker' ).datepicker({ dateFormat:'dd-mm-yy' });
                $( '.datepicker' ).change(function() {

                var fecha_envio = $( '.datepicker' ).val();
                var aux = fecha_envio.split('/');
                fecha_envio = aux[2]+"-"+aux[0]+"-"+aux[1];
                $( "#id_fecha_envio" ).val(fecha_envio);

                });
                $( "#id_hora_envio" ).attr("placeholder", "Ingrese hora (HH:MM)");
                }


        function agregar(j) {
            var valor = ($("#agregar"+j).html());
            var mensaje = tinyMCE.activeEditor.getContent({format : 'raw'});
            mensaje  += "%"+valor+"%";
            tinyMCE.activeEditor.setContent( mensaje, {format : 'raw'});
            }

            $("#id_tipo_envio_0").change( function () {
            $('#programado').hide();
            $('#btn-enviar').show();
            $('#btn-programar').hide();
            });

            $("#id_tipo_envio_1").change(  function () {
            $('#programado').show();
            $('#btn-enviar').hide();
            $('#btn-programar').show();
            });


            $('#id_options_0').click( function(){
                $('#campos').hide();
                $('#dropdown').hide();
                $('#input-email').show();

            });

            $('#id_options_1').click( function(){
                $('#dropdown').show();
                $('#input-email').hide();
                $('#campos').show();
            });


            $('#id_check_tipo_mensaje_0').click( function(){                
                $('#sms_predefinido').hide();
                
            });

            $('#id_check_tipo_mensaje_1').click( function(){                
                $('#sms_predefinido').show();
            });


            $("#select_predefinidos").change( function(){
                
                var x = document.getElementById("select_predefinidos").selectedIndex;
                var y = document.getElementById("select_predefinidos").options[x].value;
                var p = document.getElementById("select_predefinidos").options[x].text;
                y = y.replace("&lt;", "<");
                y = y.replace("&gt;", ">");

                var z = document.getElementById("select_predefinidos").options[x].getAttribute('name');

		    $("#id_titulo").val(z);                    
                    $("#id_asunto").val(p);    
                    tinyMCE.activeEditor.setContent(y, {format : 'raw'});
                    
 
            });


                  //      $('#form-enviar').on('submit',function(){                                           
                   //         $('#enviar').attr('disabled', true);                                                                                        
                    //        $('#programar').attr('disabled', true); 
                     //   });
                    </script>
 
	<script type="text/javascript">	 	

	 	document.getElementById("sel1").onchange = function () {
	 		var x = document.getElementById("sel1").selectedIndex;
            var y = document.getElementById("sel1").options[x].value;
            var z = document.getElementById("sel1").options[x].campos;
                $.ajax(
                {
                    url: "/perfil/get_contacto/",
                    type: "GET",
                    data: { entry_lista: y},               
                    success: function (data) {                                  
                        $("#lista").html( data);
                    }  
                });
        };


            
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
    }
  }
  return cookieValue;
}	     
            

        function onclickenviar(){
            flag = true;
	    $('#myModal').modal('toggle');
            var mensaje_a_enviar = tinyMCE.activeEditor.getContent({format : 'raw'});
            var titulo_envio = $("#id_titulo").val();
            var input_email = $("#id_destinatario").val();
            var email_remitente = $("#email_remitente").val();
            var tipo_envio = $('input[name=tipo_envio]:checked').val();
            var options = $('input[name=options]:checked').val();
            var asunto = $("#id_asunto").val();
            
            var entrar_como = "{{entrar_como}}";
            if ((entrar_como != "") && (entrar_como != "0"))
              var ruta = "/perfil/mail/{{entrar_como}}/";
            else
              var ruta =  "/perfil/mail/";

            var x = document.getElementById("sel1").selectedIndex;
            var entry_lista = document.getElementById("sel1").options[x].value;

            //var entry_lista = document.getElementById("sel1").options[x].value;
            var check_predefinido = $("#id_check_guardar_predefinido").val();
            var nombre_mensaje_predefinido = $("#id_nombre_predefinido").val();
            var remitente = $("#id_remitente").val();
            var hora_envio = $("#id_hora_envio").val();
            var fecha_envio = $("#id_fecha_envio").val();

            if ((email_remitente == "") && (tipo_envio == "unico"))
               flag = false;

            if ((titulo_envio == "") || (asunto == "") || (email_remitente == "") || (remitente == "")  )
               flag = false;

            if( tipo_envio  == "programado" )
               if( (fecha_envio == '') || (hora_envio == '' ) )
                 flag = false;


            var cookie = getCookie('csrftoken'); 
        if (flag == false)
           window.location = ruta+"_0/";
        else
        $.ajax(
                {
                    url: ruta,
                    type: "POST",
                    data: { csrfmiddlewaretoken: cookie,
                            options: options,
                            entry_lista: entry_lista,
                            tipo_envio : tipo_envio,
                            input_email: input_email,
                            mensaje_a_enviar: mensaje_a_enviar,
                            titulo : titulo_envio,
                            asunto : asunto,
                            check_guardar_predefinido: check_predefinido,
                            nombre_predefinido: nombre_mensaje_predefinido,
                            remitente: remitente,
                            email_remitente: email_remitente,
                            tipo_envio: tipo_envio,
                            fecha_envio: fecha_envio,
                            hora_envio: hora_envio,
                        },               
                    success: function (data) {                                  
                        console.log(data);
                        resp =  $(data).find("#responses").html();
                        //alert(resp);
                        //$('html').html(data);
                        window.location = ruta+"_"+resp.toString()+"/";
                        

                }
            });

        }
    	 
                    document.getElementById('id_check_guardar_predefinido').onclick = function() {
                    // access properties using this keyword
                    if ( this.checked ) {
                        $('#nombre_predefinido').show();
                        //$('#id_check_guardar_predefinido').val('on');
                        //alert( $('#id_check_guardar_predefinido').val() );
                    } else {
                        $('#nombre_predefinido').hide();    
                        $('#id_check_guardar_predefinido').val('');

                    }
                };


        $(document).ready(function( ){


    		var foo = [];
    		$('#select-campos multiple :selected').each(function(){
    			foo.push($(this).val());                      
    		});


			$('#campos').hide();
	        $('#sms_predefinido').hide();
	        $('#dropdown').hide();
                




//            $(document).on('keyup', '#id_titulo', function(){

  //              var txt = $(this).val();

    //            $("#nombre_sms_predefinido").val(txt);

      //      });

		});


	
	</script>

</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
