{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  
  <div class="content-wrapper">
    <div class="box-body">



<div id="content">
    <div class="page-header">
        <div class="container-fluid">
        <div class="pull-right">   
        {% if entrar_como and entrar_como != 0 %}
        <a href="/perfil/{{ tipo.lower }}/predefinido/excel/{{ entrar_como }}" data-toggle="tooltip" title="Exportar a excel" class="btn btn-success"><i class="fa fa-file-excel-o"></i></a>
        <a href="/perfil/{{ tipo.lower }}/predefinido/agregar/{{ entrar_como }}" data-toggle="tooltip" title="Agregar {{ tipo }} predefinido" class="btn btn-primary"><i class="fa fa-plus"></i></a>        
        {% else %}
        <a href="/perfil/{{ tipo.lower }}/predefinido/excel/" data-toggle="tooltip" title="Exportar a excel" class="btn btn-success"><i class="fa fa-file-excel-o"></i></a>
        <a href="/perfil/{{ tipo.lower }}/predefinido/agregar/" data-toggle="tooltip" title="Agregar {{ tipo }} predefinido" class="btn btn-primary"><i class="fa fa-plus"></i></a>        
        
        {% endif %}
      </div>
            {% if tipo.lower == 'sms' %}
            <h1>Mis SMS Predefinidos</h1>
            {% elif tipo.lower == 'mail' %}
            <h1>Mis Mail Predefinidos</h1>
            {% endif %}

            <ul class="breadcrumb">
               <ul class="breadcrumb">
                {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
                <li><a href="/perfil/predefinido/{{ tipo.lower }}/{{ entrar_como }}/">Predefinidos </a></li>
                {% else %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/predefinido/{{ tipo.lower }}">Predefinidos</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    {% if resp == "1" %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> Se borrado el {{tipo}}  correctamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% elif resp == "2" %}
    <div class="alert alert-danger"><i class="fa fa-check-circle"></i> Ud. no posee los permisos para borrar el {{tipo}} 
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
     {% elif resp == "3" %}
    <div class="alert alert-danger"><i class="fa fa-check-circle"></i> El {{tipo}}  no existe
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
     {% elif resp == "4" %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> El {{tipo}} se ha modificado exitosamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
     {% elif resp == "5" %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> El {{tipo}} se ha creaado exitosamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
            {% if tipo.lower == 'sms' %}
                <h3 class="panel-title"><i class="fa fa-list"></i> Mis SMS Predefinidos</h3>
            {% elif tipo.lower == 'mail' %}
                 <h3 class="panel-title"><i class="fa fa-list"></i> Mis Mail Predefinidos</h3>
           {% endif %}
            </div>
            <div class="panel-body">
                <div class="well">
                    <div>
                        <div class="row" >
                            <form action="#" method="GET" id="filter_msj">
                            <div class="col-sm-4">
                              <div class="form-group">
                                <label class="control-label" for="input-nombre"> Nombre </label>
                                {% if filter_name %}
                                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="" id="filter_name" class="input-text" />
                                {% else %}
                                <input type="text" name="filter_name" value="" placeholder="Titulo" id="filter_name" class="input-text" />
                                {% endif %}
                                  </div>                          
                                </div>  
                            <div class="col-sm-4">
                              <div class="form-group">
                              <label class="control-label" for="input-date"> Fecha </label>
                                {% if filter_date %}
                                <input type="date" name="filter_date" value="{{ filter_date }}" placeholder="" id="filter_date" class="input-text" />
                                {% else %}
                                <input type="date" name="filter_date" value="" placeholder="Fecha" id="filter_date" class="input-text" />
                                {% endif %}
                              </div>                          
                            </div>  
                            <div class="col-sm-1"> 
                                <div class="form-group"> 
                            <button onclick="$('#filter_msj').submit();" type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i> </button>

                                </div>
                            </div>
                            </form>  
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td class="text-left">Nombre</td>
                                <td class="text-left">Autor</td>
                                <td class="text-left">Fecha de Creación</td>
                                <td class="text-left">Acciones</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if mensajes %}
                            {% for m in mensajes %}
                            <tr>
                                {% if m.nombre_predefinido == None %}
                                <td class="text-left">{{ m.titulo }}</td>
                                {% else %}
                                <td class="text-left">{{ m.nombre_predefinido }}</td>
                                {% endif %}
                                <td class="text-left"> {{ m.id_usuario }}</td>
                                <td class="text-left"> {{ m.fecha_creacion|date:"d F Y H:i"}}</td>
                                <td class="text-left">
                                {% if entrar_como and entrar_como != 0 %}
                                    <a href="/perfil/{{ tipo.lower }}/edit/{{ m.id_mensaje }}/{{ entrar_como }}" data-toggle="tooltip" title="Editar {{ tipo }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                    <a href="/perfil/{{ tipo.lower }}/delete/{{ m.id_mensaje }}/{{ entrar_como }}" onclick="return confirm('¿Esta seguro que quiere eliminar este {{tipo}}?')"  data-toggle="tooltip" title="Borrar {{ tipo }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                {% else %}
                                    <a href="/perfil/{{ tipo.lower }}/edit/{{ m.id_mensaje }}" data-toggle="tooltip" title="Editar {{ tipo }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                                    <a href="/perfil/{{ tipo.lower }}/delete/{{ m.id_mensaje }}" onclick="return confirm('¿Esta seguro que quiere eliminar este {{tipo}}')"  data-toggle="tooltip" title="Borrar {{ tipo }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="8">No hay resultados asociados</td>
                            </tr>
                            {% endif %}
                            
                            </tbody>
                        </table>
                </div>
                 <div class="row">
          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_name  or filter_date %}
                          <a href="?filter_name={{ filter_name }}&filter_date={{ filter_date }}&page={{ contacts.previous_page_number }}"><< </a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>

                      {% if contacts.has_next %}
                          {% if filter_name  or filter_date %}
                          <a href="?filter_name={{ filter_name }}&filter_date={{ filter_date }}&page={{ contacts.next_page_number }}">>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>


          </div>
          <div class="col-sm-6 text-right">{{ count }} {{ tipo }}</div>
        </div>
            </div>
        </div>
    </div>

</div>

    </div>
  </div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
