{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  
  <div class="content-wrapper">
    <div class="box-body">


<div id="content">
	<div class="page-header">
		<div class="container-fluid">	
		<div class="pull-right">
			<a href="/perfil/{{ tipo.lower }}/programados/excel/{{ entrar_como }}" data-toggle="tooltip" title="Exportar a Excel" class="btn btn-success"><i class="fa fa-file-excel-o"></i></a>
        	<a href="/perfil/{{ tipo.lower }}/programados/{{ entrar_como }}" id="refresh" data-toggle="tooltip" title="Recargar" class="btn btn-default"><i id="spin" class="fa fa-refresh"></i></a>

		</div>		
    		<h1>{{ tipo }} Programado</h1>
    		<!--breadcrumbs de navegacion-->
		    <ul class="breadcrumb">
		        {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
                <li><a href="/perfil/programados/{{ tipo.lower }}/{{ entrar_como }}/">Programados</a></li>
                {% else %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/programados/{{ tipo.lower }}">Programados</a></li>
                {% endif %}
		    </ul>
		</div>
	</div>
	<!--zona de mensaje de errores y confirmación de acciones-->
	{% if responses == "1" %}
		<div class="alert alert-success"><i class="fa fa-check-circle"></i> Se ha eliminado el mensaje
	      <button type="button" class="close" data-dismiss="alert">&times;</button>
	    </div>
	    {% endif %}
	<div class="container-fluid">

	    <div class="panel panel-default">
	      <div class="panel-heading"> 
	        <h3 class="panel-title"><i class="fa fa-list"></i>{{ tipo }} Programado</h3>        
	      </div>
	      <div class="panel-body"> 
	     	<div class="row well table-responsive">
	     	<form action="#" method="GET" id="filter_msj">
                <table>
                <tr>
                <td width="30%">
		        <div  style="margin-top: 10px" role="group" >
		          
		          <div class="col-md-4" style="width:100%">
					<select class="form-control" id="filter_tipo" name="filter_tipo">
                    	<option value="" selected disabled=""> Seleccione ...</option>
                        <option value=""> Todos</option>
                        <option value="masivo">Masivo</option>
                        <option value="unico">Unico</option>
                        <option value="Api">API</option>
                    </select>
                   </div>
                
			    </div>
                  </td>
                  <td with="30%">  
			    <div class="col-sm-4">
                  <div class="form-group">
                    <label class="control-label" for="input-nombre"> Nombre </label>
                    {% if filter_name %}
                    <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="" id="filter_name" class="input-text" />
                    {% else %}
                    <input type="text" name="filter_name" value="" placeholder="Nombre" id="filter_name" class="input-text" />
                    {% endif %}
                  </div>                          
                </div>  
                </td>
                <td width="35%">
                <div class="col-sm-4">                          
                  <div class="form-group">
                    <label class="control-label" for="input-fecha"> Fecha </label>
		    {% if filter_date %}
                    <input type="date" name="filter_date" value="{{ filter_date }}" placeholder="" id="filter_name" class="input-text" />
                    {% else %}
                    <input type="date" name="filter_date" value="" placeholder="Fecha" id="filter_name" class="input-text" />
                    {% endif %}
                    </div>
                </div>
                </td>
                <td width="5%">              	
                <div class="col-sm-1"> 
                	<div> 
                		<button onclick="$('#filter_msj').submit()" type="button" style="margin-top: 5px" id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </div>
                    </td>
                    </tr>
                    </table>
                </div>
               
                </form>
		    </div> 
		    <br/>
	        <form action="<?php echo $delete; ?>" method="post" enctype="multipart/form-data" id="form-category">
	          <div class="table-responsive">
	            <table class="table table-bordered table-hover" id="table_edit">
	              <thead>
	              		
	               <td>Fecha</td>
	               <td>Nombre</td>
	               <td>Tipo Envio</td>
	               <td>Estado</td>
	               <!--td>Volumen</td-->
	              	<td>Acciones</td>
	              	</tr>
	              	</tr>
	              </thead>
	              <tbody>
	              {% if envios %}
	              {% for e in envios %}
	               <tr>
	               <td>{{ e.cuando_enviar|date:"d F Y H:i" }}</td>
	               <td>{{ e.nombre_envio }}</td>
	               <td>{{ e.tipo_envio }}</td>
	               <td><span class="label label-warning">&nbsp;Pendiente&nbsp;</span></td>

	               <td>
	               	 <a href="/perfil/{{ tipo.lower }}/delete_envio/{{e.id_envio}}/{{ entrar_como }}/" onclick="return confirm('¿Esta seguro que quiere eliminar este {{tipo}} programado?')"  data-toggle="tooltip" title="Borrar {{ tipo }}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
	               </td>
	               </tr>
	               {% endfor %}
	              {% else %}
	              <tr><td class="text-center" colspan="12">Sin resultados</td>
				{% endif %}
	              
	              </tbody>
	            </table>
	          </div>
	        </form>
	                         <div class="row">
          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_name  or filter_date %}
                          <a href="?filter_name={{ filter_name }}&filter_date={{ filter_date }}&filter_tipo={{ filter_tipo }}&page={{ contacts.previous_page_number }}"><< </a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>

                      {% if contacts.has_next %}
                          {% if filter_name  or filter_date %}
                          <a href="?filter_name={{ filter_name }}&filter_date={{ filter_date }}&filter_tipo={{ filter_tipo }}&page={{ contacts.next_page_number }}">>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>


          </div>
          <div class="col-sm-6 text-right">{{ count }} {{ tipo }}</div>
        </div>
	      </div>
    	</div>
	</div>



    </div>
  </div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
