{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  <div class="content-wrapper">
    <div class="box-body">



<div id="content">
    <div class="page-header">
        <div class="container-fluid">
        <div class="pull-right">        
        
      </div>
            <h1>Contactos Recibidos</h1>
            <ul class="breadcrumb">
             {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}"> Panel de Control </a></li>
                <li><a href="/perfil/mail/desinscrito/{{ entrar_como }}"> Contactos Recibidos</a></li>

             {% else %}
                <li><a href="/perfil"> Panel de Control </a></li>
                <li><a href="/perfil/mail/desinscrito"> Contactos Recibidos</a></li>
             {% endif %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Lista de Contactos</h3>
            </div>
            <div class="panel-body">
                <div class="well">
            <form action="#" method="GET" id="filter_cli">
                <div class="form-inline table-responsive">
                 <table width="100%"><tr>
                    <td width="30%">
          <div class="col-sm-1">
                  <div class="form-group">

                    <label class="control-label" for="input-name">Mensaje</label>
                    {% if filter_name %}
                    <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="" id="filter_name" class="input-text" />
                    {% else %}
                    <input type="text" name="filter_name" value="" placeholder="Nombre" id="filter_name" class="input-text" />
                    {% endif %}
                    </td>
                 </div></div>
                  <td width="30%">
          <div class="col-sm-1">
                  <div class="form-group">
                  <label class="control-label" for="input-date-added">Numero</label>
                  {% if filter_num %}
                  <input type="number" id="filter_num" name="filter_num" value="{{ filter_num }}" placeholder="Numero" class="form-control" style="width:230px" />
                  {% else%}
                  <input type="number" id="filter_num" name="filter_num" value="" placeholder="Numero" class="form-control" style="width:230px;" />
                  {% endif %}
                  </td>
                 </div></div>
                  <td width="30%">
          <div class="col-sm-1">
                  <div class="form-group">

                  <label class="control-label" for="input-date-added">Fecha</label>
                  {% if filter_fecha %}
                  <input type="date" name="filter_fecha" value="{{ filter_fecha }}" placeholder="Fecha" data-date-format="YYYY-MM-DD" id="filter_fecha" class="form-control" />
                  {% else %}
                  <input type="date" name="filter_fecha" value="" placeholder="Fecha" data-date-format="YYYY-MM-DD" id="filter_fecha" class="form-control" />
                  {% endif %}
                  </td>
                 </div></div>

                  <td width="10%">
                 <div class="col-sm-1">
                  <div style="margin-bottom: -5px;">
                    <button onclick="$('#filter_cli').submit();" type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i> </button>
                  </div></div>
                  </td>
                  </tr></table>
                </div>
              </form>
                </div>
                
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>

                                <td class="text-left">Fecha </td>
                                <td class="text-left">Remitente </td>
                                <td class="text-left">Mensaje</td>
                                <td class="text-left">Destinatario</td>
                                <!--td class="text-left">Acciones</td-->
                            </tr>
                            </thead>
                            <tbody>
                            {% if mensajes %}
                            {% for m in mensajes %}
                            <tr>
                                <td class="text-left">{{ m.fecha|date:"d F Y H:i" }}</td>
                                <td class="text-left">{{ m.remitente }}</td>
                                <td class="text-left">{{ m.mensaje }}</td>
                                <td class="text-left">{{ m.destinatario }}</td>
                                <!--td><a href="/perfil/mail/desinscribir/" data-toggle="tooltip" title="Desinscribir contacto" class="btn btn-warning"><i class="fa fa-pencil"></i></a></td-->
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="8"> No existen contactos asociados </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                
        <div class="row">
          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_username or filter_email or filter_fecha %}
                          <a href="?filter_username={{ filter_username }}&filter_email={{ filter_email }}&filter_date_added={{ filter_fecha }}&page={{ contacts.previous_page_number }}"><< </a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>

                      {% if contacts.has_next %}
                          {% if filter_username or filter_email or filter_fecha %}
                          <a href="?filter_username={{ filter_username }}&filter_email={{ filter_email }}&filter_date_added={{ filter_fecha }}&filter_email={{ filter_email }}page={{ contacts.next_page_number }}">>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>


          </div>
          <div class="col-lx-6 text-right">Total: {{ count }} Contactos </div>
        </div>
            </div>
        </div>
    </div>
</div>


  </div>
  </div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

<script>
$(document).keyup( function(e) {
   if(e && e.keyCode == 13) {
      $('#filter_cli').submit();  
   }
});
</script>

</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
