{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  
  <div class="content-wrapper">
    <div class="box-body">

{% block content %}
  <form class="form-horizontal" id="login-form" method="post" action="/perfil/comprar/" onsubmit="return verif();" >
  {% csrf_token %}

{% if responses == "1" %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i>Se ha notificado el pago exitosamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
{% if responses == "2" %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i>Se han cargado los creditos exitosamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}




<div id="container" class="container">
  
<div class="page-header">
    <div class="">

    <div class="pull-right">
    <button id="submit_btn" name="submit_btn" class="btn btn-primary">
        <i class="fa fa-credit-card"></i> 
    </button>

      </div>
      <h1>Comprar Créditos</h1>
      <ul class="breadcrumb">
        <li><a href="/perfil">Panel de Control</a></li>
        <li><a href="/perfil/comprar">Comprar Créditos</a></li>
      </ul>
    </div>
  </div>


<div id="content" class="colM">
  <div id="content-main">    
    <div class="panel panel-default">
          <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Seleccione cantidad de créditos a comprar </h3>
      </div>


                
                <div id="FormText"><br></div>
                
<!-- Text input-->
                        <!-- Text input-->

                        <div class="form-group">
                            <div class="col-md-4">

                          
                            <div disabled hidden>
                              {{ form.empresa }}
                              </div>
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.empresa.errors }}
                        </center>
                        
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.mail.id_for_label }}">Créditos Mail *</label>  
                            <div class="col-md-4">
                                {{ form.mail }}
                            <b><span class ="pull-right" id="saldo_mail">{{ datos_saldo.saldo_mail }}</span></b>
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.mail.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.sms.id_for_label }}">Créditos Sms *</label>
                            <div class="col-md-4">
                            {{ form.sms }}
                            <b><span class ="pull-right" id="saldo_sms">{{ datos_saldo.saldo_sms }}</span></b>
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.sms.errors }}
                        </center>

                        <!-- Button -->
                        <!--div class="form-group">
                          <label class="col-md-4 control-label" for="submit_btn"></label>
                          <div class="col-md-4">
                            <button id="submit_btn" name="submit_btn" class="btn btn-primary">
                                
                                <i class="fa fa-save"></i> 
                            </button>
                          </div>
                        </div-->

                    <!--/form-->
       </div>         
       </div>
<div class="alert btn-primary"><center> *NOTA: El número mínimo de mail es 5000, y el numero mínimo de sms es 500</center></div>



  </div>

</div>

</form>
</div>
</div>
{% endblock content %}
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}



<script type="text/javascript">

function verif(){
  if(( $("#id_mail").val() == 0) && ($("#id_sms").val() == 0)){
    alert("La cantidad de mail y sms es cero, por favor escriba al menos una cantidad");
    return false;
  }
  if(( $("#id_mail").val() < 5000 ) && ($("#id_mail").val() != 0)){
    alert("La cantidad de mail es menor que 5000");
    return false;  
  }
  if(( $("#id_sms").val() < 500) && ($("#id_mail").val() == 0)){ 
    alert("La cantidad de sms es meno que 500");
    return false;  
  }
  

  return true;
}

var mailold = $("#id_mail").val();
var smsold = $("#id_sms").val();

var rangos = ('{{rangos}}').split(',');
console.log(rangos);

$("#id_mail").change( function() {
 var mailold = $("#id_mail").val();

 if(( mailold < 5000) && ( mailold != 0)){ 
 $("#id_mail").val(5000);
 }

});

$("#id_sms").change( function() {
 var smsold = $("#id_sms").val();

 if(( smsold < 500) && (smsold != 0)){ 
 $("#id_sms").val(500);
 }

});


</script>
    
</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
