{% if user.is_staff or user.is_superuser %}
{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  
  <div class="content-wrapper">
    <div class="box-body">

{% block content %}
<!--ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li><a href="/logout/">Logout</a></li>
    {% else %}
    <li><a href="/login/">Login</a></li>
    <li><a href="" class="p-r-none">Sign Up</a></li>
    {% endif %}
    </ul-->
  {% if entrar_como and entrar_como != 0 %}
  <form class="form-horizontal" id="login-form" method="post" action="/perfil/cargar/{{entrar_como}}/">
  {% else %}
  <form class="form-horizontal" id="login-form" method="post" action="/perfil/cargar/">
  {% endif %}
  {% csrf_token %}


<div id="container" class="container">	
<div class="page-header">
    <div>

    <div class="pull-right">
    <button id="submit_btn" name="submit_btn" class="btn btn-primary">
        <i class="fa fa-save"></i> 
    </button>

      </div>
      <h1>Cargar Créditos</h1>
      <ul class="breadcrumb">
         {% if entrar_como and entrar_como != 0 %}
        <li><a href="/perfil/{{entrar_como}}">Panel de Control</a></li>
        <li><a href="/perfil/cargar/{{entrar_como}}">Cargar Créditos</a></li>
         {% else %}
        <li><a href="/perfil">Panel de Control</a></li>
        <li><a href="/perfil/cargar">Cargar Créditos</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

{% if resp == "1" %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i>Se han añadido los creditos exitosamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

{% if creditos !=  None %}
    <div class="alert btn-primary"><center><i class="fa fa-info-circle"></i>
     <button type="button" class="close" data-dismiss="alert">&times;</button>
        &nbsp;Datos de cuenta reseller:<br>Saldo mail : {{creditos.saldo_mail}}<br>Saldo sms : {{creditos.saldo_sms}}<br>Mail Consumidos : {{c$
    </center></div>
    {% endif %}

<div id="content" class="colM">
	<div id="content-main">    
    <div class="panel panel-default">
          <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Agregar carga de Cliente</h3>
      </div>


                
                <div id="FormText"><br></div>
                
<!-- Text input-->
                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.empresa.id_for_label }}">Empresa *</label>  
                            <div class="col-md-4">

{{ form.non_field_errors }}                            
                            <select class="form-control" id="lista_cust" name="lista_cust">
                            <option value="" disabled selected> Seleccione una empresa</option>
                            {% for c in customers %}
                            <option value="{{ c.customer_id }}">{{ c.razon_social }} -- ({{c.email}})</option>

                            {% endfor %}
                            </select>
                            <div hidden>
                                {{ form.empresa }}
                              </div>
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.empresa.errors }}
                        </center>
                        
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.mail.id_for_label }}">Créditos Mail *</label>  
                            <div class="col-md-4">
                                {{ form.mail }}
                            <b><span class ="pull-right" id="saldo_mail">{{ datos_saldo.saldo_mail }}</span></b>
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.mail.errors }}
                        </center>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.sms.id_for_label }}">Créditos Sms *</label>
                            <div class="col-md-4">
                            {{ form.sms }}
                            <b><span class ="pull-right" id="saldo_sms">{{ datos_saldo.saldo_sms }}</span></b>
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.sms.errors }}
                        </center>

                        <!-- Button -->
                        <!--div class="form-group">
                          <label class="col-md-4 control-label" for="submit_btn"></label>
                          <div class="col-md-4">
                            <button id="submit_btn" name="submit_btn" class="btn btn-primary">
                                
                                <i class="fa fa-save"></i> 
                            </button>
                          </div>
                        </div-->

                    <!--/form-->
       </div>         
       </div>

{%if movimientos %}
  <div id="content-main2">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Ultimos movimientos cliente </h3>
      </div>
      <div class="table-responsive">
      <table class="table table-bordered table-hover">
      <tr>
      <td style="width:25%"><b>Cantidad Sms</b></td>
      <td style="width:25%"><b>Cantidad Mail</b></td>
      <td style="width:25%"><b>Tipo de compra</b></td>
      <td style="width:25%"><b>Fecha</b></td>  
      </tr>
      {% for m in movimientos %}
      {% if m.cantidad_sms != 0 or m.cantidad_mail != 0 %}
      <tr>

      {% if m.cantidad_sms < 0 %}
      <td style="color:red">{{m.cantidad_sms}}</td>
      {% else %}
      <td>{{m.cantidad_sms}}</td>
      {% endif %}
      {% if m.cantidad_mail < 0 %}
      <td style="color:red">{{m.cantidad_mail}}</td>
      {% else %}
      <td>{{m.cantidad_mail}}</td>
      {% endif %}
      {% if m.tipo_compra == 0 or m.tipo_compra == None %}
      <td> Desde plataforma</td>
      {% elif m.tipo_compra == 1 %}
      <td> Compra por khipu</td>
      {% endif %}
      <td>{{m.fecha}}</td>
      </tr>
      {% endif %}
      {% endfor %}
      </table>
      </div>

    </div>
  </div>
{% endif %}
	</div>

</div>

</form>
</div>
</div>
{% endblock content %}
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}



{% if request.user.is_superuser and not request.user.is_staff %}
<script type="text/javascript">
$("#id_mail").change( function (){

var id_mail = parseInt($("#id_mail").val());

if(id_mail > parseInt({{creditos.saldo_mail}})){
    $("#id_mail").val(parseInt({{creditos.saldo_mail}}));
}
});

$("#id_sms").change( function (){

var id_sms = parseInt($("#id_sms").val());

if(id_sms > parseInt({{creditos.saldo_sms}})){
    $("#id_sms").val(parseInt({{creditos.saldo_sms}}));
}
});

</script>
{% endif %}
<script type="text/javascript">

var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
    var is_staff = Number({{request.user.is_staff|lower}});
    var is_superuser = Number({{request.user.is_superuser|lower}});


    $("#id_sms").val(0);
    $("#id_mail").val(0);

    var id = getUrlParameter('id');
    if(id){
        $("#id_empresa").val(id);
        $("#lista_cust").val(id);
    }

    var saldo_mail = parseInt($("#saldo_mail").html());
    var saldo_sms = parseInt($("#saldo_sms").html());

    $("#id_mail").change( function (){
     var saldo = 0;
     var aux = parseInt($("#saldo_mail").html());
     var id_mail = parseInt($("#id_mail").val());
//     if (isNaN(parseInt($("#id_mail").val())))
 //	     $("#id_mail").val(0); 
     
     //if ((is_staff == 0) && (is_superuser == 1))
     //saldo = saldo_mail - id_mail;
     //else
     saldo = saldo_mail + id_mail;
     
     //if( saldo < parseInt($("#id_mail").val())){
     //    $("#id_mail").val(0);
     //}

     console.log(saldo);
     if(isNaN(saldo)){
     $("#id_mail").val(0);
     $("#saldo_mail").html(saldo_mail);
     }
     else 
     $("#saldo_mail").html(saldo);
    })

    $("#id_sms").change( function (){
     var aux = parseInt($("#saldo_sms").html())
     var saldo = 0;
     
     var id_sms = parseInt($("#id_sms").val());
//     if (isNaN(parseInt($("#id_sms").val())))
//      $("#id_sms").val(0);

     saldo = saldo_sms + id_sms;

     console.log(saldo);
     if (isNaN(saldo))
     $("#saldo_sms").html(saldo_sms);
     else 
     $("#saldo_sms").html(saldo);
    })


    $("#lista_cust").change( function (){
    $("#id_empresa").val( $("#lista_cust").val());
    
    
    var entrar_como = '{{entrar_como}}';
    
    if (entrar_como == '0' || entrar_como == '')
    window.location.replace("/perfil/cargar/?id="+$("#id_empresa").val());
    else
    window.location.replace("/perfil/cargar/{{entrar_como}}/?id="+$("#id_empresa").val());
    })

</script>
    
</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}


{% else %}
<html><p>Ud no tiene los permisos para acceder</p></html>
{% endif %}
