{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  
  <div class="content-wrapper">
    <div class="box-body">

{% block content %}
<!--ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}
    <li><a href="/logout/">Logout</a></li>
    {% else %}
    <li><a href="/login/">Login</a></li>
    <li><a href="" class="p-r-none">Sign Up</a></li>
    {% endif %}
    </ul-->
  <!--form class="form-horizontal" id="login-form" method="post" action="{{khipu_url}}"-->
  {% csrf_token %}

{% if resp == 3 %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i>Se han añadido los creditos exitosamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}


<div id="container" class="container">
  
<div class="page-header">
    <div class="">

    <div class="pull-right">

      </div>
      <h1>Comprar Créditos</h1>
      <ul class="breadcrumb">
        <li><a href="/perfil">Panel de Control</a></li>
        <li><a href="/perfil/comprar">Comprar Créditos</a></li>
      </ul>
    </div>
  </div>


<div id="content" class="colM">
  <div id="content-main">    
    <div class="panel panel-default">
          <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Confirmacion compra créditos </h3>
      </div>


                <center>
                <div id="FormText" class="panel-body">
                
<!-- Text input-->
                        <!-- Text input-->
                        <br>
                            <div class="col-md-12">

                        <div class="form-group">
                          <label class="col-md-4 control-label"> Empresa </label>
                          <div class="col-md-4">
                            {{nombre_empresa}}    
                          </div>
                        </div><br>

                        <div class="form-group">
                          <label class="col-md-4 control-label"> Mail </label>
                          <div class="col-md-4">
                            	Cantidad de Mail: {{cantidad_mail}} -- Valor unitario :{{valor_mail}}
                          </div>
                        </div><br>

                        <div class="form-group">
                          <label class="col-md-4 control-label"> SMS </label>
                          <div class="col-md-4">
                            Cantidad de SMS: {{cantidad_sms}} -- Valor unitario: {{valor_sms}}
                          </div>
                        </div><br>
                        <div class="form-group">
                          <label class="col-md-4 control-label"> TOTAL NETO:  </label>
                          <div class="col-md-4" style="font-size: larger;">
                          <b> $ {{neto|floatformat:"0"}} </b>
                          </div>
                        </div><br>
                        <div class="form-group">
                          <label class="col-md-4 control-label"> IVA:  </label>
                          <div class="col-md-4">
                           +1,19%
                          </div>
                        </div><br>

                        <div class="form-group">
                          <label class="col-md-4 control-label"> TOTAL:  </label>
                          <div class="col-md-4"style="font-size: larger;">
                          <b>$ {{amount|floatformat:"0"}} </b>
                          </div>
                        </div><br>
<form action=" {{khipu_url}}" method="post">
{% csrf_token %}
<input type="hidden" name="receiver_id" value="{{receiver_id }}">
<input type="hidden" name="subject" value="{{subject}}">
<input type="hidden" name="body" value="{{body}}">
<input type="hidden" name="amount" value="{{amount}}">
<input type="hidden" name="notify_url" value="{{notify_url}}"/>
<input type="hidden" name="return_url" value="{{return_url}}"/>
<input type="hidden" name="cancel_url" value="{{cancel_url}}"/>
<input type="hidden" name="custom" value="{{custom}}">
<input type="hidden" name="transaction_id" value="{{transaction_id}}">
<input type="hidden" name="payer_email" value="{{payer_email}}">
<input type="hidden" name="expires_date" value="{{expires_date}}">
<input type="hidden" name="bank_id" value="{{bank_id}}">
<input type="hidden" name="picture_url" value="{{picture_url}}">
<input type="hidden" name="hash" value="{{hash}}">
<input type="image" name="submit" src="https://s3.amazonaws.com/static.khipu.com/buttons/200x50.png">
</form>


</center>
</div>
                        <!-- Button -->
                        <!--div class="form-group">
                          <label class="col-md-4 control-label" for="submit_btn"></label>
                          <div class="col-md-4">
                            <button id="submit_btn" name="submit_btn" class="btn btn-primary">
                                
                                <i class="fa fa-save"></i> 
                            </button>
                          </div>
                        </div-->

                    <!--/form-->
       </div>         



  </div>

</div>

</form>
</div>
</div>

{% endblock content %}
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}



<script type="text/javascript">


</script>
    
</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
