{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Connectus | Panel de control</title>
  <!-- Tell the browser to be responsive to screen width -->
  <link rel="shortcut icon" href="{% static  'img/favicon.png' %}" type="image/png" />

  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %} ">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/font-awesome.min.css' %} ">
  
  <!-- Ionicons -->
   <!--link rel="stylesheet" href="{% static 'bootstrap/css/ionicons/2.0.1/css/ionicons.min.css"-->
   <link rel="stylesheet" href="{% static 'dist/css/ionicons.min.css' %} ">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %} ">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %} ">
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static 'plugins/iCheck/flat/blue.css' %} ">
  <!-- Morris chart -->
  <link rel="stylesheet" href="{% static 'plugins/morris/morris.css' %} ">
  <!-- jvectormap -->
  <link rel="stylesheet" href="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.css' %} ">
  <!-- Date Picker -->
  <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %} ">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker-bs3.css' %} ">
  
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %} ">
  <link rel="stylesheet" href="{% static 'css/spreadsheet.css' %} ">
  
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

  <![endif]-->
</head>
