{% load staticfiles %}

  <header class="main-header">
    <!-- Logo -->
    <a href="" class="logo" style="background-color: white">
    {% if user.is_authenticated  %}
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">
       {% if not perfil.foto_empresa %}
      <img src="{% static 'img/icon.57.png' %}" style="width: 40px" alt="logo" ></span>
       {% else %}
      <img src="/static/{{perfil.foto_empresa}}" style="width: 40px" alt="logo" ></span>

       {% endif %}
      <!-- logo for regular state and mobile devices -->
       {% if perfil.banner %}
      <span class="logo-lg"><img src="/static/{{perfil.banner}}" style="height: 40px" alt="logo" ></span>
       {% else %}
      <span class="logo-lg"><img src="{% static 'img/logo_black.png' %}" style="height: 40px" alt="logo" ></span>
       {% endif %}

    {% endif %}
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" style="max-height: 50px; border-top: 1px solid #bbb;">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button" style="height: 50px;">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          {% if user  %}
          <!--li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Tienes 4 mensajes nuevos</li>
              <li>
                <ul class="menu">

                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="{% static 'dist/img/user4-128x128.jpg' %}" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Developers
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>

                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li-->
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              {% if notificaciones %}
              <span class="label label-warning">{{notificaciones.count}}</span>
              {% else %}
              <span class="label label-warning"></span>
             {% endif %}
            </a>
            <ul class="dropdown-menu">
              <li class="header">Tienes {{notificaciones.count}} notificaciones</li>
              {% if notificaciones %}
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                {% for n in notificaciones %}
                  <li>
                    {% if user.is_staff %}
                    <a href="/perfil/{{n.id_user}}">
                      <i class="fa fa-warning text-yellow"></i> {{n.texto}} ({{n.id_user}})
                    {% else %}
                    <a href="/perfil/">
                      <i class="fa fa-warning text-yellow"></i> {{n.texto}}
                    {% endif %}

                    <div class="pull-right" onclick="javascript:borrar({{n.id_msjinterno}})">x</div>
                    </a>
                  </li>
                {% endfor %}
                </ul>
              </li>
              <li class="footer"><a href="#">Ver todo</a></li>
             {% endif %}
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bug"></i>
              {% if bugs %}
              <span class="label label-danger">{{bugs.count}}</span>
              {% endif %}
            </a>
            <ul class="dropdown-menu">
              <li class="header">
                {% if entrar_como and entrar_como != 0 %}
                <a href="/perfil/bug/agregar/{{entrar_como}}">Reporta un bug</a>
                {% else %}
                <a href="/perfil/bug/agregar/">Reporta un bug</a>
                {% endif %}
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                {% for b in bugs %}
                  <li>
                {% if user.is_staff %}
                 {% if entrar_como and entrar_como != 0 %}
                    <a href="/perfil/bug/responder/{{b.id_bug}}/{{entrar_como}}">
                 {% else %}
                    <a href="/perfil/bug/responder/{{b.id_bug}}">
                 {% endif %}

                {% else %}  
                    <a href="/perfil/bug/ver/{{b.id_bug}}">
                {% endif %}
                      <i class="fa fa-ticket"></i> {{b.titulo}}
                    </a>
                  </li>
                {% endfor %}
                  <!--li>
                    <a href="#">
                      <i class="fa fa-ticket text-aqua"></i> Envia un ticket
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <i class="fa fa-code-fork text-aqua"></i> Propone una funcion extra
                    </a>
                  </li-->


                  <!--li>
                    <a href="#">
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <h3>
                        Create a nice theme
                        <small class="pull-right">40%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">40% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <h3>
                        Some task I need to do
                        <small class="pull-right">60%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <h3>
                        Make beautiful transitions
                        <small class="pull-right">80%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">80% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li-->

                </ul>
              </li>
              <li class="footer">
		{% if entrar_como and entrar_como != 0 %}
                <a href="/perfil/bug/{{entrar_como}}">Ver todos los bugs</a>
		{% else %}
                <a href="/perfil/bug/">Ver todos los bugs</a>
		{% endif %}
              </li>
            </ul>
          </li>
	  
          {% endif %}
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="padding-bottom: 10px;">
                {% if perfil.foto %}
                <img src="/static/{{ perfil.foto }}"  style="width:25px;" class="img-circle" alt="User Image">
                {% else %}
                <img src="{% static 'img/user.png' %}" style="width:25px;" class="img-circle" alt="User Image">
                {% endif %}

              
              <span class="hidden-xs">{{user.username}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">

                {% if perfil.foto %}
                 <img src="/static/{{ perfil.foto }}" class="img-circle" alt="User Image">
                {% else %}
                <img src="{% static 'img/user.png' %}" class="img-circle" alt="User Image">
                {% endif %}
                <p>
                  {{user.first_name}} {{user.last_name}}
                  <small>Miembro desde: {{user.date_joined}}</small>
                  <small><a href="/perfil/cliente/edit/{{perfil.id_empresa.customer_id}}">Editar datos empresa</a></small>
                </p>
              </li>
              <!-- Menu Footer-->
              <!--li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Mi perfil</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Salir</a>
                </div>
              </li-->
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          
           <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-question-circle fa-lg"></i></a>

            <ul class="dropdown-menu">
              <li class="header"><b>Tutoriales de Ayuda</b></li>

              <li>
                    <a href="http://ior.ad/dfc" target="_blank">
                      <i class="fa fa-wrench text-green"></i> Editar perfil 
                    </a>
              </li>
              <li>
                    <a href="http://ior.ad/deE" target="_blank">
                      <i class="fa fa-puzzle-piece text-green"></i> Recuperar contraseña
                    </a>
              </li>


              <li>
                    <a href="http://www.iorad.com/7048/41357/Envio-SMS---Sistema-Connectus" target="_blank">
                      <i class="fa fa-comments text-blue"></i> Enviar SMS
                    </a>
              </li>

              <li>
                    <a href="http://www.iorad.com/7048/41384/Envio-de-Mail---Sistema-Connectus" target="_blank">
                      <i class="fa fa-envelope text-blue"></i> Enviar Mail
                    </a>
              </li>

              <li>
                    <a href="http://www.iorad.com/7048/41287/Como-importar-una-lista---Sistema-Connectus" target="_blank">
                      <i class="fa fa-users text-green"></i> Importar Contactos
                    </a>
              </li>

              <li>
                    <a href="http://www.iorad.com/7048/41315/Editar-un-contacto---Sistema-Connectus" target="_blank">
                      <i class="fa fa-user text-green"></i> Editar Contacto
                    </a>
              </li>

              <li>
                    <a href="http://www.iorad.com/7048/41387/Como-comprar---Sistema-Connectus" target="_blank">
                      <i class="fa fa-shopping-cart text-yellow"></i> Comprar créditos
                    </a>
              </li>
              {% if user.is_superuser or user.is_staff  %}
              <li>
                    <a href="http://www.iorad.com/7048/41412/Crear-Usuarios---Sistema-Connectus" target="_blank">
                      <i class="fa fa-user-plus text-blue"></i> Crear Usuario
                    </a>
              </li>

              <li>
                    <a href="http://www.iorad.com/7048/41390/Crear-clientes---Sistema-Connectus" target="_blank">
                      <i class="fa fa-building-o text-blue"></i> Crear empresa
                    </a>
              </li>

              <li>
                    <a href="http://www.iorad.com/7048/41405/Como-cargar-cr-ditos--Sistema-Connectus" target="_blank">
                      <i class="fa fa-exchange text-red"></i> Dar créditos a empresa 
                    </a>
              </li>
              {% endif %}
              <li>
                    <a href="/static/files/manual%20API%201.1.pdf" target="_blank">
                      <i class="fa fa-book text-red"></i> Manual de uso de la API
                    </a>
              </li>


            </ul>
                
               
          </li>
          <li>
            <a href="/logout"><span class="hidden-xs hidden-sm hidden-md">Salir</span><i class="fa fa-sign-out fa-lg"></i></a>
          </li>

          {% if user.is_staff %}
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
    }
  }
  return cookieValue;
}    

var cookie = getCookie('csrftoken'); 

function borrar(id){
	$.ajax({
	type: "POST",
	url: "/perfil/msjinterno_delete/"+id+"/",
	data: {
		csrfmiddlewaretoken: cookie,
		//id: id,
	},
	success: window.location.reload()
});
} 
</script>
