{% if user.is_staff %}
{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  
  <div class="content-wrapper">
    <div class="box-body">

{% block content %}


<div id="container" class="container">
	
<div class="page-header">
    <div class="">

      <h1>Ver movimientos</h1>
      <ul class="breadcrumb">
        <li><a href="/perfil">Panel de Control</a></li>
      </ul>
    </div>
  </div>


{%if movimientos %}
  <div id="content-main2">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Ultimos movimientos cliente </h3>
      </div>
      <div class="table-responsive">
      <table class="table table-bordered table-hover">
      <tr>
      <td style="width:60%"><b>Empresa </b></td>
      <td style="width:10%"><b>Cantidad Sms</b></td>
      <td style="width:10%"><b>Cantidad Mail</b></td>
      <td style="width:20%"><b>Fecha</b></td>  
      </tr>
      {% for m in movimientos %}
      {% if m.cantidad_sms != 0 or m.cantidad_mail != 0 %}
      <tr>
      <td>{{m.id_cuenta_corriente}} </td>
      {% if m.cantidad_sms < 0 %}
      <td style="color:red">{{m.cantidad_sms}}</td>
      {% else %}
      <td>{{m.cantidad_sms}}</td>
      {% endif %}
      {% if m.cantidad_mail < 0 %}
      <td style="color:red">{{m.cantidad_mail}}</td>
      {% else %}
      <td>{{m.cantidad_mail}}</td>
      {% endif %}
      <td>{{m.fecha}}</td>
      </tr>
      {% endif %}
      {% endfor %}
      </table>
      </div>
      {% endif %}
    </div>
  </div>


</div>

</form>
</div>
</div>
{% endblock content %}
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}


<script type="text/javascript">

</script>
    
</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}


{% else %}
<html><p>Ud no tiene los permisos para acceder</p></html>
{% endif %}

