{% if user.is_staff %}
{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  
  <div class="content-wrapper">
    <div class="box-body">

{% block content %}


<div id="container" class="container">
	
<div class="page-header">
    <div class="">
      <h1>Ver movimientos</h1>
      <ul class="breadcrumb">
        <li><a href="/perfil">Panel de Control</a></li>
      </ul>
    </div>
  </div>

{% if responses = "1" %}
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> Se ha eliminado la transaccion exitosamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
{% endif %}

{% if movimientos %}
  <div id="content-main2">
      <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Ultimos pedidos </h3>
      </div>
      <div class="table-responsive">
      <table class="table table-bordered table-hover">
      <tr>
      <td style="width:20%"><b>Id Servicio</b></td>
      <td style="width:20%"><b>Empresa </b></td>
      <td style="width:20%"><b>Cantidad Sms</b></td>
      <td style="width:20%"><b>Cantidad Mail</b></td>
      <td style="width:20%"><b>Token</b></td>  
      </tr>
      {% for m in movimientos %}
      {% if m.cantidad_sms != 0 or m.cantidad_mail != 0 %}
      <tr>
      <td>{{m.id_pedido}}</td>
      <td>{{m.id_empresa}} </td>
      {% if m.cantidad_sms < 0 %}
      <td style="color:red">{{m.cantidad_sms}}</td>
      {% else %}
      <td>{{m.cantidad_sms}}</td>
      {% endif %}
      {% if m.cantidad_mail < 0 %}
      <td style="color:red">{{m.cantidad_mail}}</td>
      {% else %}
      <td>{{m.cantidad_mail}}</td>
      {% endif %}
      <td><a href="http://35.160.72.247/perfil/comprar/2/?sms={{m.cantidad_sms}}&mail={{m.cantidad_mail}}&token={{m.token}}" 
data-toggle="tooltip" title="Finalizar Transaccion" class="btn btn-primary"><i class="fa fa-credit-card"></i></a>
      <a href="/perfil/eliminar_compra/{{m.id_pedido}}/" onclick="return confirm('¿Esta seguro que quiere eliminar la transacción?')" data-toggle="tooltip" title="Cancelar Transaccion" class="btn btn-danger"><i class="fa fa-credit-card"></i></a>
      </td>
      </tr>
      {% endif %}
      {% endfor %}
      </table>
      </div>
      {% endif %}
    </div>
  </div>


</div>

</form>
</div>
</div>
{% endblock content %}
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}


<script type="text/javascript">

</script>
    
</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}


{% else %}
<html><p>Ud no tiene los permisos para acceder</p></html>
{% endif %}


