  {% load staticfiles %}
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        {% if entrar_como and entrar_como != 0 %}
        <div class="pull-left image"><a href="/perfil/user/editp/{{user.id}}/_{{entrar_como}}/">
        {% else %}
        <div class="pull-left image"><a href="/perfil/user/editp/{{user.id}}/">
        {% endif %}
        &nbsp;
         {% if perfil.foto %}

                <img src="/static/{{ perfil.foto }}" style="width:20%; min-width:20px; cursor:pointer; border-radius: 5%;" class="img-circle" alt="User Image">
                {% else %}
                <img src="{% static 'img/user.png' %}" style="width:20%; min-width:20px; cursor:pointer; border-radius: 5%;" class="img-circle" alt="User Image">
                {% endif %}
                
            <i id="editor" class="fa fa-pencil" style="position: relative;bottom:0; color:white; display:none"></i>
       </a></div>
        <div class="pull-left info">
        <br>
          {% if entrar_como and entrar_como != 0 %}
           <a href="/perfil/user/edit/{{user.id}}/_{{entrar_como}}/">{{user.username}}</a>
          {% else %}
          <a href="/perfil/user/edit/{{user.id}}/">{{user.username}}</a>
          {% endif %}
          <i class="fa fa-circle text-success"></i> Online  
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Buscar...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header"></li>
                <li class="treeview">
          <a href="/perfil">
            <i class="fa fa-dashboard"></i> <span>Panel de Control</span>
          </a>
        </li>
        {% if user.is_staff or user.is_superuser %}
     
     <li class="treeview">
          <a href="#">
            <i class="fa fa-building-o"></i><span>Clientes</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            {% if entrar_como == 0 or entrar_como == None %}
            <li><a href="/perfil/cliente/"><i class="fa fa-circle-o"></i>Clientes</a></li>
            {% else %}
            <li><a href="/perfil/cliente/_{{entrar_como}}/"><i class="fa fa-circle-o"></i>Clientes</a></li>
            {% endif %}
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-user"></i> <span>Usuario</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            {% if entrar_como == 0 or entrar_como == None %}
            <li><a href="/perfil/user/"><i class="fa fa-circle-o"></i>Usuario</a></li>
            {% else %}
            <li><a href="/perfil/user/_{{entrar_como}}/"><i class="fa fa-circle-o"></i>Usuario</a></li>
            {% endif %}
            <!--li><a href="/perfil/grupo"><i class="fa fa-circle-o"></i>Grupos de Usuarios</a></li-->
          </ul>
        </li>
        <li>
            {% if entrar_como == 0 or entrar_como == None %}
          <a href="/perfil/cargar/">
          {% else %}
          <a href="/perfil/cargar/{{entrar_como}}">
          {% endif %}
            <i class="fa fa-dollar"></i> <span>Cargar Créditos</span>
          
          
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-book"></i> <span>Reportes</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
          {% if entrar_como == 0 or entrar_como == None %}
          <li><a href="/perfil/reporte/rep/"><i class="fa fa-circle-o"></i> Facturacion</a></li>
          {% else %}
          <li><a href="/perfil/reporte/rep/{{entrar_como}}/"><i class="fa fa-circle-o"></i> Facturacion</a></li>
          {% endif %}
          {% if user.is_staff %}
          {% if entrar_como == 0 or entrar_como == None %}
          <li><a href="/perfil/logs/"><i class="fa fa-circle-o"></i> Logs</a></li>
          {% else %}
          <li><a href="/perfil/logs/{{entrar_como}}"><i class="fa fa-circle-o"></i> Logs</a></li>
          {% endif %} 
          {% endif %}
          </ul>
        <li>
          <a href="#">
            <i class="fa fa-plug"></i> <span>Configuracion</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
          {% if entrar_como == 0 or entrar_como == None %}
          <li><a href="/perfil/templatemsg/"><i class="fa fa-circle-o"></i> Plantillas</a></li>
          <li><a href="/perfil/blacklist/"><i class="fa fa-circle-o"></i> Blacklist</a></li>
          <li><a href="/perfil/estadoenvio/"><i class="fa fa-circle-o"></i> Estados Envio</a></li>
          <li><a href="/perfil/failover/"><i class="fa fa-circle-o"></i> Envios Pendientes</a></li>

          {% else %}
          <li><a href="/perfil/templatemsg/{{entrar_como}}"><i class="fa fa-circle-o"></i> Plantillas</a></li>
          <li><a href="/perfil/blacklist/{{entrar_como}}"><i class="fa fa-circle-o"></i> Blacklist</a></li>
          <li><a href="/perfil/estadoenvio/{{entrar_como}}"><i class="fa fa-circle-o"></i> Estados Envio</a></li>
          <li><a href="/perfil/failover/{{entrar_como}}"><i class="fa fa-circle-o"></i> Envios Pendientes</a></li>

          {% endif %}

          </ul>

        </li>


      {% endif %}
      {% if user.is_staff or user.is_superuser %}
      {% if entrar_como and entrar_como != 0 %}
      <hr>
        <li class="treeview">
          <a href="/perfil/{{entrar_como}}">
            <i class="fa fa-dashboard"></i> <span>Panel de Control Usuario</span>
          </a>
        </li>     
      <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i><span>Contactos</span><i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/perfil/lista/{{ entrar_como }}"><i class="fa fa-circle-o"></i>Mis listas</a></li>
          </ul>
          <ul class="treeview-menu">
            <li><a href="/perfil/lista/create/{{ entrar_como }}"><i class="fa fa-circle-o"></i>Importar Lista</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-comments"></i> <span>SMS</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/perfil/sms/{{ entrar_como }}"><i class="fa fa-circle-o"></i>Enviar SMS</a></li>
            <li><a href="/perfil/sms/programados/{{ entrar_como }}"><i class="fa fa-circle-o"></i> SMS Programados</a></li>
            <li><a href="/perfil/sms/predefinido/{{ entrar_como }}"><i class="fa fa-circle-o"></i> Mis SMS Predefinidos</a></li>
            <li><a href="/perfil/sms/recibidos/{{ entrar_como }}"><i class="fa fa-circle-o"></i> Mis SMS Recibidos</a></li>
            <li><a href="/perfil/sms/historico/{{ entrar_como }}"><i class="fa fa-circle-o"></i> Historial de Envíos</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-envelope"></i> <span>Mailing</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/perfil/mail/{{ entrar_como }}"><i class="fa fa-circle-o"></i>Enviar Email</a></li>
            <li><a href="/perfil/subir_archivos/{{ entrar_como }}"><i class="fa fa-circle-o"></i>Subir Archivos</a></li>
            <li><a href="/perfil/mail/programados/{{ entrar_como }}"><i class="fa fa-circle-o"></i> Email Programados</a></li>
            <li><a href="/perfil/mail/predefinido/{{ entrar_como }}"><i class="fa fa-circle-o"></i> Mis Email Predefinidos</a></li>
            <li><a href="/perfil/mail/desinscrito/{{ entrar_como }}"><i class="fa fa-circle-o"></i> Desinscritos</a></li>
            <li><a href="/perfil/mail/historico/{{ entrar_como }}"><i class="fa fa-circle-o"></i> Historial de Envíos</a></li>
          </ul>
        </li>
        <li>
          <a href="/perfil/cliente/">
            <i class="fa fa-key"></i> <span>Salir Usuario</span> <i class="fa  pull-right"></i>
          </a>
        </li>

        <!--li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Layout Options</span>
            <span class="label label-primary pull-right">4</span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
            <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
            <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
            <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
          </ul>
        </li>
        <li>
          <a href="pages/widgets.html">
            <i class="fa fa-th"></i> <span>Widgets</span>
            <small class="label pull-right bg-green">new</small>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Charts</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
            <li><a href="pages/charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
            <li><a href="pages/charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
            <li><a href="pages/charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>UI Elements</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/UI/general.html"><i class="fa fa-circle-o"></i> General</a></li>
            <li><a href="pages/UI/icons.html"><i class="fa fa-circle-o"></i> Icons</a></li>
            <li><a href="pages/UI/buttons.html"><i class="fa fa-circle-o"></i> Buttons</a></li>
            <li><a href="pages/UI/sliders.html"><i class="fa fa-circle-o"></i> Sliders</a></li>
            <li><a href="pages/UI/timeline.html"><i class="fa fa-circle-o"></i> Timeline</a></li>
            <li><a href="pages/UI/modals.html"><i class="fa fa-circle-o"></i> Modals</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit"></i> <span>Forms</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/forms/general.html"><i class="fa fa-circle-o"></i> General Elements</a></li>
            <li><a href="pages/forms/advanced.html"><i class="fa fa-circle-o"></i> Advanced Elements</a></li>
            <li><a href="pages/forms/editors.html"><i class="fa fa-circle-o"></i> Editors</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-table"></i> <span>Tables</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="{% static 'pages/tables/simple.html"><i class="fa fa-circle-o"></i> Simple tables</a></li>
            <li><a href="{% static 'pages/tables/data.html"><i class="fa fa-circle-o"></i> Data tables</a></li>
          </ul>
        </li>
        <li>
          <a href="pages/calendar.html">
            <i class="fa fa-calendar"></i> <span>Calendar</span>
            <small class="label pull-right bg-red">3</small>
          </a>
        </li>
        <li>
          <a href="pages/mailbox/mailbox.html">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <small class="label pull-right bg-yellow">12</small>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-folder"></i> <span>Examples</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
            <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
            <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
            <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
            <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
            <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
            <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
            <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
            <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-share"></i> <span>Multilevel</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
            <li>
              <a href="#"><i class="fa fa-circle-o"></i> Level One <i class="fa fa-angle-left pull-right"></i></a>
              <ul class="treeview-menu">
                <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                <li>
                  <a href="#"><i class="fa fa-circle-o"></i> Level Two <i class="fa fa-angle-left pull-right"></i></a>
                  <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
          </ul>
        </li>
        <li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        <li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li-->
      </ul>
      {% endif %}
      {% else %}
      <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i> <span>Contactos</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/perfil/lista"><i class="fa fa-circle-o"></i> Mis listas</a></li>
          </ul>
          <ul class="treeview-menu">
            <li><a href="/perfil/lista/create"><i class="fa fa-circle-o"></i>Importar Lista</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-comments"></i> <span>SMS</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/perfil/sms/"><i class="fa fa-circle-o"></i>Enviar SMS</a></li>
            <li><a href="/perfil/sms/programados"><i class="fa fa-circle-o"></i> SMS Programados</a></li>
            <li><a href="/perfil/sms/predefinido"><i class="fa fa-circle-o"></i> Mis SMS Predefinidos</a></li>
            <li><a href="/perfil/sms/recibidos"><i class="fa fa-circle-o"></i> Mis SMS Recibidos</a></li>
            <li><a href="/perfil/sms/historico"><i class="fa fa-circle-o"></i> Historial de Envíos</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-envelope"></i> <span>Mailing</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/perfil/mail"><i class="fa fa-circle-o"></i>Enviar Email</a></li>
            <li><a href="/perfil/subir_archivos"><i class="fa fa-circle-o"></i>Subir Archivos</a></li>
            <li><a href="/perfil/mail/programados"><i class="fa fa-circle-o"></i> Email Programados</a></li>
            <li><a href="/perfil/mail/predefinido"><i class="fa fa-circle-o"></i> Mis Email Predefinidos</a></li>
            <li><a href="/perfil/mail/desinscrito"><i class="fa fa-circle-o"></i> Desinscritos</a></li>
            <li><a href="/perfil/mail/historico"><i class="fa fa-circle-o"></i> Historial de Envíos</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-book"></i> <span>Reportes</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/perfil/reporte/sms"><i class="fa fa-circle-o"></i> SMS</a></li>
            <li><a href="/perfil/reporte/mail"><i class="fa fa-circle-o"></i> Mail</a></li>
            <li><a href="/perfil/reporte/rep"><i class="fa fa-circle-o"></i> Facturacion</a></li>
          </ul>
        </li>

      {% endif %}
      
    <!-- /.sidebar -->
  </aside>
<script src="{% static 'plugins/jQuery/jQuery-2.2.0.min.js' %}"></script>

<script>
$("img.img-circle").hover( function (){
$("#editor").show();

}, function() {
$("#editor").hide();

  }

);
</script>
