{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}


  <div class="content-wrapper">
    <div class="box-body">

{% if entrar_como and entrar_como != 0 %}
   {% if id == None %}
   <form action="/perfil/estadoenvio/agregar/{{ entrar_como }}/" method="post" id="formenviar">
   {% else %}
   <form action="/perfil/estadoenvio/agregar/{{ id }}/{{ entrar_como }}/" method="post" id="formenviar">
   {% endif %}

   {% else %}

   {% if id == None %}
   <form action="/perfil/estadoenvio/agregar/" method="post" id="formenviar">
   {% else %}
   <form action="/perfil/estadoenvio/agregar/{{ id }}/" method="post" id="formenviar">
   {% endif %}

{% endif %}

  {% csrf_token %}



<div id="content">
    <div class="page-header">
        <div class="container-fluid">
        <div class="pull-right">
        
    <button id="submit_btn" name="submit_btn" class="btn btn-primary">
        <i class="fa fa-save"></i> 
    </button>
        
       {% if entrar_como and entrar_como != 0 %}
        <a href="/perfil/estadoenvio/{{ entrar_como }}/" data-toggle="tooltip" title="" class="btn btn-default"><i class="fa fa-reply"></i></a>
        {% else %}
        <a href="/perfil/estadoenvio/" data-toggle="tooltip" title="" class="btn btn-default"><i class="fa fa-reply"></i></a>
        {% endif %} 
      </div>
            <h1>Agregar Estado</h1>
            <ul class="breadcrumb">
                
                {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
                <li><a href="/perfil/estadoenvio/{{ entrar_como }}/">Estados</a></li>
                {% else %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/estadoenvio/">Estados</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Agregar Estado</h3>
            </div>
            <div class="panel-body">
                               
                        <div class="display-margin row">

                                <div class="col-sm-12">                                      
                                    <div class="form-group">
                                    <label class="control-label" for="{{ form.estado_raw.id_for_label }}">Estado Raw *</label>  
                                    <div>
                                        {{ form.estado_raw }}
                                    </div>
                                    </div>
                                    <center style="color: red">
                                    {{ form.estado_raw.errors }}
                                    </center>
                                    </div>

                                <div class="col-sm-12">                                      
                                    <div class="form-group">
                                    <label class="control-label" for="{{ form.detalle_estado.id_for_label }}">Detalle Estado *</label>  
                                    <div>
                                        {{ form.detalle_estado }}
                                    </div>
                                    </div>
                                    <center style="color: red">
                                    {{ form.detalle_estado.errors }}
                                    </center>
                                    </div>

                                <div class="col-sm-12">                                      
                                    <div class="form-group">
                                    <label class="control-label" for="{{ form.detalle_estado.id_for_label }}">Estado Vista*</label>  
                                    <div>
                                        {{ form.estado_vista }}
                                    </div>
                                    </div>
                                    <center style="color: red">
                                    {{ form.estado_vista.errors }}
                                    </center>
                                    </div>

                                    <div class="col-sm-12">
                                    <div class="form-group">
                                    <label class="control-label" for="{{ form.id_estadohum.id_for_label }}">Id Estadohum *</label>  
                                    <div>
                                        {{ form.id_estadohum }}
                                    </div>

                                    </div>
                                    <center style="color: red">
                                    {{ form.id_estadohum.errors }}
                                    </center>
                                    </div>
                                    
                                </div>                   
                    
                    
                    </div>                                
                    </div>
            </div>
        </div>
        </form>
    </div>
</div>


  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}


</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}
