{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  
  <div class="content-wrapper">
    <div class="box-body">

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
    <div class="pull-right">
    {% if entrar_como and entrar_como != 0 %}
    <a href="/perfil/estadoenvio/agregar/{{entrar_como}}" id="submit_btn" name="submit_btn" class="btn btn-primary" data-toggle="tooltip" title="Agregar Email">
        <i class="fa fa-plus"></i>
    </a>
    {% else %}
    <a href="/perfil/estadoenvio/agregar/" id="submit_btn" name="submit_btn" class="btn btn-primary" data-toggle="tooltip" title="Agregar Email">
        <i class="fa fa-plus"></i>
    </a>

    {% endif %}
      </div>


            <h1>Estados</h1>
            <ul class="breadcrumb">
                {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
                <li><a href="/perfil/estadoenvio/{{ entrar_como }}/">Lista negra</a></li>
                {% else %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/estadoenvio">Lista negra</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="panel panel-default">

    {% if resp == "1" %}
   <div class="alert alert-success"><i class="fa fa-check-circle"></i> Se ha editado el estado correctamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if resp == "2" %}
   <div class="alert alert-success"><i class="fa fa-check-circle"></i> Se ha eliminado el estado correctamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if resp == "3" %}
   <div class="alert alert-success"><i class="fa fa-check-circle"></i> Se ha guardado el estado correctamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}


            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Estados</h3>
            </div>
            <div class="panel-body">
                <div class="well">
                    <div>
                        <div class="row" >
                         <form action="#" method="GET" id="filter_rep">
                            <div class="form-inline">
                                <label class="control-label" for="input-name">Estado</label>
                                {% if  filter_nombre %}
                                <input type="text" name="filter_nombre" value="{{ filter_nombre }}" placeholder="Estado" id="input-name" class="input-text" style="width:50%" />
                                {% else %}
                                  <input type="text" name="filter_nombre" placeholder="Estado" id="input-name" class="input-text" style="width:50%">
                                {% endif %}
                                <button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-max-with">
                            <thead>
                            <tr>
                                <td class="text-left" style="width: 20%">Estado Raw</td>
                                <td class="text-left" style="width: 20%">Indice estado</td>
                                <td class="text-left" style="width: 20%">Detalle Estado</td>
                                <td class="text-left" style="width: 20%">Vista Estado</td>
                                <td class="text-left" style="width: 20%">Acciones</td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if aux %}
                            {% for arch in aux %}
                            <tr>
                                <td class="text-left">{{ arch.estado_raw }}</td>
                                <td class="text-left">{{ arch.id_estadohum}}</td>
                                <td class="text-left">{{ arch.detalle_estado }}</td>
                                <td class="text-left">{{ arch.estado_vista }}</td>
                                <td class="text-left">
                                {% if entrar_como != 0 and entrar_como %}
                                    <a href="/perfil/estadoenvio/edit/{{arch.id_estadoenvio}}/{{entrar_como}}" data-toggle="tooltip" title="Editar EStado" class="btn btn-warning"><i class="fa fa-eye"></i></a>
                                    <a href="/perfil/estadoenvio/delete/{{arch.id_estadoenvio}}/{{entrar_como}}" onclick="return confirm('¿Esta seguro de eliminar el estado?')" data-toggle="tooltip" title="Eliminar Estado" class="btn btn-danger"><i class="fa fa-trash"></i></a>

                                {% else %}
                                    <a href="/perfil/estadoenvio/edit/{{arch.id_estadoenvio}}" data-toggle="tooltip" title="Editar Estado" class="btn btn-warning"><i class="fa fa-pencil"></i></a>
                                    <a href="/perfil/estadoenvio/delete/{{arch.id_estadoenvio}}" data-toggle="tooltip" title="Eliminar Estado" onclick="return confirm('¿Esta seguro de eliminar el estado?')" class="btn btn-danger"><i class="fa fa-trash"></i></a>

                                {% endif %}
                                </td>
                            </tr>
                           

                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="8">  No hay resultados </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>


        <div class="row">
          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_nombre %}
                          <a href="?filter_nombre={{ filter_nombre }}"></a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>
                        {% if contacts.has_next %}
                          {% if filter_username or filter_nombre or filter_fecha %}
                          <a href="?filter_nombre={{ filter_nombre }}"></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>
</div>
</div>

        <div class="text-right">
        Total: {{ count }} Estados
        </div>
                </div>
            </div>
</div>
</div>

  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

<!--
     <div class="modal fade" tabindex="-1" role="dialog" id='modal_edit_driver'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Log</h4>
                </div>

                <div class="modal-body">
    		
                </div>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div><!-- /.modal -->




</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}

