{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  
  <div class="content-wrapper">
    <div class="box-body">

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" id="save_btn" form="form-download" data-toggle="modal" data-target="#myModal"  title="Importar" class="btn btn-primary"><i class="fa fa-save"></i></button>
            </div>
            <h1>Importar Lista</h1>
            <ul class="breadcrumb">
            {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
                <li><a href="/perfil/lista/{{ entrar_como }}/">Listas</a></li>
                {% else %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/lista">Listas</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
            {% if entrar_como and entrar_como != 0 %}
                <form action="/perfil/lista/importar/{{ entrar_como }}/" method="post" enctype="multipart/form-data" id="form-download" class="form-horizontal">
            {% else %}
                <form action="/perfil/lista/importar/" method="post" enctype="multipart/form-data" id="form-download" class="form-horizontal">
            {% endif %}
                {% csrf_token %}
                   
                        <div class="col-sm-10">
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.nombre_lista.id_for_label }}">Nombre Lista *</label>  
                            <div class="col-md-8">
                                {{ form.nombre_lista }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.nombre_lista.errors }}
                        </center>
                        </div>
                        <div class="col-sm-10">
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.enc.id_for_label }}">Archivo con encabezados *</label>  
                            <div class="col-md-8">
                                {{ form.enc }}
                            </div>
                        </div>
                        </div>

                        <div class="col-sm-10">
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.enc.id_for_label }}">No eliminar duplicados </label>
                            <div class="col-md-8">
                                {{ form.dupl }}
                            </div>
                        </div>
                        </div>

                        <div class="col-sm-10">
                        <div class ="form-group">
                        <label class="col-md-4 control-label" for="input-filename">Seleccionar Archivo</label>
                                <div class="col-md-8">
                                <input name="archivo" id="i_archivo" placeholder="Seleccionar lista" readonly="true" class="form-control" />

                                <span class="input-group-btn">
                                        <div class="fileUpload btn btn-primary pull-left" style="display:none">
                                            {{ form.archivo }}

                                        </div>
                                    </span>
                                 <br>
                                 <button type="button" class="pull-right btn btn-primary" id="btn-upload">Seleccione Archivo</button>
                               </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

    </div>
  </div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}


<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
      <center>  
      <p>Espere unos momentos su archivo se esta cargando</p>
      <i class="fa fa-spin fa-4x fa-fw"><img src="/static/img/icon.57.png"></i>
<span class="sr-only"></span>
      </center>
      </div>
    </div>

  </div>
</div>



<script type="text/javascript">
    $('#id_archivo').hide();
    
    $("#btn-upload").click(function(e) {
    e.preventDefault();
    $('#id_archivo').click();
    })
    
    document.getElementById("id_archivo").onchange = function () {
    document.getElementById("i_archivo").value = this.value;
    };

    function revizar () {
    if ($("#id_nombre_lista").val() == "")
       return false;
    if ($("#i_archivo").val() == "")
       return false;
   return true;

        if( $('#ck_encabezado').attr('checked') ) {
            $('#ck_encabezado').val('true');
        }else{
            $('#ck_encabezado').val('true');
        }
    }
</script>

</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}

