{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  
  <div class="content-wrapper">
    <div class="box-body">
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">



       {% if entrar_como and entrar_como != 0 %}
       <a href="/perfil/contacto/crear/{{lista.id_lista}}/{{entrar_como}}" class="btn btn-primary" data-toggle="tooltip" title="Agregar contacto"><i class="fa fa-plus" ></i></a>
       <a href="/perfil/lista/{{entrar_como}}" class="btn btn-default" data-toggle="tooltip" title="Mis Listas"><i class="fa fa-mail-reply"></i></a>       
       {% else %}
       <a href="/perfil/contacto/crear/{{lista.id_lista}}" class="btn btn-primary" data-toggle="tooltip" title="Agregar Contacto"><i class="fa fa-plus" ></i></a>
       <a href="/perfil/lista" class="btn btn-default" data-toggle="tooltip" title="Mis Listas"><i class="fa fa-mail-reply" ></i></a>
       {% endif %}
      
      </div>
      <h1>Detalle de Lista</h1>
      <ul class="breadcrumb">
       {% if entrar_como and entrar_como != 0 %}
         <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
         <li><a href="/perfil/lista/{{ entrar_como }}/">Listas</a></li>
       {% else %}
          <li><a href="/perfil">Panel de Control</a></li>
          <li><a href="/perfil/lista">Listas</a></li>
       {% endif %}

        
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <!--Panel detalle de lista-->
    {% if resp == "1" %}
    <div  display="none" class="alert alert-success"><i class="fa fa-check-circle"></i> Contacto guardado exitosamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    {% if resp == "2" %}
    <div  display="none" class="alert alert-success"><i class="fa fa-check-circle"></i> Contacto eliminado exitosamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i>Lista seleccionada</h3>

      </div>
      <div class="panel-body">
      <table id="info_lista" class="table table-bordered table-hover">
        <tr class="blackground">
          <td>Nombre</td>
          <td>Num. Registros</td>
          <td>Fecha creacion</td>
          <td>Fecha actualizacion</td><!--<td></td>-->
        </tr>
        <tr id="tr_lista_info">
            <td id="td_nombre">{{ lista.nombre }}</td>
            <td>{{ cont }}</td>
            <td>{{ lista.fecha_creacion|date:"d F Y H:i" }}</td>
            <td>{{ lista.ultima_actualizacion|date:"d F Y H:i" }}</td>
          
        </tr>
      </table>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"> 
        <h3 class="panel-title"><i class="fa fa-list"></i> Contactos </h3>        
      </div>
      <div class="panel-body">
        <form action="" method="post" enctype="multipart/form-data" id="form-category">
          <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table_edit">
              <thead>
                <tr>
                <td> Id Contacto</td>                  
                <td> Nombre</td>                  
                <td> Email</td>                  
                <td> Telefono</td>                  
                <td> Customs</td>                  
                <td style="width:10%"> Aciones</td>                  
                </tr>
              </thead>
              <tbody>
                {% if contactos %}
                {% for c in contactos %}
                  <tr>
                  <td>{{ c.id_contacto }}</td>
                  <td>{{ c.nombre }}</td>
                  {% if c.email %}
                  <td>{{ c.email }}</td>
                  {% else %}
                  <td>No especificado</td>
                  {% endif %}
                  
                  {% if c.celular %}
                  <td>{{ c.celular }}</td>
                  {% else %}
                  <td>No especificado</td>
                  {% endif %}
                  
                  {% if c.custom %}
                  <td>{{ c.custom }}
                  </td>
                  {% else %}
                  <td>No especificado</td>
                  {% endif %}
                  <td>
                   {% if entrar_como and entrar_como != 0 %}
                   <a href="/perfil/contacto/edit/{{c.id_contacto }}/{{ entrar_como }}/" data-toggle="tooltip" title="Editar Contacto" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                   <a href="/perfil/contacto/delete/{{c.id_contacto }}/{{ entrar_como }}/" onclick="return confirm('¿Esta seguro de querer eliminar el contacto?')" data-toggle="tooltip" title="Eliminar Contacto" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                   {% else %}
                   <a href="/perfil/contacto/edit/{{c.id_contacto }}/" data-toggle="tooltip" title="Editar Contacto" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                   <a href="/perfil/contacto/delete/{{c.id_contacto }}/" onclick="return confirm('¿Esta seguro de querer eliminar el contacto?')" data-toggle="tooltip" title="Eliminar Contacto" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                   
                   {% endif %}
                  </td>

                  </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td class="text-center" colspan="4"> La lista no contiene contactos</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </form>
                <div class="row">
          <div class="col-sm-6 text-left">


          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_name  %}
                          <a href="?filter_name={{ filter_user }}&page={{ contacts.previous_page_number }}"><< </a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>

                      {% if contacts.has_next %}
                          {% if filter_name %}
                          <a href="?filter_name={{ filter_name }}&page={{ contacts.next_page_number }}">>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>


          </div>
          <div class="col-lx-6 text-right">Total: {{ cont }} Contactos</div>
        </div>


      </div>
    </div>
  </div>

<!-- Modal para crear contactos-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background: #4eaefa; color: white; font-weight: bold;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel"><?php echo $modal_title; ?></h3>
      </div>
      <form action="<?php echo $maddaction;?>" id="FormularioModal" method="POST">
        <div class="modal-body" id="contenedor">
           <?php for ($i = 0; $i < count($form['campo']); $i++) { 
            if($form['campo'][$i]=='email'){
                ?> <label class='col-sm-2 control-label'><?php echo $form['glosa'][$i];?></label ><div class='col-sm-10'><input id="mtxts[]" placeholder='e.j: correo@ejemplo.cl' type='text' class='form-control' required value='' name='<?php echo $form['campo'][$i];?>' /><div id="txtval"></div><br></div><?php
              }elseif($form['campo'][$i]=='celular'){
                ?> <label class='col-sm-2 control-label'><?php echo $form['glosa'][$i];?></label ><div class='col-sm-10'><input id="mtxts[]" placeholder='e.j: 56987654321' type='text' class='form-control'  value='' name='<?php echo $form['campo'][$i];?>' /><div id=""></div><br></div><?php
              }else{
                ?>
                <label class='col-sm-2 control-label'><?php echo $form['glosa'][$i];?></label ><div class='col-sm-10'><input id="mtxts[]" type='text' class='form-control' required value='' name='<?php echo $form['campo'][$i];?>' /><br></div>
                <? }?>
             
          <? } ?>
        </div>
        <div class="modal-footer">
          <button type="button" id="mcan" class="btn btn-default" data-dismiss="modal"><?php echo $btn_cancel;?></button>
          <input type="submit" id="madd" class="btn btn-primary" value="<?php echo $btn_guardar;?>">
        </div>
      </form>
    </div>
  </div>
</div>



</div>

</div>

    </div>
  </div>

</div>  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}

