{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  
  <div class="content-wrapper">
    <div class="box-body">

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" onclick="cambiar()" id="save_btn" form="form-download" data-toggle="tooltip" title="Importar" class="btn btn-primary"><i class="fa fa-save"></i></button>
            </div>
            <h1>Crear Contacto de Lista  {{id}}</h1>
            <ul class="breadcrumb">
            {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
                <li><a href="/perfil/lista/{{ entrar_como }}/">Listas</a></li>
                {% else %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/lista">Listas</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                {% csrf_token %}
                   
                        <div class="col-sm-10">
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.nombre.id_for_label }}">Nombre *</label>  
                            <div class="col-md-4">
                                {{ form.nombre }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.nombre.errors }}
                        </center>

                        </div>
                        
                        
                        <div class="col-sm-10">
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.celular.id_for_label }}">Celular *</label>  
                            <div class="col-md-4">
                                {{ form.celular }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.celular.errors }}
                        </center>
                        </div>
                        
                        
                        
                        <div class="col-sm-10">
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.email.id_for_label }}">Email *</label>  
                            <div class="col-md-4">
                                {{ form.email }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.email.errors }}
                        </center>
                        </div>
                        
                        
                        
                        <div class="col-sm-10">
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.sexo.id_for_label }}">Sexo *</label>  
                            <div class="col-md-4">
                                {{ form.sexo }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.sexo.errors }}
                        </center>
                        </div>
                        
                        
                        
                        <div class="col-sm-10">
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.fecha_nac.id_for_label }}">Fecha Nac *</label>  
                            <div class="col-md-4">
                                {{ form.fecha_nac }}
                            </div>
                        </div>
                        <center style="color: red">
                        {{ form.fecha_nac.errors }}
                        </center>
                        </div>


                        <div class="col-sm-10">
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="{{ form.custom.id_for_label }}">Customs *</label>  
                            <div class="col-md-4">
                            <div id="cstms"></div>
                                {{ form.custom }}
                            </div>
                        </div>
                        </div>

                <!--/form-->
            </div>
        </div>
    </div>

</div>

    </div>
  </div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

<script>

var obj = $("#id_custom").text();
//var obj = '{{aux}}';
console.log(obj);
var result = $.parseJSON(obj);
var html='<table>';
$.each(result, function(k, v) {
    html +="<tr><td><input disabled id='ke' type='text' class='ctm' value='"+k+"'></td> ";
    html +="<td><input type='text' id='va' class='ctm' placeholder='"+v+"'></td></tr>";
    //display the key and value pair
});
html +='</table>';
$("#cstms").html(html);
var len = $(".ctm").length;
$(".ctm").keyup(function() {
    var htmlcust = '{';
    $(".ctm").each(function(index) {

        if ($(this).attr('id') == 'ke')
            htmlcust += '"'+$(this).val()+'" : ';  
        if ($(this).attr('id') == 'va'){
            htmlcust += '"'+$(this).val()+'"';  
            if (index == len - 1)
               htmlcust += '}';  
            else
                htmlcust += ', ';
            }
    });
    $("#id_custom").html(htmlcust);
    //console.log(htmlcust);
    });

function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
    }
  }
  return cookieValue;
}

        function cambiar() {

            var csrftoken = getCookie('csrftoken');
            var id_contacto = {{id}};
            var nombre = $("#id_nombre").val();
            if (nombre =="")
                nombre = "anonimo";
            var celular = $("#id_celular").val();
            var email = $("#id_email").val();
            var sexo = $("#id_sexo").val();
            var fecha_nac = $("#id_fecha_nac").val();
            if(fecha_nac == '')
                fecha_nac = "0001-01-01";
            var custom = $("#id_custom").html();
            var entrar_como = '{{entrar_como}}';
            if( (entrar_como == '') || (entrar_como == '0')){
                var ruta = '/perfil/contacto/crear/{{id}}/';
                var ruta2 = '/perfil/lista/edit/{{id_lista}}/_1/';
              }
            else{
		var ruta = '/perfil/contacto/crear/{{id}}/{{entrar_como}}/';
		var ruta2 = '/perfil/lista/edit/{{id_lista}}/{{entrar_como}}/_1/';
		}

                //alert(custom);
                $.ajax(
                {
                
                    url: ruta,
                    type: "POST",
                    data: { csrfmiddlewaretoken: csrftoken, 
                            id_contacto: id_contacto,
                            nombre : nombre,
                            celular : celular,
                            email : email,
                            sexo : sexo,
                            fecha_nac : fecha_nac,
                            custom : custom
                          },               
                    success: function (data) {                                  
                        window.location.href = ruta2;
                    }   
                
                });
                

        }

</script>
</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}

