{% load staticfiles %}

{% if user.is_authenticated %}

 <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}


  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}
  
  <div class="content-wrapper">
    <div class="box-body">

{% block content %}


<div id="content">
  <div class="page-header">
    <div class="container-fluid">
    <div class="pull-right">
      {% if entrar_como and entrar_como != 0 %}
      <a href="/perfil/lista/{{ entrar_como }}" class="btn btn-danger">Cancelar</a>
      {% else %}
      <a href="/perfil/lista/" class="btn btn-danger">Cancelar</a>    
      {% endif %}
      <input type="submit" name="btn_confirmar" value="Confirmar" class="btn btn-primary" form='form-download2'
 data-target="#myModal2" disabled="disabled">
      <!--input type="submit" name="btn_confirmar" value="Confirmar" class="btn btn-primary" form='form-download2'  data-toggle="modal"
 data-target="#myModal2"-->
    </div>
      <h1>Preview</h1>
      <ul class="breadcrumb">
        {% if entrar_como and entrar_como != 0 %}
        <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
        <li><a href="/perfil/lista/{{ entrar_como }}/">Lista</a></li>
        {% else %}
        <li><a href="/perfil">Panel de Control</a></li>
        <li><a href="/perfil/lista">Lista</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

  <div class="container-fluid">

    <div class="panel panel-default">
      
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> Datos en Archivo</h3>
      </div>

      <div class="panel-body">
   {% if entrar_como and entrar_como != 0 %}
   <form class="form-horizontal" id="form-download2" enctype='multipart/form-data' method="post" action="/perfil/lista/guardar/{{ entrar_como }}/" onsubmit="return verificar_blank()">
   {% else %}
   <form class="form-horizontal" id="form-download2" enctype='multipart/form-data' method="post" action="/perfil/lista/guardar/" onsubmit="return verificar_blank()">
   {% endif %}
   {% csrf_token %}
    <div  class="form-group">
    <div  style="display:none" class="col-md-4">
    {{ form2.sheet }}
    </div>
    </div>
    <div style="display:none"  class="form-group">
    <div class="col-md-4">
    {{ form2.header }}
    </div>
    </div>
    <div  style="display:none"  class="form-group">
    <div class="col-md-4">
    {{ form2.header2 }}
    </div>
    </div>
    <div  style="display:none" class="form-group">
    <div class="col-md-4">
    {{ form2.nombre_lista }}
    </div>
    </div>

  </form>
  
            <div class="table-responsive table-max-with">
            <table id="table_preview" class="table table-bordered table-hover ">
              <thead>

                <th style="background: #E6E6E6" >
                  <div>

                  <table width="100%">
                  <tr>
                  {% for i in count %}
                  <td>
                    <select name="" id="select_{{i}}" class="form-control input-lg" >
                      <option value='custom'>Texto</option>
                      <option value="nombre">Nombre</option>
                      <option value="celular">Celular</option>
                      <option value="sexo">Sexo</option>
                      <option value="fecha_nac">Fecha Nacimiento</option>
                      <option value="email">Email</option>
                      <!--option value="custom">Texto</option-->
                    </select>                
                    
                  </td>
                  {% endfor %}
                  </tr>
                  </table>
              
                  </div>  
                
                  <br>

                  <!--nombre, celular, sexo, fecha_nac, email, teto -->


                  <table width="100%">
                  <tr>
                  {% for i in header %}
                  <td>
                  {% if enc == None %}
                    {% if "@" in i.1 %}
                    <input  type="text" class="text-left form-control" id="pred_{{ i.0 }}" value="Email"> 
                    {% elif i.1|upper == i.1|lower %}
                    <input  type="text" class="text-left form-control" id="pred_{{ i.0 }}" value="Celular"> 
                    {% else %}
                    <input  type="text" class="text-left form-control" id="pred_{{ i.0 }}" value=""> 
                    {% endif %}

                  {% else %}
                    <input  type="text" class="text-left form-control" id="pred_{{ i.0 }}" value="{{i.1 }}"> 
                    

                  {% endif %}

                  </td>
                  {% endfor %}
                  </tr>
                  </table>


                </th>
                
              </thead>
              <th style="background: #ECF3E6" >
                  <table width="100%" border="1" class="table table-bordered table-hover" style="background: #ecf3e6" >
                    {% for row in sheet %}
                        <tr>
                        {% for cell in row %}
                            {% if forloop.first or forloop.parentloop.first %} 
                              <th width="{{largo}}%;" style="padding-left: 20px;"> 
                              {% else %} 
                              <td style="padding-left: 20px;">
                              {% endif %}
                                {{ cell }}
                            
                            {% if forloop.first or forloop.parentloop.first %} 
                              </th> 
                              {% else %} 
                              </td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                  </table>
                  </th>
            </table>


            </div>

      </div> 
    </div>     
  </div>  
</div>






</div>
</div>
{% endblock content %}
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}


<div id="myModal2" class="modal fade" role="dialog">
<!--  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-body">
      <center>
      <p>Espere unos momentos su lista se esta guardando</p>
<i class="fa fa-spin fa-4x fa-fw"><img src="/static/img/icon.57.png"></i>
<span class="sr-only"></span>
      </center>
      </div>
    </div>

  </div> -->
</div>





</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}



<script type="text/javascript">
$(window).load(function(){
//alert('cargando')
$('.btn-primary').prop('disabled', false);
});


alert('Cabeceras cargadas');
// largo es 3

he = "";

for (i=0; i < {{largo}}; i++){
	console.log( $("#select_"+i.toString()).val() );
        console.log( $("#pred_"+i.toString()).val() );
 if ( ( $("#pred_"+i.toString()).val() != "" ) || (!$("#pred_"+i.toString()).val()) )
 $("#select_"+i.toString()).val( $("#pred_"+i.toString()).val().toLowerCase() );
 he += $("#select_"+i.toString()).val()+','
 
  } 	
he = he.slice(0,-1);
$("#id_header").val(he);
$("#id_header2").val(he);

$("select").change(function (){

  var index =  $(this).attr("id").split("_")[1];
  $("#pred_"+index.toString()).val( $("#select_"+index.toString()).val() );
  var hedval = $("#id_header").val().split(',');
  var hedval2 = $("#id_header2").val().split(',');
  hedval[index] = $("#select_"+index.toString()).val();
  hedval2[index] =  $("#select_"+index.toString()).val();
  $("#id_header").val( hedval.join() );
  $("#id_header2").val( hedval2.join() );

 var cont = 1;
  var aux = '';
  $("select").each(function (){
  aux += $( this ).val()+',';
  });
  var hedval2 = aux.slice(0,-1).split(',');
  
  for (var j=0; j < hedval2.length; j++){
   if (hedval2[j] == "custom")  {
       hedval2[j] = "custom"+cont.toString();
       cont++;
   }
   while (hedval2[j] == "custom"+cont.toString()){
       hedval2[j] = "custom"+cont.toString();
       cont ++;
       }
  }
  
  

  $("#id_header2").val( hedval2.join(',') );
//  alert(hedval2);
});

$("input").change(function (){

  var index =  $(this).attr("id").split("_")[1];
//  $("#pred_"+index.toString()).val( $("#select_"+index.toString()).val() );
  var hedval = $("#id_header").val().split(',');
  hedval[index] = $("#pred_"+index.toString()).val();
  $("#id_header").val( hedval.join() );

});

function hasDuplicates(array) {
    return (new Set(array)).size !== array.length;
}

function verificar_blank(){
 var hedval2 = $("#id_header2").val().split(',');
 var hedval = $("#id_header").val().split(',');
  
   if((hedval.indexOf('celular') === -1) && (hedval.indexOf('email') === -1) ){
   alert("Error, no existe una columna celular o email asignada");
   return false;
   }


  if ( (hasDuplicates(hedval2)) || (hasDuplicates(hedval)) ){
  alert("Error, hay elementos duplicados, asegurese de no tener la misma palabra en 2 casillas");
  return false;

  }
  for (i=0; i < {{largo}}; i++){
  if(( $("#pred_"+i.toString()).val() == "" ) || ( $("#select_"+i.toString()).val() == "" )){
    alert("Error, hay una columna sin asignar");
    return false;
  }
  }

  if(hedval2.indexOf('null') !== -1){
   alert("Error, hay una columna sin asignar (header)");
   return false;

   }
   if(hedval.indexOf('null') !== -1){
   alert("Error, hay una columna sin asignar (header)");
   return false;
   }





  var entrar_como = '{{entrar_como}}';
  if(entrar_como != '')
    var ruta = "/perfil/lista/guardar/{{entrar_como}}/";
  else
    var ruta = "/perfil/lista/guardar/";





$('.btn-primary').prop('disabled', true);
$('#myModal2').modal('show');
$('#myModal2').html('<div class="modal-dialog"><div class="modal-content"><div class="modal-body"><center><p>Espere un momento , su lista se está cargando a la base de datos</p><i class="fa fa-spin fa-4x fa-fw"><img src="/static/img/icon.57.png"></i><span class="sr-only"></span></center></div></div></div>');



}

 
  </script>
 


 
