{% load staticfiles %}

{% if user.is_authenticated %}
  <!DOCTYPE html>
  <html>
  {% include "admin/head.html" %}
  <body class="hold-transition skin-black sidebar-mini">
  <div class="wrapper">
  {%include "admin/header.html" %}

  {% include "admin/sidebar.html" %}

  
  <div class="content-wrapper">
    <div class="box-body">

<div id="content">
    <div class="page-header">
        <div class="container-fluid">
        <div class="pull-right">
        {% if entrar_como and entrar_como != 0 %}
        <a href="/perfil/lista/create/{{ entrar_como}}/" data-toggle="tooltip" title="Agregar Lista" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <a href="/perfil/lista/excel/{{ entrar_como}}/" data-toggle="tooltip" title="Exportar Listas a Excel" class="btn btn-success"><i class="fa fa-file-excel-o"></i></a>
        {% else %}
        <a href="/perfil/lista/create" data-toggle="tooltip" title="Agregar Lista" class="btn btn-primary"><i class="fa fa-plus"></i></a>
        <a href="/perfil/lista/excel/" data-toggle="tooltip" title="Exportar Listas a Excel" class="btn btn-success"><i class="fa fa-file-excel-o"></i></a>
        {% endif %}
        <!--<a href="<?php //echo $full_pdf; ?>" id="pdf" data-toggle="tooltip" title="<?php //echo $button_export_pdf_all; ?>" class="btn btn-warning"><i class="fa fa-file-pdf-o"></i></a>-->
      </div>
            <h1>Mis Listas</h1>
            <ul class="breadcrumb">
                {% if entrar_como and entrar_como != 0 %}
                <li><a href="/perfil/{{ entrar_como }}/">Panel de Control</a></li>
                <li><a href="/perfil/lista/{{ entrar_como }}/">Listas</a></li>
                {% else %}
                <li><a href="/perfil">Panel de Control</a></li>
                <li><a href="/perfil/lista">Listas</a></li>
                {% endif %}
            </ul>
        </div>
    </div>

<div class="container-fluid">
{% if flaglimpio and flaglimpio != ""  %}
<div  class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{flaglimpio|safe}}
      <button type="button" class="close" data-dismiss="alert"></button>
</div>

{% endif %}

{% if responses == "1" %}
<div  class="alert alert-success"><i class="fa fa-check-circle"></i> Datos guardados exitosamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
{% if responses == "2" %}
<div  class="alert alert-success"><i class="fa fa-check-circle"></i> Lista eliminada exitosamente
      <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
{% if responses == "3" %}
<div  class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> La Lista a importar contenia 1 elemento, importe más de un contacto
      <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}
{% if responses == "4" %}
<div  class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> El numero de parámetros del encabezado no coincide con los parámetros
      <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
{% endif %}



        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Listas de Contacto </h3>
            </div>

            <div class="panel-body">
                <div class="well">
                    <div>
                        <div class="row" >
                         <form action="#" method="GET" id="filter_rep">
                            <div class="form-inline">
                                <label class="control-label" for="input-name">Nombre</label>
                                {% if filer_name %}
                                <input type="text" name="filter_name" value="{{ filter_name }}" placeholder="Nombre" id="input-name" class="input-text" style="width:50%" />
                                {% else %}
                                <input type="text" name="filter_name"  placeholder="Nombre" id="input-name" class="input-text" style="width:50%" />
                                {% endif %}
                                <button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-max-with">
                            <thead>
                            <tr>
                                <td class="text-left"> Nombre </td>
                                <td class="text-left"> Fecha Creacion</a>
                                    
                                <td class="text-left">Contactos </td>
                                <td class="text-left">Acciones </td>
                            </tr>
                            </thead>
                            <tbody>
                            {% if lista_contactos %}
                            {% for lista in lista_contactos %}
                            <tr>
                                <td class="text-left">{{ lista.nombre }}</td>

                                <td class="text-left"> {{ lista.fecha_creacion|date:"d F Y H:i" }}</td>
                                <td class="text-left"> {{ lista.borrado }}</td>
                                    
                                <td class="text-left">
                                    {% if entrar_como and entrar_como != 0 %}
                                    <a href="/perfil/lista/edit/{{lista.id_lista}}/{{ entrar_como }}/" data-toggle="tooltip" title="Ver lista" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                    <a onclick="return confirm('¿Esta seguro que quiere eliminar esta lista?')" href="/perfil/lista/delete/{{ lista.id_lista}}/{{ entrar_como }}/" data-toggle="tooltip" title="Borrar" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    <a href="/perfil/lista/exportar/{{lista.id_lista}}/{{ entrar_como }}/" data-toggle="tooltip" title="Descargar lista" class="btn btn-primary"><i class="fa fa-download"></i></a>
                                    {% else %}
                                    <a href="/perfil/lista/edit/{{lista.id_lista}}/" data-toggle="tooltip" title="Ver lista" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                    <a onclick="return confirm('¿Esta seguro que quiere eliminar esta lista?')" href="/perfil/lista/delete/{{ lista.id_lista}}" data-toggle="tooltip" title="Borrar" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                                    <a href="/perfil/lista/exportar/{{lista.id_lista}}/" data-toggle="tooltip" title=Descargar lista" class="btn btn-primary"><i class="fa fa-download"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td class="text-center" colspan="8">  No hay resultados </td>
                            </tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
        <div class="row">
          <div>


          <div class="col-sm-6 text-left">
              <div class="pagination">
                  <span class="step-links">
                      {% if contacts.has_previous %}
                          {% if filter_name  %}
                          <a href="?filter_name={{ filter_user }}&page={{ contacts.previous_page_number }}"><< </a>
                          {% else %}
                          <a href="?page={{ contacts.previous_page_number }}"><< </a>
                          {% endif %}

                      {% endif %}

                      <span class="current">
                          Pag. {{ contacts.number }} - {{ contacts.paginator.num_pages }}
                      </span>

                      {% if contacts.has_next %}
                          {% if filter_name %}
                          <a href="?filter_name={{ filter_name }}&page={{ contacts.next_page_number }}">>></a>
                          {% else %}
                          <a href="?page={{ contacts.next_page_number }}">>></a>
                          {% endif %}
                      {% endif %}
                  </span>
              </div>


          </div>
          <div class="col-sm-6 text-right">Total: {{ count }} Listas</div>
        </div>
                </div>
            </div>
        </div>
    </div>

</div>

    </div>
  </div>
  
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.0
    </div>
  </footer>

{% include 'admin/asidebar.html' %}
{% include 'admin/js.html' %}

</body>
</html>
{% else %}
  <p>Ud no tiene los permisos para acceder</p>
  {% endif %}

